components/nodered/flows.json
[
    {
        "id": "592c2bf61e20fa21",
        "type": "tab",
        "label": "NMEA Server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f2f940563f6cfb82",
        "type": "tab",
        "label": "Starlink gRPC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0ddb07c65cbb68bc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "http://192.168.1.200",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8c8e26a0.4a01e8",
        "type": "grpc-server",
        "port": "50081",
        "name": "LocalHelloWorldRPC",
        "server": "",
        "protoFile": "syntax = \"proto3\";\n\npackage example;\n\nservice Hello {\n rpc sayHello (HelloRequest) returns (HelloResponse) {}\n}\n\nmessage HelloRequest {\n string name = 1;\n}\n\nmessage HelloResponse {\n string message = 1;\n}\n",
        "ca": "",
        "chain": "",
        "key": "",
        "mutualTls": false,
        "localServer": true
    },
    {
        "id": "61ff2500.2e1d6c",
        "type": "grpc-server",
        "port": "50081",
        "name": "RemoteHelloWorldRPC",
        "server": "",
        "protoFile": "syntax = \"proto3\";\n\npackage example;\n\nservice SpaceX.API.Device.Device {\n rpc Handle ( .SpaceX.API.Device.Request ) returns ( .SpaceX.API.Device.Response );\n}\n\nmessage Request {\nGetStatusRequest get_status = 1004;\n}\n\nmessage GetStatusRequest {\n}\n\nmessage DishGetStatusResponse {\nbool swupdate_reboot_ready = 1030;\n}\n\nmessage Response {\nDishGetStatusResponse dish_get_status = 2004;\n}\n",
        "ca": "",
        "chain": "",
        "key": "",
        "mutualTls": false,
        "ssl": false,
        "selfsigned": false,
        "localServer": false
    },
    {
        "id": "1357fe2675118b42",
        "type": "grpc-server",
        "port": "9200",
        "name": "Dishy",
        "server": "192.168.100.1",
        "protoFile": "syntax = \"proto3\";\n\npackage SpaceX.API.Device;\n\n\nmessage PublicKey {\n\toptional string key = 1 [json_name=\"key\"];\n\trepeated .SpaceX.API.Device.Capability capabilities = 2 [json_name=\"capabilities\"];\n\toptional .SpaceX.API.Device.User user = 3 [json_name=\"user\"];\n}\n\nenum Capability {\n\tREAD = 0;\n\tREAD_INTERNAL = 13;\n\tREAD_PRIVATE = 7;\n\tLOCAL = 14;\n\tWRITE = 1;\n\tWRITE_PERSISTENT = 11;\n\tDEBUG = 2;\n\tADMIN = 3;\n\tSETUP = 4;\n\tSET_SKU = 5;\n\tREFRESH = 6;\n\tFUSE = 8;\n\tRESET = 9;\n\tTEST = 10;\n\tSSH = 12;\n\tGUEST = 15;\n}\n\nenum User {\n\tNO_USER = 0;\n\tGOD = 1;\n\tLAN = 2;\n\tCLOUD = 3;\n\tFACTORY = 4;\n\tROUTER = 5;\n\tGUEST_LAN = 6;\n\tSENSITIVE_COMMANDING = 7;\n\tLAN_TLS = 8;\n}\n\n\n\nmessage DeviceInfo {\n\toptional string id = 1 [json_name=\"id\"];\n\toptional string hardware_version = 2 [json_name=\"hardwareVersion\"];\n\toptional int32 board_rev = 14 [json_name=\"boardRev\"];\n\toptional string software_version = 3 [json_name=\"softwareVersion\"];\n\toptional string manufactured_version = 11 [json_name=\"manufacturedVersion\"];\n\toptional int64 generation_number = 12 [json_name=\"generationNumber\"];\n\toptional string country_code = 4 [json_name=\"countryCode\"];\n\toptional int32 utc_offset_s = 5 [json_name=\"utcOffsetS\"];\n\toptional bool software_partitions_equal = 6 [json_name=\"softwarePartitionsEqual\"];\n\toptional bool is_dev = 7 [json_name=\"isDev\"];\n\toptional int32 bootcount = 8 [json_name=\"bootcount\"];\n\toptional int32 anti_rollback_version = 9 [json_name=\"antiRollbackVersion\"];\n\toptional bool is_hitl = 10 [json_name=\"isHitl\"];\n\toptional .SpaceX.API.Device.BootInfo boot = 1001 [json_name=\"boot\"];\n\toptional bool dish_cohoused = 13 [json_name=\"dishCohoused\"];\n}\n\nmessage DeviceState {\n\toptional uint64 uptime_s = 1 [json_name=\"uptimeS\"];\n}\n\nmessage SignedData {\n\toptional bytes data = 1 [json_name=\"data\"];\n\toptional bytes signature = 2 [json_name=\"signature\"];\n}\n\nmessage GetNextIdRequest {\n}\n\nmessage GetNextIdResponse {\n\toptional uint64 id = 1 [json_name=\"id\"];\n\toptional uint64 epoch_id = 2 [json_name=\"epochId\"];\n}\n\nmessage BootInfo {\n\trepeated .SpaceX.API.Device.BootInfo.CountByReasonEntry count_by_reason = 1 [json_name=\"countByReason\"];\n\trepeated .SpaceX.API.Device.BootInfo.CountByReasonDeltaEntry count_by_reason_delta = 4 [json_name=\"countByReasonDelta\"];\n\toptional .SpaceX.API.Device.BootReason last_reason = 2 [json_name=\"lastReason\"];\n\toptional int32 last_count = 3 [json_name=\"lastCount\"];\n\toptional bool crash_boot = 5 [json_name=\"crashBoot\"];\n\toptional int32 crash_boot_count = 6 [json_name=\"crashBootCount\"];\n\toptional string even_side_software_version = 7 [json_name=\"evenSideSoftwareVersion\"];\n\toptional string odd_side_software_version = 8 [json_name=\"oddSideSoftwareVersion\"];\nmessage CountByReasonEntry {\n\toptional int32 key = 1 [json_name=\"key\"];\n\toptional int32 value = 2 [json_name=\"value\"];\n}\n\nmessage CountByReasonDeltaEntry {\n\toptional int32 key = 1 [json_name=\"key\"];\n\toptional int32 value = 2 [json_name=\"value\"];\n}\n\n}\n\nmessage PingTarget {\n\toptional string service = 1 [json_name=\"service\"];\n\toptional string location = 2 [json_name=\"location\"];\n\toptional string address = 3 [json_name=\"address\"];\n}\n\nmessage PingResult {\n\toptional .SpaceX.API.Device.PingTarget target = 3 [json_name=\"target\"];\n\toptional float dropRate = 1 [json_name=\"dropRate\"];\n\toptional float latencyMs = 2 [json_name=\"latencyMs\"];\n}\n\nmessage BondingChallenge {\n\toptional string dish_id = 1 [json_name=\"dishId\"];\n\toptional string wifi_id = 2 [json_name=\"wifiId\"];\n\toptional bytes nonce = 3 [json_name=\"nonce\"];\n}\n\nmessage AuthenticateRequest {\n\toptional .SpaceX.API.Device.SignedData challenge = 1 [json_name=\"challenge\"];\n}\n\nmessage ChallengeResponse {\n\toptional bytes signature = 1 [json_name=\"signature\"];\n\toptional bytes certificate_chain = 2 [json_name=\"certificateChain\"];\n}\n\nmessage NetworkInterface {\n\toptional string name = 1 [json_name=\"name\"];\n\toptional bool up = 4 [json_name=\"up\"];\n\toptional string mac_address = 5 [json_name=\"macAddress\"];\n\trepeated string ipv4_addresses = 6 [json_name=\"ipv4Addresses\"];\n\trepeated string ipv6_addresses = 7 [json_name=\"ipv6Addresses\"];\n\toptional .SpaceX.API.Device.NetworkInterface.RxStats rx_stats = 2 [json_name=\"rxStats\"];\n\toptional .SpaceX.API.Device.NetworkInterface.TxStats tx_stats = 3 [json_name=\"txStats\"];\n\toneof interface {\n\t\t.SpaceX.API.Device.EthernetNetworkInterface ethernet = 1000 [json_name=\"ethernet\"];\n\t\t.SpaceX.API.Device.WifiNetworkInterface wifi = 1001 [json_name=\"wifi\"];\n\t\t.SpaceX.API.Device.BridgeNetworkInterface bridge = 1002 [json_name=\"bridge\"];\n\t}\nmessage RxStats {\n\toptional uint64 bytes = 1 [json_name=\"bytes\"];\n\toptional uint64 packets = 2 [json_name=\"packets\"];\n\toptional uint64 frame_errors = 3 [json_name=\"frameErrors\"];\n}\n\nmessage TxStats {\n\toptional uint64 bytes = 1 [json_name=\"bytes\"];\n\toptional uint64 packets = 2 [json_name=\"packets\"];\n}\n\n}\n\nmessage EthernetNetworkInterface {\n\toptional bool link_detected = 1 [json_name=\"linkDetected\"];\n\toptional uint32 speed_mbps = 2 [json_name=\"speedMbps\"];\n\toptional bool autonegotiation_on = 3 [json_name=\"autonegotiationOn\"];\n\toptional .SpaceX.API.Device.EthernetNetworkInterface.Duplex duplex = 4 [json_name=\"duplex\"];\n\tenum Duplex {\n\t\tUNKNOWN = 0;\n\t\tHALF = 1;\n\t\tFULL = 2;\n\t}\n}\n\nmessage WifiNetworkInterface {\n\toptional .SpaceX.API.Device.WifiNetworkInterface.InvalidPacketCounts invalid_packet_counts = 2 [json_name=\"invalidPacketCounts\"];\n\toptional uint32 channel = 3 [json_name=\"channel\"];\n\toptional uint32 missed_beacons = 8 [json_name=\"missedBeacons\"];\n\toptional double link_quality = 4 [json_name=\"linkQuality\"];\n\toptional double signal_level = 5 [json_name=\"signalLevel\"];\n\toptional double noise_level = 6 [json_name=\"noiseLevel\"];\nmessage InvalidPacketCounts {\n\toptional uint32 rx_invalid_nwid = 1 [json_name=\"rxInvalidNwid\"];\n\toptional uint32 rx_invalid_crypt = 2 [json_name=\"rxInvalidCrypt\"];\n\toptional uint32 rx_invalid_frag = 3 [json_name=\"rxInvalidFrag\"];\n\toptional uint32 tx_excessive_retries = 4 [json_name=\"txExcessiveRetries\"];\n\toptional uint32 invalid_misc = 5 [json_name=\"invalidMisc\"];\n}\n\n}\n\nmessage BridgeNetworkInterface {\n\trepeated string member_names = 1 [json_name=\"memberNames\"];\n}\n\nmessage LLAPosition {\n\toptional double lat = 1 [json_name=\"lat\"];\n\toptional double lon = 2 [json_name=\"lon\"];\n\toptional double alt = 3 [json_name=\"alt\"];\n}\n\nmessage ECEFPosition {\n\toptional double x = 1 [json_name=\"x\"];\n\toptional double y = 2 [json_name=\"y\"];\n\toptional double z = 3 [json_name=\"z\"];\n}\n\nmessage InitiateRemoteSshRequest {\n}\n\nmessage InitiateRemoteSshResponse {\n\toptional uint32 port = 1 [json_name=\"port\"];\n\toptional string address = 2 [json_name=\"address\"];\n\toptional bytes stsafe = 3 [json_name=\"stsafe\"];\n}\n\nmessage SoftwareUpdateRequest {\n\toptional uint64 stream_id = 1 [json_name=\"streamId\"];\n\toptional bytes data = 2 [json_name=\"data\"];\n\toptional bool open = 3 [json_name=\"open\"];\n\toptional bool close = 4 [json_name=\"close\"];\n}\n\nmessage SoftwareUpdateResponse {\n}\n\nenum BootReason {\n\tBOOT_REASON_UNKNOWN = 0;\n\tFORGOTTEN = 1;\n\tPOWER_CYCLE = 2;\n\tCOMMAND = 3;\n\tSOFTWARE_UPDATE = 4;\n\tCONFIG_UPDATE = 5;\n\tUPTIME_FDIR = 6;\n\tREPEATER_FDIR = 7;\n\tAVIATION_ETH_WAN_FDIR = 8;\n\tKERNEL_PANIC = 9;\n\tINTENTIONAL_KERNEL_PANIC = 14;\n\tMCU_BRINGUP_FAILED_FDIR = 11;\n\tAVIATION_OUTAGE_FDIR = 12;\n\tSOFTWARE_WATCHDOG = 13;\n}\n\nmessage ToDevice {\n\toneof message {\n\t\t.SpaceX.API.Device.Request request = 1 [json_name=\"request\"];\n\t\t.SpaceX.API.Device.HealthCheck health_check = 2 [json_name=\"healthCheck\"];\n\t}\n}\n\nmessage FromDevice {\n\toneof message {\n\t\t.SpaceX.API.Device.Response response = 1 [json_name=\"response\"];\n\t\t.SpaceX.API.Device.Event event = 2 [json_name=\"event\"];\n\t\t.SpaceX.API.Device.HealthCheck health_check = 3 [json_name=\"healthCheck\"];\n\t}\n}\n\nmessage SensitiveCommand {\n\toptional .SpaceX.API.Device.Timestamp timestamp = 1 [json_name=\"timestamp\"];\n\toptional string target_id = 2 [json_name=\"targetId\"];\n\toneof request {\n\t\t.SpaceX.API.Device.GetLocationRequest get_location = 3 [json_name=\"getLocation\"];\n\t}\n}\n\nmessage HealthCheck {\n}\n\nmessage Request {\n\toptional uint64 id = 1 [json_name=\"id\"];\n\toptional uint64 epoch_id = 14 [json_name=\"epochId\"];\n\toptional string target_id = 13 [json_name=\"targetId\"];\n\toneof request {\n\t\t.SpaceX.API.Device.SignedData signed_request = 15 [json_name=\"signedRequest\"];\n\t\t.SpaceX.API.Device.GetNextIdRequest get_next_id = 1006 [json_name=\"getNextId\"];\n\t\t.SpaceX.API.Device.SignedData sensitive_request = 1078 [json_name=\"sensitiveRequest\"];\n\t\t.SpaceX.API.Device.AuthenticateRequest authenticate = 1005 [json_name=\"authenticate\"];\n\t\t.SpaceX.API.Device.EnableDebugTelemRequest enable_debug_telem = 1034 [json_name=\"enableDebugTelem\"];\n\t\t.SpaceX.API.Device.FactoryResetRequest factory_reset = 1011 [json_name=\"factoryReset\"];\n\t\t.SpaceX.API.Device.GetDeviceInfoRequest get_device_info = 1008 [json_name=\"getDeviceInfo\"];\n\t\t.SpaceX.API.Device.GetHistoryRequest get_history = 1007 [json_name=\"getHistory\"];\n\t\t.SpaceX.API.Device.GetLogRequest get_log = 1012 [json_name=\"getLog\"];\n\t\t.SpaceX.API.Device.GetNetworkInterfacesRequest get_network_interfaces = 1015 [json_name=\"getNetworkInterfaces\"];\n\t\t.SpaceX.API.Device.GetPingRequest get_ping = 1009 [json_name=\"getPing\"];\n\t\t.SpaceX.API.Device.PingHostRequest ping_host = 1016 [json_name=\"pingHost\"];\n\t\t.SpaceX.API.Device.GetStatusRequest get_status = 1004 [json_name=\"getStatus\"];\n\t\t.SpaceX.API.Device.RebootRequest reboot = 1001 [json_name=\"reboot\"];\n\t\t.SpaceX.API.Device.SetSkuRequest set_sku = 1013 [json_name=\"setSku\"];\n\t\t.SpaceX.API.Device.SetTrustedKeysRequest set_trusted_keys = 1010 [json_name=\"setTrustedKeys\"];\n\t\t.SpaceX.API.Device.SpeedTestRequest speed_test = 1003 [json_name=\"speedTest\"];\n\t\t.SpaceX.API.Device.UpdateRequest update = 1014 [json_name=\"update\"];\n\t\t.SpaceX.API.Device.GetLocationRequest get_location = 1017 [json_name=\"getLocation\"];\n\t\t.SpaceX.API.Device.GetHeapDumpRequest get_heap_dump = 1019 [json_name=\"getHeapDump\"];\n\t\t.SpaceX.API.Device.RestartControlRequest restart_control = 1020 [json_name=\"restartControl\"];\n\t\t.SpaceX.API.Device.FuseRequest fuse = 1021 [json_name=\"fuse\"];\n\t\t.SpaceX.API.Device.GetPersistentStatsRequest get_persistent_stats = 1022 [json_name=\"getPersistentStats\"];\n\t\t.SpaceX.API.Device.GetConnectionsRequest get_connections = 1023 [json_name=\"getConnections\"];\n\t\t.SpaceX.API.Device.StartSpeedtestRequest start_speedtest = 1027 [json_name=\"startSpeedtest\"];\n\t\t.SpaceX.API.Device.GetSpeedtestStatusRequest get_speedtest_status = 1028 [json_name=\"getSpeedtestStatus\"];\n\t\t.SpaceX.API.Device.ReportClientSpeedtestRequest report_client_speedtest = 1029 [json_name=\"reportClientSpeedtest\"];\n\t\t.SpaceX.API.Device.InitiateRemoteSshRequest initiate_remote_ssh = 1030 [json_name=\"initiateRemoteSsh\"];\n\t\t.SpaceX.API.Device.SelfTestRequest self_test = 1031 [json_name=\"selfTest\"];\n\t\t.SpaceX.API.Device.SetTestModeRequest set_test_mode = 1032 [json_name=\"setTestMode\"];\n\t\t.SpaceX.API.Device.SoftwareUpdateRequest software_update = 1033 [json_name=\"softwareUpdate\"];\n\t\t.SpaceX.API.Device.IQCaptureRequest iq_capture = 1035 [json_name=\"iqCapture\"];\n\t\t.SpaceX.API.Device.GetRadioStatsRequest get_radio_stats = 1036 [json_name=\"getRadioStats\"];\n\t\t.SpaceX.API.Device.GetTimeRequest time = 1037 [json_name=\"time\"];\n\t\t.SpaceX.API.Device.RunIperfServerRequest run_iperf_server = 1038 [json_name=\"runIperfServer\"];\n\t\t.SpaceX.API.Device.TcpConnectivityTestRequest tcp_connectivity_test = 1039 [json_name=\"tcpConnectivityTest\"];\n\t\t.SpaceX.API.Device.UdpConnectivityTestRequest udp_connectivity_test = 1040 [json_name=\"udpConnectivityTest\"];\n\t\t.SpaceX.API.Device.DishStowRequest dish_stow = 2002 [json_name=\"dishStow\"];\n\t\t.SpaceX.API.Device.StartDishSelfTestRequest start_dish_self_test = 2012 [json_name=\"startDishSelfTest\"];\n\t\t.SpaceX.API.Device.DishGetContextRequest dish_get_context = 2003 [json_name=\"dishGetContext\"];\n\t\t.SpaceX.API.Device.DishGetObstructionMapRequest dish_get_obstruction_map = 2008 [json_name=\"dishGetObstructionMap\"];\n\t\t.SpaceX.API.Device.DishSetEmcRequest dish_set_emc = 2007 [json_name=\"dishSetEmc\"];\n\t\t.SpaceX.API.Device.DishGetEmcRequest dish_get_emc = 2009 [json_name=\"dishGetEmc\"];\n\t\t.SpaceX.API.Device.DishSetConfigRequest dish_set_config = 2010 [json_name=\"dishSetConfig\"];\n\t\t.SpaceX.API.Device.DishGetConfigRequest dish_get_config = 2011 [json_name=\"dishGetConfig\"];\n\t\t.SpaceX.API.Device.DishPowerSaveRequest dish_power_save = 2013 [json_name=\"dishPowerSave\"];\n\t\t.SpaceX.API.Device.DishInhibitGpsRequest dish_inhibit_gps = 2014 [json_name=\"dishInhibitGps\"];\n\t\t.SpaceX.API.Device.DishGetDataRequest dish_get_data = 2015 [json_name=\"dishGetData\"];\n\t\t.SpaceX.API.Device.DishClearObstructionMapRequest dish_clear_obstruction_map = 2017 [json_name=\"dishClearObstructionMap\"];\n\t\t.SpaceX.API.Device.DishSetMaxPowerTestModeRequest dish_set_max_power_test_mode = 2018 [json_name=\"dishSetMaxPowerTestMode\"];\n\t\t.SpaceX.API.Device.DishActivateRssiScanRequest dish_activate_rssi_scan = 2019 [json_name=\"dishActivateRssiScan\"];\n\t\t.SpaceX.API.Device.DishGetRssiScanResultRequest dish_get_rssi_scan_result = 2020 [json_name=\"dishGetRssiScanResult\"];\n\t\t.SpaceX.API.Device.DishFactoryResetRequest dish_factory_reset = 2021 [json_name=\"dishFactoryReset\"];\n\t\t.SpaceX.API.Device.ResetButtonRequest reset_button = 2022 [json_name=\"resetButton\"];\n\t\t.SpaceX.API.Device.WifiGetClientsRequest wifi_get_clients = 3002 [json_name=\"wifiGetClients\"];\n\t\t.SpaceX.API.Device.WifiGetPingMetricsRequest wifi_get_ping_metrics = 3007 [json_name=\"wifiGetPingMetrics\"];\n\t\t.SpaceX.API.Device.WifiSetConfigRequest wifi_set_config = 3001 [json_name=\"wifiSetConfig\"];\n\t\t.SpaceX.API.Device.WifiGetConfigRequest wifi_get_config = 3009 [json_name=\"wifiGetConfig\"];\n\t\t.SpaceX.API.Device.WifiSetupRequest wifi_setup = 3003 [json_name=\"wifiSetup\"];\n\t\t.SpaceX.API.Device.WifiSetMeshDeviceTrustRequest wifi_set_mesh_device_trust = 3012 [json_name=\"wifiSetMeshDeviceTrust\"];\n\t\t.SpaceX.API.Device.WifiSetMeshConfigRequest wifi_set_mesh_config = 3013 [json_name=\"wifiSetMeshConfig\"];\n\t\t.SpaceX.API.Device.WifiGetClientHistoryRequest wifi_get_client_history = 3015 [json_name=\"wifiGetClientHistory\"];\n\t\t.SpaceX.API.Device.WifiSetClientGivenNameRequest wifi_set_client_given_name = 3017 [json_name=\"wifiSetClientGivenName\"];\n\t\t.SpaceX.API.Device.WifiSetAviationConformedRequest wifi_set_aviation_conformed = 3016 [json_name=\"wifiSetAviationConformed\"];\n\t\t.SpaceX.API.Device.WifiSelfTestRequest wifi_self_test = 3018 [json_name=\"wifiSelfTest\"];\n\t\t.SpaceX.API.Device.WifiRunSelfTestRequest wifi_run_self_test = 3028 [json_name=\"wifiRunSelfTest\"];\n\t\t.SpaceX.API.Device.WifiCalibrationModeRequest wifi_calibration_mode = 3019 [json_name=\"wifiCalibrationMode\"];\n\t\t.SpaceX.API.Device.WifiGuestInfoRequest wifi_guest_info = 3020 [json_name=\"wifiGuestInfo\"];\n\t\t.SpaceX.API.Device.WifiRfTestRequest wifi_rf_test = 3021 [json_name=\"wifiRfTest\"];\n\t\t.SpaceX.API.Device.WifiGetFirewallRequest wifi_get_firewall = 3024 [json_name=\"wifiGetFirewall\"];\n\t\t.SpaceX.API.Device.WifiTogglePoeNegotiationRequest wifi_toggle_poe_negotiation = 3025 [json_name=\"wifiTogglePoeNegotiation\"];\n\t\t.SpaceX.API.Device.WifiFactoryTestCommandRequest wifi_factory_test_command = 3026 [json_name=\"wifiFactoryTestCommand\"];\n\t\t.SpaceX.API.Device.WifiStartLocalTelemProxyRequest wifi_start_local_telem_proxy = 3027 [json_name=\"wifiStartLocalTelemProxy\"];\n\t\t.SpaceX.API.Device.WifiBackhaulStatsRequest wifi_backhaul_stats = 3029 [json_name=\"wifiBackhaulStats\"];\n\t\t.SpaceX.API.Device.WifiToggleUmbilicalModeRequest wifi_toggle_umbilical_mode = 3030 [json_name=\"wifiToggleUmbilicalMode\"];\n\t\t.SpaceX.API.Device.WifiClientSandboxRequest wifi_client_sandbox = 3031 [json_name=\"wifiClientSandbox\"];\n\t\t.SpaceX.API.Device.TransceiverIFLoopbackTestRequest transceiver_if_loopback_test = 4001 [json_name=\"transceiverIfLoopbackTest\"];\n\t\t.SpaceX.API.Device.TransceiverGetStatusRequest transceiver_get_status = 4003 [json_name=\"transceiverGetStatus\"];\n\t\t.SpaceX.API.Device.TransceiverGetTelemetryRequest transceiver_get_telemetry = 4004 [json_name=\"transceiverGetTelemetry\"];\n\t\t.SpaceX.API.Device.StartUnlockRequest start_unlock = 5000 [json_name=\"startUnlock\"];\n\t\t.SpaceX.API.Device.FinishUnlockRequest finish_unlock = 5001 [json_name=\"finishUnlock\"];\n\t\t.SpaceX.API.Device.GetDiagnosticsRequest get_diagnostics = 6000 [json_name=\"getDiagnostics\"];\n\t}\n}\n\nmessage Response {\n\toptional uint64 id = 1 [json_name=\"id\"];\n\toptional .SpaceX.API.Device.Status status = 2 [json_name=\"status\"];\n\toptional uint64 api_version = 3 [json_name=\"apiVersion\"];\n\toneof response {\n\t\t.SpaceX.API.Device.GetNextIdResponse get_next_id = 1006 [json_name=\"getNextId\"];\n\t\t.SpaceX.API.Device.EnableDebugTelemResponse enable_debug_telem = 1034 [json_name=\"enableDebugTelem\"];\n\t\t.SpaceX.API.Device.FactoryResetResponse factory_reset = 1011 [json_name=\"factoryReset\"];\n\t\t.SpaceX.API.Device.GetDeviceInfoResponse get_device_info = 1004 [json_name=\"getDeviceInfo\"];\n\t\t.SpaceX.API.Device.GetLogResponse get_log = 1012 [json_name=\"getLog\"];\n\t\t.SpaceX.API.Device.GetNetworkInterfacesResponse get_network_interfaces = 1015 [json_name=\"getNetworkInterfaces\"];\n\t\t.SpaceX.API.Device.GetPingResponse get_ping = 1009 [json_name=\"getPing\"];\n\t\t.SpaceX.API.Device.PingHostResponse ping_host = 1016 [json_name=\"pingHost\"];\n\t\t.SpaceX.API.Device.RebootResponse reboot = 1001 [json_name=\"reboot\"];\n\t\t.SpaceX.API.Device.SpeedTestResponse speed_test = 1003 [json_name=\"speedTest\"];\n\t\t.SpaceX.API.Device.SetSkuResponse set_sku = 1013 [json_name=\"setSku\"];\n\t\t.SpaceX.API.Device.SetTrustedKeysResponse set_trusted_keys = 1010 [json_name=\"setTrustedKeys\"];\n\t\t.SpaceX.API.Device.UpdateResponse update = 1014 [json_name=\"update\"];\n\t\t.SpaceX.API.Device.GetLocationResponse get_location = 1017 [json_name=\"getLocation\"];\n\t\t.SpaceX.API.Device.GetHeapDumpResponse get_heap_dump = 1019 [json_name=\"getHeapDump\"];\n\t\t.SpaceX.API.Device.RestartControlResponse restart_control = 1020 [json_name=\"restartControl\"];\n\t\t.SpaceX.API.Device.FuseResponse fuse = 1021 [json_name=\"fuse\"];\n\t\t.SpaceX.API.Device.GetConnectionsResponse get_connections = 1023 [json_name=\"getConnections\"];\n\t\t.SpaceX.API.Device.StartSpeedtestResponse start_speedtest = 1027 [json_name=\"startSpeedtest\"];\n\t\t.SpaceX.API.Device.GetSpeedtestStatusResponse get_speedtest_status = 1028 [json_name=\"getSpeedtestStatus\"];\n\t\t.SpaceX.API.Device.ReportClientSpeedtestResponse report_client_speedtest = 1029 [json_name=\"reportClientSpeedtest\"];\n\t\t.SpaceX.API.Device.InitiateRemoteSshResponse initiate_remote_ssh = 1030 [json_name=\"initiateRemoteSsh\"];\n\t\t.SpaceX.API.Device.SelfTestResponse self_test = 1031 [json_name=\"selfTest\"];\n\t\t.SpaceX.API.Device.SetTestModeResponse set_test_mode = 1032 [json_name=\"setTestMode\"];\n\t\t.SpaceX.API.Device.SoftwareUpdateResponse software_update = 1033 [json_name=\"softwareUpdate\"];\n\t\t.SpaceX.API.Device.GetRadioStatsResponse get_radio_stats = 1035 [json_name=\"getRadioStats\"];\n\t\t.SpaceX.API.Device.GetTimeResponse time = 1037 [json_name=\"time\"];\n\t\t.SpaceX.API.Device.RunIperfServerResponse run_iperf_server = 1038 [json_name=\"runIperfServer\"];\n\t\t.SpaceX.API.Device.DishAuthenticateResponse dish_authenticate = 2005 [json_name=\"dishAuthenticate\"];\n\t\t.SpaceX.API.Device.DishGetContextResponse dish_get_context = 2003 [json_name=\"dishGetContext\"];\n\t\t.SpaceX.API.Device.DishGetHistoryResponse dish_get_history = 2006 [json_name=\"dishGetHistory\"];\n\t\t.SpaceX.API.Device.DishGetStatusResponse dish_get_status = 2004 [json_name=\"dishGetStatus\"];\n\t\t.SpaceX.API.Device.DishGetObstructionMapResponse dish_get_obstruction_map = 2008 [json_name=\"dishGetObstructionMap\"];\n\t\t.SpaceX.API.Device.DishStowResponse dish_stow = 2002 [json_name=\"dishStow\"];\n\t\t.SpaceX.API.Device.StartDishSelfTestResponse start_dish_self_test = 2012 [json_name=\"startDishSelfTest\"];\n\t\t.SpaceX.API.Device.DishSetEmcResponse dish_set_emc = 2007 [json_name=\"dishSetEmc\"];\n\t\t.SpaceX.API.Device.DishGetEmcResponse dish_get_emc = 2009 [json_name=\"dishGetEmc\"];\n\t\t.SpaceX.API.Device.DishSetConfigResponse dish_set_config = 2010 [json_name=\"dishSetConfig\"];\n\t\t.SpaceX.API.Device.DishGetConfigResponse dish_get_config = 2011 [json_name=\"dishGetConfig\"];\n\t\t.SpaceX.API.Device.DishInhibitGpsResponse dish_inhibit_gps = 2013 [json_name=\"dishInhibitGps\"];\n\t\t.SpaceX.API.Device.DishClearObstructionMapResponse dish_clear_obstruction_map = 2015 [json_name=\"dishClearObstructionMap\"];\n\t\t.SpaceX.API.Device.DishSetMaxPowerTestModeResponse dish_set_max_power_test_mode = 2018 [json_name=\"dishSetMaxPowerTestMode\"];\n\t\t.SpaceX.API.Device.DishActivateRssiScanResponse dish_activate_rssi_scan = 2019 [json_name=\"dishActivateRssiScan\"];\n\t\t.SpaceX.API.Device.DishGetRssiScanResultResponse dish_get_rssi_scan_result = 2020 [json_name=\"dishGetRssiScanResult\"];\n\t\t.SpaceX.API.Device.DishFactoryResetResponse dish_factory_reset = 2021 [json_name=\"dishFactoryReset\"];\n\t\t.SpaceX.API.Device.ResetButtonResponse reset_button = 2022 [json_name=\"resetButton\"];\n\t\t.SpaceX.API.Device.WifiAuthenticateResponse wifi_authenticate = 3005 [json_name=\"wifiAuthenticate\"];\n\t\t.SpaceX.API.Device.WifiGetClientsResponse wifi_get_clients = 3002 [json_name=\"wifiGetClients\"];\n\t\t.SpaceX.API.Device.WifiGetHistoryResponse wifi_get_history = 3006 [json_name=\"wifiGetHistory\"];\n\t\t.SpaceX.API.Device.WifiGetPingMetricsResponse wifi_get_ping_metrics = 3007 [json_name=\"wifiGetPingMetrics\"];\n\t\t.SpaceX.API.Device.WifiGetStatusResponse wifi_get_status = 3004 [json_name=\"wifiGetStatus\"];\n\t\t.SpaceX.API.Device.WifiSetConfigResponse wifi_set_config = 3001 [json_name=\"wifiSetConfig\"];\n\t\t.SpaceX.API.Device.WifiGetConfigResponse wifi_get_config = 3009 [json_name=\"wifiGetConfig\"];\n\t\t.SpaceX.API.Device.WifiSetupResponse wifi_setup = 3003 [json_name=\"wifiSetup\"];\n\t\t.SpaceX.API.Device.WifiGetPersistentStatsResponse wifi_get_persistent_stats = 3022 [json_name=\"wifiGetPersistentStats\"];\n\t\t.SpaceX.API.Device.WifiSetMeshDeviceTrustResponse wifi_set_mesh_device_trust = 3012 [json_name=\"wifiSetMeshDeviceTrust\"];\n\t\t.SpaceX.API.Device.WifiSetMeshConfigResponse wifi_set_mesh_config = 3013 [json_name=\"wifiSetMeshConfig\"];\n\t\t.SpaceX.API.Device.WifiGetClientHistoryResponse wifi_get_client_history = 3015 [json_name=\"wifiGetClientHistory\"];\n\t\t.SpaceX.API.Device.WifiSelfTestResponse wifi_self_test = 3016 [json_name=\"wifiSelfTest\"];\n\t\t.SpaceX.API.Device.WifiGuestInfoResponse wifi_guest_info = 3020 [json_name=\"wifiGuestInfo\"];\n\t\t.SpaceX.API.Device.WifiRfTestResponse wifi_rf_test = 3021 [json_name=\"wifiRfTest\"];\n\t\t.SpaceX.API.Device.WifiGetFirewallResponse wifi_get_firewall = 3024 [json_name=\"wifiGetFirewall\"];\n\t\t.SpaceX.API.Device.WifiFactoryTestCommandResponse wifi_factory_test_command = 3025 [json_name=\"wifiFactoryTestCommand\"];\n\t\t.SpaceX.API.Device.WifiBackhaulStatsResponse wifi_backhaul_stats = 3026 [json_name=\"wifiBackhaulStats\"];\n\t\t.SpaceX.API.Device.WifiClientSandboxResponse wifi_client_sandbox = 3027 [json_name=\"wifiClientSandbox\"];\n\t\t.SpaceX.API.Device.TransceiverIFLoopbackTestResponse transceiver_if_loopback_test = 4001 [json_name=\"transceiverIfLoopbackTest\"];\n\t\t.SpaceX.API.Device.TransceiverGetStatusResponse transceiver_get_status = 4003 [json_name=\"transceiverGetStatus\"];\n\t\t.SpaceX.API.Device.TransceiverGetTelemetryResponse transceiver_get_telemetry = 4004 [json_name=\"transceiverGetTelemetry\"];\n\t\t.SpaceX.API.Device.StartUnlockResponse start_unlock = 5000 [json_name=\"startUnlock\"];\n\t\t.SpaceX.API.Device.FinishUnlockResponse finish_unlock = 5001 [json_name=\"finishUnlock\"];\n\t\t.SpaceX.API.Device.WifiGetDiagnosticsResponse wifi_get_diagnostics = 6000 [json_name=\"wifiGetDiagnostics\"];\n\t\t.SpaceX.API.Device.DishGetDiagnosticsResponse dish_get_diagnostics = 6001 [json_name=\"dishGetDiagnostics\"];\n\t}\n}\n\nmessage Event {\n\toneof event {\n\t\t.SpaceX.API.Device.WifiNewClientConnectedEvent wifi_new_client_connected = 3001 [json_name=\"wifiNewClientConnected\"];\n\t\t.SpaceX.API.Device.WifiAccountBondingEvent wifi_account_bonding = 3002 [json_name=\"wifiAccountBonding\"];\n\t\t.SpaceX.API.Device.WifiNewPeerEvent wifi_new_peer = 3003 [json_name=\"wifiNewPeer\"];\n\t\t.SpaceX.API.Device.WifiCloudStatusEvent wifi_cloud_status = 3004 [json_name=\"wifiCloudStatus\"];\n\t\t.SpaceX.API.Device.WifiClientSandboxRequest wifi_client_sandbox = 3005 [json_name=\"wifiClientSandbox\"];\n\t}\n}\n\nmessage WifiCloudStatusEvent {\n\toptional uint32 api_version = 4 [json_name=\"apiVersion\"];\n\toptional bool direct_link_to_dish = 1 [json_name=\"directLinkToDish\"];\n\toptional string hardware_version = 2 [json_name=\"hardwareVersion\"];\n\toptional bool is_bypassed = 3 [json_name=\"isBypassed\"];\n}\n\nmessage WifiClientSandboxRequest {\n\trepeated .SpaceX.API.Device.WifiClientSandboxStatus client_sandbox_status = 1 [json_name=\"clientSandboxStatus\"];\n\trepeated .SpaceX.API.Device.WifiClientSandboxAlert alerts = 2 [json_name=\"alerts\"];\n}\n\nmessage WifiClientSandboxResponse {\n}\n\nmessage WifiClientSandboxStatus {\n\toptional string client = 1 [json_name=\"client\"];\n\toptional uint32 sandbox = 2 [json_name=\"sandbox\"];\n\toptional bool sandboxed = 3 [json_name=\"sandboxed\"];\n}\n\nmessage EnableDebugTelemRequest {\n\toptional uint32 duration_m = 1 [json_name=\"durationM\"];\n}\n\nmessage EnableDebugTelemResponse {\n}\n\nmessage FactoryResetRequest {\n}\n\nmessage FactoryResetResponse {\n}\n\nmessage GetTimeRequest {\n}\n\nmessage GetTimeResponse {\n\toptional int64 unix_nano = 1 [json_name=\"unixNano\"];\n}\n\nmessage FuseRequest {\n\toptional bool prevent_reboot = 1 [json_name=\"preventReboot\"];\n}\n\nmessage FuseResponse {\n}\n\nmessage GetHistoryRequest {\n}\n\nmessage GetLogRequest {\n}\n\nmessage GetLogResponse {\n\toptional .SpaceX.API.Device.GetLogResponse.Logs current = 4 [json_name=\"current\"];\n\toptional .SpaceX.API.Device.GetLogResponse.Logs saved = 5 [json_name=\"saved\"];\n\toptional string syslog = 1 [json_name=\"syslog\"];\n\toptional string offline_log = 2 [json_name=\"offlineLog\"];\n\toptional string persistent_log = 3 [json_name=\"persistentLog\"];\nmessage Logs {\n\toptional string syslog = 1 [json_name=\"syslog\"];\n\toptional string dmesg = 2 [json_name=\"dmesg\"];\n\toptional string kernel_panic = 3 [json_name=\"kernelPanic\"];\n\toptional string mtk_eth_procs = 4 [json_name=\"mtkEthProcs\"];\n\toptional string debug_netsys_0sec = 5 [json_name=\"debugNetsys0sec\"];\n\toptional string debug_netsys_2sec = 6 [json_name=\"debugNetsys2sec\"];\n}\n\n}\n\nmessage GetPingRequest {\n}\n\nmessage GetPingResponse {\n\trepeated .SpaceX.API.Device.GetPingResponse.ResultsEntry results = 1 [json_name=\"results\"];\nmessage ResultsEntry {\n\toptional string key = 1 [json_name=\"key\"];\n\toptional .SpaceX.API.Device.PingResult value = 2 [json_name=\"value\"];\n}\n\n}\n\nmessage PingHostRequest {\n\toptional string address = 3 [json_name=\"address\"];\n\toptional uint32 size = 4 [json_name=\"size\"];\n}\n\nmessage PingHostResponse {\n\toptional .SpaceX.API.Device.PingResult result = 1 [json_name=\"result\"];\n}\n\nmessage GetStatusRequest {\n}\n\nmessage RebootRequest {\n}\n\nmessage RebootResponse {\n}\n\nmessage SpeedTestStats {\n\toptional float latency_ms = 3 [json_name=\"latencyMs\"];\n\toptional uint64 start_time = 4 [json_name=\"startTime\"];\n\toptional int64 upload_start_time = 5 [json_name=\"uploadStartTime\"];\n\toptional int64 download_start_time = 6 [json_name=\"downloadStartTime\"];\n\toptional float upload_mbps = 1 [json_name=\"uploadMbps\"];\n\toptional float download_mbps = 2 [json_name=\"downloadMbps\"];\n\toptional .SpaceX.API.Device.SpeedTestStats.Target target = 7 [json_name=\"target\"];\n\toptional uint32 tcp_streams = 8 [json_name=\"tcpStreams\"];\n\tenum Target {\n\t\tUNKNOWN = 0;\n\t\tFASTCOM = 1;\n\t\tCLOUDFLARE = 2;\n\t}\n}\n\nmessage ClientPlatform {\n\toptional .SpaceX.API.Device.ClientPlatform.Platform platform = 1 [json_name=\"platform\"];\n\toptional float major_version = 2 [json_name=\"majorVersion\"];\n\toptional float minor_version = 3 [json_name=\"minorVersion\"];\n\tenum Platform {\n\t\tUNKNOWN = 0;\n\t\tIOS = 1;\n\t\tANDROID = 2;\n\t\tWEB = 3;\n\t}\n}\n\nmessage SpeedTestRequest {\n\toptional uint32 id = 4 [json_name=\"id\"];\n\toptional .SpaceX.API.Device.SpeedTestStats client_speedtest = 1 [json_name=\"clientSpeedtest\"];\n\toptional float client_rssi = 2 [json_name=\"clientRssi\"];\n\toptional .SpaceX.API.Device.ClientPlatform client_platform = 3 [json_name=\"clientPlatform\"];\n}\n\nmessage SpeedTestResponse {\n\toptional float download_bps = 1 [json_name=\"downloadBps\"];\n\toptional float upload_bps = 2 [json_name=\"uploadBps\"];\n\toptional float latency_s = 3 [json_name=\"latencyS\"];\n\toptional float download_mbps = 4 [json_name=\"downloadMbps\"];\n\toptional float upload_mbps = 5 [json_name=\"uploadMbps\"];\n\toptional float latency_ms = 6 [json_name=\"latencyMs\"];\n\toptional .SpaceX.API.Device.SpeedTestStats router_speedtest = 15 [json_name=\"routerSpeedtest\"];\n\toptional float download_mbps_1_tcp_conn = 7 [json_name=\"downloadMbps1TcpConn\"];\n\toptional float upload_mbps_1_tcp_conn = 8 [json_name=\"uploadMbps1TcpConn\"];\n\toptional float download_mbps_4_tcp_conn = 9 [json_name=\"downloadMbps4TcpConn\"];\n\toptional float upload_mbps_4_tcp_conn = 10 [json_name=\"uploadMbps4TcpConn\"];\n\toptional float download_mbps_16_tcp_conn = 11 [json_name=\"downloadMbps16TcpConn\"];\n\toptional float upload_mbps_16_tcp_conn = 12 [json_name=\"uploadMbps16TcpConn\"];\n\toptional float download_mbps_64_tcp_conn = 13 [json_name=\"downloadMbps64TcpConn\"];\n\toptional float upload_mbps_64_tcp_conn = 14 [json_name=\"uploadMbps64TcpConn\"];\n}\n\nmessage RunIperfServerRequest {\n\toptional uint32 duration_s = 1 [json_name=\"durationS\"];\n}\n\nmessage RunIperfServerResponse {\n\toptional uint32 port = 1 [json_name=\"port\"];\n}\n\nmessage GetConnectionsRequest {\n}\n\nmessage GetConnectionsResponse {\n\trepeated .SpaceX.API.Device.GetConnectionsResponse.ServicesEntry services = 1 [json_name=\"services\"];\nmessage ServiceConnection {\n\toptional string address = 1 [json_name=\"address\"];\n\toptional int32 seconds_since_success = 2 [json_name=\"secondsSinceSuccess\"];\n}\n\nmessage ServicesEntry {\n\toptional string key = 1 [json_name=\"key\"];\n\toptional .SpaceX.API.Device.GetConnectionsResponse.ServiceConnection value = 2 [json_name=\"value\"];\n}\n\n}\n\nmessage GetDeviceInfoRequest {\n}\n\nmessage GetDeviceInfoResponse {\n\toptional .SpaceX.API.Device.DeviceInfo device_info = 1 [json_name=\"deviceInfo\"];\n}\n\nmessage SetTrustedKeysRequest {\n\trepeated .SpaceX.API.Device.PublicKey keys = 1 [json_name=\"keys\"];\n}\n\nmessage SetTrustedKeysResponse {\n}\n\nmessage SetSkuRequest {\n\toptional string sku = 1 [json_name=\"sku\"];\n\toptional string country_code = 2 [json_name=\"countryCode\"];\n\toptional bool apply_country_code = 4 [json_name=\"applyCountryCode\"];\n\toptional bool pin_country_code = 5 [json_name=\"pinCountryCode\"];\n\toptional bool custom_power_table = 6 [json_name=\"customPowerTable\"];\n}\n\nmessage SetSkuResponse {\n}\n\nmessage UpdateRequest {\n}\n\nmessage UpdateResponse {\n}\n\nmessage RestartControlRequest {\n}\n\nmessage RestartControlResponse {\n}\n\nmessage GetNetworkInterfacesRequest {\n}\n\nmessage GetNetworkInterfacesResponse {\n\trepeated .SpaceX.API.Device.NetworkInterface network_interfaces = 1006 [json_name=\"networkInterfaces\"];\n}\n\nmessage GetRadioStatsRequest {\n}\n\nmessage GetRadioStatsResponse {\n\trepeated .SpaceX.API.Device.RadioStats radio_stats = 1 [json_name=\"radioStats\"];\n}\n\nmessage GetHeapDumpRequest {\n}\n\nmessage GetHeapDumpResponse {\n\toptional string heap_dump = 1 [json_name=\"heapDump\"];\n}\n\nmessage GetLocationRequest {\n\toptional .SpaceX.API.Device.PositionSource source = 1 [json_name=\"source\"];\n}\n\nmessage GetLocationResponse {\n\toptional .SpaceX.API.Device.LLAPosition lla = 1 [json_name=\"lla\"];\n\toptional double sigma_m = 4 [json_name=\"sigmaM\"];\n\toptional .SpaceX.API.Device.PositionSource source = 3 [json_name=\"source\"];\n}\n\nmessage DishSetEmcRequest {\n\toptional double theta = 1 [json_name=\"theta\"];\n\toptional double phi = 2 [json_name=\"phi\"];\n\toptional uint32 rx_chan = 3 [json_name=\"rxChan\"];\n\toptional uint32 tx_chan = 4 [json_name=\"txChan\"];\n\toptional uint32 modulation = 5 [json_name=\"modulation\"];\n\toptional double desired_tilt_angle = 7 [json_name=\"desiredTiltAngle\"];\n\toptional bool chan_override = 8 [json_name=\"chanOverride\"];\n\toptional bool theta_enabled = 9 [json_name=\"thetaEnabled\"];\n\toptional bool phi_enabled = 10 [json_name=\"phiEnabled\"];\n\toptional bool idle = 11 [json_name=\"idle\"];\n\toptional bool fast_switching = 12 [json_name=\"fastSwitching\"];\n\toptional bool sky_search = 13 [json_name=\"skySearch\"];\n\toptional bool force_pll_unlock = 14 [json_name=\"forcePllUnlock\"];\n\toptional bool force_eirp_failure = 15 [json_name=\"forceEirpFailure\"];\n\toptional bool snow_active_override = 16 [json_name=\"snowActiveOverride\"];\n\toptional bool manual_tilting = 18 [json_name=\"manualTilting\"];\n\toptional bool tilt_to_stowed = 19 [json_name=\"tiltToStowed\"];\n\toptional bool reboot = 20 [json_name=\"reboot\"];\n\toptional bool continuous_motor_test = 21 [json_name=\"continuousMotorTest\"];\n\toptional double distance_override_meters = 22 [json_name=\"distanceOverrideMeters\"];\n\toptional uint32 amplitude_taper_override = 23 [json_name=\"amplitudeTaperOverride\"];\n\toptional uint32 country_code_override = 24 [json_name=\"countryCodeOverride\"];\n\toptional int32 tx_duty_cycle_override = 25 [json_name=\"txDutyCycleOverride\"];\n\toptional int32 rx_duty_cycle_override = 26 [json_name=\"rxDutyCycleOverride\"];\n\toptional double eirp_legal_limit_dbw_override = 27 [json_name=\"eirpLegalLimitDbwOverride\"];\n\toptional double eirp_adjustment_db = 28 [json_name=\"eirpAdjustmentDb\"];\n}\n\nmessage DishSetEmcResponse {\n}\n\nmessage DishSetMaxPowerTestModeRequest {\n\toptional bool enabled = 1 [json_name=\"enabled\"];\n}\n\nmessage DishSetMaxPowerTestModeResponse {\n\toptional bool enabled = 1 [json_name=\"enabled\"];\n}\n\nmessage DishGetEmcRequest {\n}\n\nmessage DishGetEmcResponse {\n\toptional string uuid = 2 [json_name=\"uuid\"];\n\toptional uint64 timestamp = 3 [json_name=\"timestamp\"];\n\toptional uint32 cplane_updates = 11 [json_name=\"cplaneUpdates\"];\n\toptional double gps_latitude = 16 [json_name=\"gpsLatitude\"];\n\toptional double gps_longitude = 17 [json_name=\"gpsLongitude\"];\n\toptional double gps_pdop = 18 [json_name=\"gpsPdop\"];\n\toptional uint32 rf_mode = 19 [json_name=\"rfMode\"];\n\toptional double phi = 20 [json_name=\"phi\"];\n\toptional double theta = 21 [json_name=\"theta\"];\n\toptional uint32 rx_channel = 22 [json_name=\"rxChannel\"];\n\toptional uint32 tx_channel = 23 [json_name=\"txChannel\"];\n\toptional float t_dbf_max = 24 [json_name=\"tDbfMax\"];\n\toptional double t_center = 25 [json_name=\"tCenter\"];\n\toptional bool auto_power_snow_melt_enabled = 30 [json_name=\"autoPowerSnowMeltEnabled\"];\n\toptional double voltage = 32 [json_name=\"voltage\"];\n\toptional uint32 rx_beam_state = 33 [json_name=\"rxBeamState\"];\n\toptional uint32 tx_beam_state = 34 [json_name=\"txBeamState\"];\n\toptional uint32 half_duplex_state = 35 [json_name=\"halfDuplexState\"];\n\toptional bool manual_tilt_enabled = 36 [json_name=\"manualTiltEnabled\"];\n\toptional double tilt_angle = 37 [json_name=\"tiltAngle\"];\n\toptional uint32 pll_tx_lock_detected = 38 [json_name=\"pllTxLockDetected\"];\n\toptional bool eirp_exceeded_threshold = 39 [json_name=\"eirpExceededThreshold\"];\n\toptional bool idle_override_enabled = 41 [json_name=\"idleOverrideEnabled\"];\n\toptional bool theta_override_enabled = 42 [json_name=\"thetaOverrideEnabled\"];\n\toptional double theta_override_value = 43 [json_name=\"thetaOverrideValue\"];\n\toptional bool phi_override_enabled = 44 [json_name=\"phiOverrideEnabled\"];\n\toptional double phi_override_value = 45 [json_name=\"phiOverrideValue\"];\n\toptional uint32 rx_chan_override_value = 46 [json_name=\"rxChanOverrideValue\"];\n\toptional uint32 tx_chan_override_value = 47 [json_name=\"txChanOverrideValue\"];\n\toptional bool sky_search_override_enabled = 48 [json_name=\"skySearchOverrideEnabled\"];\n\toptional bool fast_switching_enabled = 49 [json_name=\"fastSwitchingEnabled\"];\n\toptional uint32 modulation_override_value = 50 [json_name=\"modulationOverrideValue\"];\n\toptional bool force_eirp_failure = 51 [json_name=\"forceEirpFailure\"];\n\toptional bool force_pll_unlock = 52 [json_name=\"forcePllUnlock\"];\n\toptional uint32 ut_ine_success = 53 [json_name=\"utIneSuccess\"];\n\toptional bool rf_ready = 54 [json_name=\"rfReady\"];\n\toptional bool tilt_to_stowed = 55 [json_name=\"tiltToStowed\"];\n\toptional bool reboot = 56 [json_name=\"reboot\"];\n\toptional bool continuous_motor_test = 57 [json_name=\"continuousMotorTest\"];\n\toptional double distance_override_meters = 58 [json_name=\"distanceOverrideMeters\"];\n\toptional uint32 amplitude_taper_override = 59 [json_name=\"amplitudeTaperOverride\"];\n\toptional bool amplitude_taper_enabled = 60 [json_name=\"amplitudeTaperEnabled\"];\n\toptional double amplitude_taper_scale = 61 [json_name=\"amplitudeTaperScale\"];\n\toptional uint32 country_code_override = 62 [json_name=\"countryCodeOverride\"];\n\toptional double max_pointing_distance = 63 [json_name=\"maxPointingDistance\"];\n\toptional double distance_scaling_factor = 64 [json_name=\"distanceScalingFactor\"];\n\toptional int32 tx_duty_cycle_override = 65 [json_name=\"txDutyCycleOverride\"];\n\toptional int32 rx_duty_cycle_override = 66 [json_name=\"rxDutyCycleOverride\"];\n\toptional float tx_time_ms = 67 [json_name=\"txTimeMs\"];\n\toptional float rx_time_ms = 68 [json_name=\"rxTimeMs\"];\n\toptional double eirp_legal_limit_dbw = 69 [json_name=\"eirpLegalLimitDbw\"];\n\toptional double eirp_legal_limit_dbw_override = 70 [json_name=\"eirpLegalLimitDbwOverride\"];\n\toptional double eirp_adjustment_db = 71 [json_name=\"eirpAdjustmentDb\"];\n\toptional double eirp_predicted_dbw = 72 [json_name=\"eirpPredictedDbw\"];\n}\n\nmessage GetPersistentStatsRequest {\n}\n\nmessage StartSpeedtestRequest {\n}\n\nmessage StartSpeedtestResponse {\n}\n\nmessage SpeedtestStatus {\n\toptional bool running = 1 [json_name=\"running\"];\n\toptional uint32 id = 2 [json_name=\"id\"];\n\toptional .SpaceX.API.Device.SpeedtestStatus.Direction up = 1000 [json_name=\"up\"];\n\toptional .SpaceX.API.Device.SpeedtestStatus.Direction down = 1001 [json_name=\"down\"];\nmessage Direction {\n\trepeated float throughputs_mbps = 1 [json_name=\"throughputsMbps\"];\n\toptional .SpaceX.API.Device.SpeedtestError err = 2 [json_name=\"err\"];\n}\n\n}\n\nmessage GetSpeedtestStatusRequest {\n}\n\nmessage GetSpeedtestStatusResponse {\n\toptional .SpaceX.API.Device.SpeedtestStatus status = 1 [json_name=\"status\"];\n}\n\nmessage ReportClientSpeedtestRequest {\n\toptional uint32 id = 1 [json_name=\"id\"];\n\toptional .SpaceX.API.Device.SpeedTestStats client_speedtest = 2 [json_name=\"clientSpeedtest\"];\n\toptional .SpaceX.API.Device.SpeedTestStats wifi_speedtest = 5 [json_name=\"wifiSpeedtest\"];\n\toptional float client_rssi = 3 [json_name=\"clientRssi\"];\n\toptional .SpaceX.API.Device.ClientPlatform client_platform = 4 [json_name=\"clientPlatform\"];\n\toptional string app_version = 6 [json_name=\"appVersion\"];\n\toptional uint32 app_build = 7 [json_name=\"appBuild\"];\n}\n\nmessage ReportClientSpeedtestResponse {\n}\n\nmessage DishPowerSaveRequest {\n\toptional uint32 power_save_start_minutes = 1 [json_name=\"powerSaveStartMinutes\"];\n\toptional uint32 power_save_duration_minutes = 2 [json_name=\"powerSaveDurationMinutes\"];\n\toptional bool enable_power_save = 3 [json_name=\"enablePowerSave\"];\n}\n\nmessage IQCaptureRequest {\n}\n\nmessage GetDiagnosticsRequest {\n}\n\nmessage WifiGetDiagnosticsResponse {\n\toptional string id = 1 [json_name=\"id\"];\n\toptional string hardware_version = 2 [json_name=\"hardwareVersion\"];\n\toptional string software_version = 3 [json_name=\"softwareVersion\"];\n\trepeated .SpaceX.API.Device.WifiGetDiagnosticsResponse.Network networks = 4 [json_name=\"networks\"];\nmessage Network {\n\toptional string domain = 1 [json_name=\"domain\"];\n\toptional string ipv4 = 2 [json_name=\"ipv4\"];\n\trepeated string ipv6 = 3 [json_name=\"ipv6\"];\n\toptional uint32 clients_ethernet = 10 [json_name=\"clientsEthernet\"];\n\toptional uint32 clients_2ghz = 11 [json_name=\"clients2ghz\"];\n\toptional uint32 clients_5ghz = 12 [json_name=\"clients5ghz\"];\n}\n\n}\n\nmessage DishGetDiagnosticsResponse {\n\toptional string id = 1 [json_name=\"id\"];\n\toptional string hardware_version = 2 [json_name=\"hardwareVersion\"];\n\toptional string software_version = 3 [json_name=\"softwareVersion\"];\n\toptional int32 utc_offset_s = 4 [json_name=\"utcOffsetS\"];\n\toptional .SpaceX.API.Device.DishGetDiagnosticsResponse.TestResult hardware_self_test = 7 [json_name=\"hardwareSelfTest\"];\n\toptional .SpaceX.API.Device.DishGetDiagnosticsResponse.Alerts alerts = 5 [json_name=\"alerts\"];\n\toptional .SpaceX.API.Device.DishGetDiagnosticsResponse.DisablementCode disablement_code = 6 [json_name=\"disablementCode\"];\n\toptional .SpaceX.API.Device.DishGetDiagnosticsResponse.Location location = 8 [json_name=\"location\"];\nmessage Alerts {\n\toptional bool dish_is_heating = 1 [json_name=\"dishIsHeating\"];\n\toptional bool dish_thermal_throttle = 2 [json_name=\"dishThermalThrottle\"];\n\toptional bool dish_thermal_shutdown = 3 [json_name=\"dishThermalShutdown\"];\n\toptional bool power_supply_thermal_throttle = 4 [json_name=\"powerSupplyThermalThrottle\"];\n\toptional bool motors_stuck = 5 [json_name=\"motorsStuck\"];\n\toptional bool mast_not_near_vertical = 6 [json_name=\"mastNotNearVertical\"];\n\toptional bool slow_ethernet_speeds = 7 [json_name=\"slowEthernetSpeeds\"];\n\toptional bool software_install_pending = 8 [json_name=\"softwareInstallPending\"];\n\toptional bool moving_too_fast_for_policy = 9 [json_name=\"movingTooFastForPolicy\"];\n\toptional bool obstructed = 10 [json_name=\"obstructed\"];\n}\n\nmessage Location {\n\toptional bool enabled = 1 [json_name=\"enabled\"];\n\toptional double latitude = 2 [json_name=\"latitude\"];\n\toptional double longitude = 3 [json_name=\"longitude\"];\n\toptional double altitude_meters = 4 [json_name=\"altitudeMeters\"];\n}\n\n\tenum TestResult {\n\t\tNO_RESULT = 0;\n\t\tPASSED = 1;\n\t\tFAILED = 2;\n\t}\n\tenum DisablementCode {\n\t\tUNKNOWN = 0;\n\t\tOKAY = 1;\n\t\tNO_ACTIVE_ACCOUNT = 2;\n\t\tTOO_FAR_FROM_SERVICE_ADDRESS = 3;\n\t\tIN_OCEAN = 4;\n\t\tINVALID_COUNTRY = 5;\n\t\tBLOCKED_COUNTRY = 6;\n\t\tDATA_OVERAGE_SANDBOX_POLICY = 7;\n\t\tCELL_IS_DISABLED = 8;\n\t\tUNLICENSED_COUNTRY = 9;\n\t}\n}\n\nmessage TcpConnectivityTestRequest {\n\toptional string target = 1 [json_name=\"target\"];\n\toptional uint32 port = 2 [json_name=\"port\"];\n}\n\nmessage UdpConnectivityTestRequest {\n\toptional string target = 1 [json_name=\"target\"];\n\toptional uint32 port = 2 [json_name=\"port\"];\n\toptional .SpaceX.API.Device.UdpConnectivityTestRequest.UDPProbeDataType probe_data = 3 [json_name=\"probeData\"];\n\tenum UDPProbeDataType {\n\t\tEMPTY = 0;\n\t\tDNS_STATUS_REQUEST = 1;\n\t\tDTLS_CLIENT_HELLO = 2;\n\t\tDNS_VERSION_BIND_REQ = 3;\n\t\tRPC_CHECK = 4;\n\t\tDNS_SD = 5;\n\t\tSNMP_V1_PUBLIC = 6;\n\t\tSNMP_V3_GET_REQUEST = 7;\n\t\tNTP_MESSAGE = 8;\n\t\tXDMCP = 9;\n\t\tKERBEROS = 10;\n\t\tSIP_OPTIONS = 11;\n\t\tLDAP_SEARCH_REQ = 12;\n\t\tMEMCACHED_STATS = 13;\n\t\tOPENVPN = 14;\n\t\tCIFS_NS_UC = 15;\n\t\tTFTP_GET = 16;\n\t\tDHCP_INFORM = 17;\n\t\tQUIC = 18;\n\t\tRIPV1 = 19;\n\t\tNFS_PROC_NULL = 20;\n\t\tCOAP_REQUEST = 21;\n\t}\n}\n\nenum WifiClientSandboxAlert {\n\tLANDING_PAGE_DOWN = 0;\n\tSANDBOX_API_DOWN_GROUND = 1;\n\tSANDBOX_API_DOWN_STARLINK = 2;\n}\n\nenum PositionSource {\n\tAUTO = 0;\n\tNONE = 1;\n\tUT_INFO = 2;\n\tEXTERNAL = 3;\n\tGPS = 4;\n\tSTARLINK = 5;\n\tGNC_GPS = 6;\n\tGNC_PNT = 7;\n\tGNC_FUSED = 8;\n\tGNC_RAW = 9;\n}\n\nenum SpeedtestError {\n\tSPEEDTEST_ERROR_NONE = 0;\n\tSPEEDTEST_ERROR_UNKNOWN = 1;\n\tSPEEDTEST_ERROR_TOKEN = 2;\n\tSPEEDTEST_ERROR_API = 3;\n\tSPEEDTEST_ERROR_NO_RESULT = 4;\n\tSPEEDTEST_ERROR_OFFLINE = 5;\n}\n\n\n\nmessage DishConfig {\n\toptional .SpaceX.API.Device.DishConfig.SnowMeltMode snow_melt_mode = 1 [json_name=\"snowMeltMode\"];\n\toptional bool apply_snow_melt_mode = 1001 [json_name=\"applySnowMeltMode\"];\n\toptional .SpaceX.API.Device.DishConfig.LocationRequestMode location_request_mode = 2 [json_name=\"locationRequestMode\"];\n\toptional bool apply_location_request_mode = 2001 [json_name=\"applyLocationRequestMode\"];\n\toptional .SpaceX.API.Device.DishConfig.LevelDishMode level_dish_mode = 3 [json_name=\"levelDishMode\"];\n\toptional bool apply_level_dish_mode = 3001 [json_name=\"applyLevelDishMode\"];\n\toptional uint32 power_save_start_minutes = 4 [json_name=\"powerSaveStartMinutes\"];\n\toptional bool apply_power_save_start_minutes = 4001 [json_name=\"applyPowerSaveStartMinutes\"];\n\toptional uint32 power_save_duration_minutes = 5 [json_name=\"powerSaveDurationMinutes\"];\n\toptional bool apply_power_save_duration_minutes = 5001 [json_name=\"applyPowerSaveDurationMinutes\"];\n\toptional bool power_save_mode = 6 [json_name=\"powerSaveMode\"];\n\toptional bool apply_power_save_mode = 6001 [json_name=\"applyPowerSaveMode\"];\n\toptional bool swupdate_three_day_deferral_enabled = 7 [json_name=\"swupdateThreeDayDeferralEnabled\"];\n\toptional bool apply_swupdate_three_day_deferral_enabled = 7001 [json_name=\"applySwupdateThreeDayDeferralEnabled\"];\n\tenum SnowMeltMode {\n\t\tAUTO = 0;\n\t\tALWAYS_ON = 1;\n\t\tALWAYS_OFF = 2;\n\t}\n\tenum LocationRequestMode {\n\t\tNONE = 0;\n\t\tLOCAL = 1;\n\t}\n\tenum LevelDishMode {\n\t\tTILT_LIKE_NORMAL = 0;\n\t\tFORCE_LEVEL = 1;\n\t}\n}\n\n\n\n\nmessage DishStowRequest {\n\toptional bool unstow = 1 [json_name=\"unstow\"];\n}\n\nmessage DishStowResponse {\n}\n\nmessage DishGetContextRequest {\n}\n\nmessage DishGetContextResponse {\n\toptional .SpaceX.API.Device.DeviceInfo device_info = 1 [json_name=\"deviceInfo\"];\n\toptional .SpaceX.API.Device.DeviceState device_state = 7 [json_name=\"deviceState\"];\n\toptional float obstruction_fraction = 2 [json_name=\"obstructionFraction\"];\n\toptional float obstruction_time = 20 [json_name=\"obstructionTime\"];\n\toptional float obstruction_valid_s = 3 [json_name=\"obstructionValidS\"];\n\toptional bool obstruction_current = 12 [json_name=\"obstructionCurrent\"];\n\toptional uint32 cell_id = 4 [json_name=\"cellId\"];\n\toptional uint32 pop_rack_id = 5 [json_name=\"popRackId\"];\n\toptional uint32 initial_satellite_id = 8 [json_name=\"initialSatelliteId\"];\n\toptional uint32 initial_gateway_id = 9 [json_name=\"initialGatewayId\"];\n\toptional bool on_backup_beam = 10 [json_name=\"onBackupBeam\"];\n\toptional float seconds_to_slot_end = 6 [json_name=\"secondsToSlotEnd\"];\n\toptional bool debug_telemetry_enabled = 11 [json_name=\"debugTelemetryEnabled\"];\n\toptional float pop_ping_drop_rate_15s_mean = 13 [json_name=\"popPingDropRate15sMean\"];\n\toptional float pop_ping_latency_ms_15s_mean = 14 [json_name=\"popPingLatencyMs15sMean\"];\n\toptional float seconds_since_last_1s_outage = 15 [json_name=\"secondsSinceLast1sOutage\"];\n\toptional float seconds_since_last_2s_outage = 16 [json_name=\"secondsSinceLast2sOutage\"];\n\toptional float seconds_since_last_5s_outage = 17 [json_name=\"secondsSinceLast5sOutage\"];\n\toptional float seconds_since_last_15s_outage = 18 [json_name=\"secondsSinceLast15sOutage\"];\n\toptional float seconds_since_last_60s_outage = 19 [json_name=\"secondsSinceLast60sOutage\"];\n\toptional .SpaceX.API.Device.UtDisablementCode disablement_code = 21 [json_name=\"disablementCode\"];\n\toptional float ku_mac_active_ratio = 22 [json_name=\"kuMacActiveRatio\"];\n}\n\nmessage DishOutage {\n\toptional .SpaceX.API.Device.DishOutage.Cause cause = 1 [json_name=\"cause\"];\n\toptional int64 start_timestamp_ns = 2 [json_name=\"startTimestampNs\"];\n\toptional uint64 duration_ns = 3 [json_name=\"durationNs\"];\n\toptional bool did_switch = 4 [json_name=\"didSwitch\"];\n\tenum Cause {\n\t\tUNKNOWN = 0;\n\t\tBOOTING = 1;\n\t\tSTOWED = 2;\n\t\tTHERMAL_SHUTDOWN = 3;\n\t\tNO_SCHEDULE = 4;\n\t\tNO_SATS = 5;\n\t\tOBSTRUCTED = 6;\n\t\tNO_DOWNLINK = 7;\n\t\tNO_PINGS = 8;\n\t\tACTUATOR_ACTIVITY = 9;\n\t\tCABLE_TEST = 10;\n\t\tSLEEPING = 11;\n\t\tMOVING_WHILE_NOT_ALLOWED = 12;\n\t}\n}\n\nmessage DishGetHistoryResponse {\n\toptional uint64 current = 1 [json_name=\"current\"];\n\trepeated float pop_ping_drop_rate = 1001 [json_name=\"popPingDropRate\"];\n\trepeated float pop_ping_latency_ms = 1002 [json_name=\"popPingLatencyMs\"];\n\trepeated float downlink_throughput_bps = 1003 [json_name=\"downlinkThroughputBps\"];\n\trepeated float uplink_throughput_bps = 1004 [json_name=\"uplinkThroughputBps\"];\n\trepeated .SpaceX.API.Device.DishOutage outages = 1009 [json_name=\"outages\"];\n}\n\nmessage DishGetStatusResponse {\n\toptional .SpaceX.API.Device.DeviceInfo device_info = 1 [json_name=\"deviceInfo\"];\n\toptional .SpaceX.API.Device.DeviceState device_state = 2 [json_name=\"deviceState\"];\n\toptional .SpaceX.API.Device.DishAlerts alerts = 1005 [json_name=\"alerts\"];\n\toptional .SpaceX.API.Device.DishOutage outage = 1014 [json_name=\"outage\"];\n\toptional .SpaceX.API.Device.DishGpsStats gps_stats = 1015 [json_name=\"gpsStats\"];\n\toptional float seconds_to_first_nonempty_slot = 1002 [json_name=\"secondsToFirstNonemptySlot\"];\n\toptional float pop_ping_drop_rate = 1003 [json_name=\"popPingDropRate\"];\n\toptional float downlink_throughput_bps = 1007 [json_name=\"downlinkThroughputBps\"];\n\toptional float uplink_throughput_bps = 1008 [json_name=\"uplinkThroughputBps\"];\n\toptional float pop_ping_latency_ms = 1009 [json_name=\"popPingLatencyMs\"];\n\toptional .SpaceX.API.Device.DishObstructionStats obstruction_stats = 1004 [json_name=\"obstructionStats\"];\n\toptional bool stow_requested = 1010 [json_name=\"stowRequested\"];\n\toptional float boresight_azimuth_deg = 1011 [json_name=\"boresightAzimuthDeg\"];\n\toptional float boresight_elevation_deg = 1012 [json_name=\"boresightElevationDeg\"];\n\toptional int32 eth_speed_mbps = 1016 [json_name=\"ethSpeedMbps\"];\n\toptional .SpaceX.API.Device.UserMobilityClass mobility_class = 1017 [json_name=\"mobilityClass\"];\n\toptional bool is_snr_above_noise_floor = 1018 [json_name=\"isSnrAboveNoiseFloor\"];\n\toptional .SpaceX.API.Device.DishReadyStates ready_states = 1019 [json_name=\"readyStates\"];\n\toptional .SpaceX.API.Device.UserClassOfService class_of_service = 1020 [json_name=\"classOfService\"];\n\toptional .SpaceX.API.Device.SoftwareUpdateState software_update_state = 1021 [json_name=\"softwareUpdateState\"];\n\toptional bool swupdate_reboot_ready = 1030 [json_name=\"swupdateRebootReady\"];\n\toptional .SpaceX.API.Device.RebootReason reboot_reason = 1032 [json_name=\"rebootReason\"];\n\toptional .SpaceX.API.Device.SoftwareUpdateStats software_update_stats = 1026 [json_name=\"softwareUpdateStats\"];\n\toptional .SpaceX.API.Device.AlignmentStats alignment_stats = 1027 [json_name=\"alignmentStats\"];\n\toptional bool is_snr_persistently_low = 1022 [json_name=\"isSnrPersistentlyLow\"];\n\toptional .SpaceX.API.Device.HasActuators has_actuators = 1023 [json_name=\"hasActuators\"];\n\toptional .SpaceX.API.Device.UtDisablementCode disablement_code = 1024 [json_name=\"disablementCode\"];\n\toptional bool has_signed_cals = 1025 [json_name=\"hasSignedCals\"];\n\toptional .SpaceX.API.Device.DishConfig config = 2000 [json_name=\"config\"];\n\toptional .SpaceX.API.Device.InitializationDurationSeconds initialization_duration_seconds = 1028 [json_name=\"initializationDurationSeconds\"];\n\toptional bool is_cell_disabled = 1029 [json_name=\"isCellDisabled\"];\n\toptional int32 seconds_until_swupdate_reboot_possible = 1031 [json_name=\"secondsUntilSwupdateRebootPossible\"];\n\trepeated string connected_routers = 1040 [json_name=\"connectedRouters\"];\n}\n\nmessage DishGetObstructionMapRequest {\n}\n\nmessage DishGetObstructionMapResponse {\n\toptional uint32 num_rows = 1 [json_name=\"numRows\"];\n\toptional uint32 num_cols = 2 [json_name=\"numCols\"];\n\trepeated float snr = 3 [json_name=\"snr\"];\n\toptional float min_elevation_deg = 4 [json_name=\"minElevationDeg\"];\n\toptional float max_theta_deg = 5 [json_name=\"maxThetaDeg\"];\n}\n\nmessage DishAlerts {\n\toptional bool motors_stuck = 1 [json_name=\"motorsStuck\"];\n\toptional bool thermal_throttle = 3 [json_name=\"thermalThrottle\"];\n\toptional bool thermal_shutdown = 2 [json_name=\"thermalShutdown\"];\n\toptional bool mast_not_near_vertical = 5 [json_name=\"mastNotNearVertical\"];\n\toptional bool unexpected_location = 4 [json_name=\"unexpectedLocation\"];\n\toptional bool slow_ethernet_speeds = 6 [json_name=\"slowEthernetSpeeds\"];\n\toptional bool slow_ethernet_speeds_100 = 18 [json_name=\"slowEthernetSpeeds100\"];\n\toptional bool roaming = 7 [json_name=\"roaming\"];\n\toptional bool install_pending = 8 [json_name=\"installPending\"];\n\toptional bool is_heating = 9 [json_name=\"isHeating\"];\n\toptional bool power_supply_thermal_throttle = 10 [json_name=\"powerSupplyThermalThrottle\"];\n\toptional bool is_power_save_idle = 11 [json_name=\"isPowerSaveIdle\"];\n\toptional bool moving_while_not_mobile = 12 [json_name=\"movingWhileNotMobile\"];\n\toptional bool moving_too_fast_for_policy = 15 [json_name=\"movingTooFastForPolicy\"];\n\toptional bool dbf_telem_stale = 14 [json_name=\"dbfTelemStale\"];\n\toptional bool low_motor_current = 16 [json_name=\"lowMotorCurrent\"];\n\toptional bool lower_signal_than_predicted = 17 [json_name=\"lowerSignalThanPredicted\"];\n}\n\nmessage DishReadyStates {\n\toptional bool cady = 1 [json_name=\"cady\"];\n\toptional bool scp = 2 [json_name=\"scp\"];\n\toptional bool l1l2 = 3 [json_name=\"l1l2\"];\n\toptional bool xphy = 4 [json_name=\"xphy\"];\n\toptional bool aap = 5 [json_name=\"aap\"];\n\toptional bool rf = 6 [json_name=\"rf\"];\n}\n\nmessage DishGpsStats {\n\toptional bool gps_valid = 1 [json_name=\"gpsValid\"];\n\toptional uint32 gps_sats = 2 [json_name=\"gpsSats\"];\n\toptional bool no_sats_after_ttff = 3 [json_name=\"noSatsAfterTtff\"];\n\toptional bool inhibit_gps = 4 [json_name=\"inhibitGps\"];\n}\n\nmessage SoftwareUpdateStats {\n\toptional .SpaceX.API.Device.SoftwareUpdateState software_update_state = 1 [json_name=\"softwareUpdateState\"];\n\toptional float software_update_progress = 2 [json_name=\"softwareUpdateProgress\"];\n\toptional bool update_requires_reboot = 3 [json_name=\"updateRequiresReboot\"];\n}\n\nmessage AlignmentStats {\n\toptional .SpaceX.API.Device.HasActuators has_actuators = 1 [json_name=\"hasActuators\"];\n\toptional .SpaceX.API.Device.ActuatorState actuator_state = 2 [json_name=\"actuatorState\"];\n\toptional float tilt_angle_deg = 3 [json_name=\"tiltAngleDeg\"];\n\toptional float boresight_azimuth_deg = 4 [json_name=\"boresightAzimuthDeg\"];\n\toptional float boresight_elevation_deg = 5 [json_name=\"boresightElevationDeg\"];\n\toptional float desired_boresight_azimuth_deg = 8 [json_name=\"desiredBoresightAzimuthDeg\"];\n\toptional float desired_boresight_elevation_deg = 9 [json_name=\"desiredBoresightElevationDeg\"];\n\toptional .SpaceX.API.Device.AttitudeEstimationState attitude_estimation_state = 6 [json_name=\"attitudeEstimationState\"];\n\toptional float attitude_uncertainty_deg = 7 [json_name=\"attitudeUncertaintyDeg\"];\n}\n\nmessage DishObstructionStats {\n\toptional bool currently_obstructed = 5 [json_name=\"currentlyObstructed\"];\n\toptional float fraction_obstructed = 1 [json_name=\"fractionObstructed\"];\n\toptional float time_obstructed = 9 [json_name=\"timeObstructed\"];\n\toptional float valid_s = 4 [json_name=\"validS\"];\n\toptional uint32 patches_valid = 10 [json_name=\"patchesValid\"];\n\toptional float avg_prolonged_obstruction_duration_s = 6 [json_name=\"avgProlongedObstructionDurationS\"];\n\toptional float avg_prolonged_obstruction_interval_s = 7 [json_name=\"avgProlongedObstructionIntervalS\"];\n\toptional bool avg_prolonged_obstruction_valid = 8 [json_name=\"avgProlongedObstructionValid\"];\n}\n\nmessage InitializationDurationSeconds {\n\toptional int32 attitude_initialization = 1 [json_name=\"attitudeInitialization\"];\n\toptional int32 burst_detected = 2 [json_name=\"burstDetected\"];\n\toptional int32 ekf_converged = 3 [json_name=\"ekfConverged\"];\n\toptional int32 first_cplane = 4 [json_name=\"firstCplane\"];\n\toptional int32 first_pop_ping = 5 [json_name=\"firstPopPing\"];\n\toptional int32 gps_valid = 6 [json_name=\"gpsValid\"];\n\toptional int32 initial_network_entry = 7 [json_name=\"initialNetworkEntry\"];\n\toptional int32 network_schedule = 8 [json_name=\"networkSchedule\"];\n\toptional int32 rf_ready = 9 [json_name=\"rfReady\"];\n\toptional int32 stable_connection = 10 [json_name=\"stableConnection\"];\n}\n\nmessage DishAuthenticateResponse {\n\toptional .SpaceX.API.Device.ChallengeResponse dish = 2 [json_name=\"dish\"];\n}\n\nmessage SelfTestRequest {\n\toptional bool detailed = 1 [json_name=\"detailed\"];\n}\n\nmessage SelfTestResponse {\n\toptional bool passed = 1 [json_name=\"passed\"];\n\toptional string report = 2 [json_name=\"report\"];\n}\n\nmessage StartDishSelfTestRequest {\n}\n\nmessage StartDishSelfTestResponse {\n}\n\nmessage SetTestModeRequest {\n\toptional .SpaceX.API.Device.SetTestModeRequest.RfMode rf_mode = 1 [json_name=\"rfMode\"];\n\toptional bool disable_loss_of_comm_fdir = 1001 [json_name=\"disableLossOfCommFdir\"];\n\toptional bool enable_rules_override = 1002 [json_name=\"enableRulesOverride\"];\n\tenum RfMode {\n\t\tRX = 0;\n\t\tIDLE = 1;\n\t\tTX = 2;\n\t\tCAL = 3;\n\t\tUSER = 4;\n\t\tNORMAL = 420;\n\t}\n}\n\nmessage SetTestModeResponse {\n}\n\nmessage DishSetConfigRequest {\n\toptional .SpaceX.API.Device.DishConfig dish_config = 1 [json_name=\"dishConfig\"];\n}\n\nmessage DishSetConfigResponse {\n\toptional .SpaceX.API.Device.DishConfig updated_dish_config = 1 [json_name=\"updatedDishConfig\"];\n}\n\nmessage DishGetConfigRequest {\n}\n\nmessage DishGetConfigResponse {\n\toptional .SpaceX.API.Device.DishConfig dish_config = 1 [json_name=\"dishConfig\"];\n}\n\nmessage DishInhibitGpsRequest {\n\toptional bool inhibit_gps = 1 [json_name=\"inhibitGps\"];\n}\n\nmessage DishInhibitGpsResponse {\n\toptional bool inhibit_gps = 1 [json_name=\"inhibitGps\"];\n}\n\nmessage DishGetDataRequest {\n\toptional uint32 id = 1 [json_name=\"id\"];\n}\n\nmessage DishClearObstructionMapRequest {\n}\n\nmessage DishClearObstructionMapResponse {\n}\n\nmessage DishActivateRssiScanRequest {\n\toptional .SpaceX.API.Device.DishActivateRssiScan scan_query = 1 [json_name=\"scanQuery\"];\n}\n\nmessage DishActivateRssiScanResponse {\n\toptional bool success = 1 [json_name=\"success\"];\n}\n\nmessage DishGetRssiScanResultRequest {\n}\n\nmessage DishGetRssiScanResultResponse {\n\toptional .SpaceX.API.Device.DishGetRssiScanResult result = 1 [json_name=\"result\"];\n}\n\nmessage DishFactoryResetRequest {\n}\n\nmessage DishFactoryResetResponse {\n}\n\nmessage ResetButtonRequest {\n\toptional bool pressed = 1 [json_name=\"pressed\"];\n}\n\nmessage ResetButtonResponse {\n}\n\nenum UserMobilityClass {\n\tSTATIONARY = 0;\n\tNOMADIC = 1;\n\tMOBILE = 2;\n}\n\nenum SoftwareUpdateState {\n\tSOFTWARE_UPDATE_STATE_UNKNOWN = 0;\n\tIDLE = 1;\n\tFETCHING = 2;\n\tPRE_CHECK = 3;\n\tWRITING = 4;\n\tPOST_CHECK = 5;\n\tREBOOT_REQUIRED = 6;\n\tDISABLED = 7;\n\tFAULTED = 8;\n}\n\nenum UserClassOfService {\n\tUNKNOWN_USER_CLASS_OF_SERVICE = 0;\n\tCONSUMER = 1;\n\tBUSINESS = 2;\n\tBUSINESS_PLUS = 3;\n\tCOMMERCIAL_AVIATION = 4;\n}\n\nenum HasActuators {\n\tHAS_ACTUATORS_UNKNOWN = 0;\n\tHAS_ACTUATORS_YES = 1;\n\tHAS_ACTUATORS_NO = 2;\n}\n\nenum ActuatorState {\n\tACTUATOR_STATE_IDLE = 0;\n\tACTUATOR_STATE_FULL_TILT = 1;\n\tACTUATOR_STATE_ROTATE = 2;\n\tACTUATOR_STATE_TILT = 3;\n\tACTUATOR_STATE_UNWRAP_POSITIVE = 4;\n\tACTUATOR_STATE_UNWRAP_NEGATIVE = 5;\n\tACTUATOR_STATE_TILT_TO_STOWED = 6;\n\tACTUATOR_STATE_FAULTED = 7;\n\tACTUATOR_STATE_WAIT_TIL_STATIC = 8;\n\tACTUATOR_STATE_DRIVE_TO_MOBILE_POSITION = 9;\n\tACTUATOR_STATE_MOBILE_WAIT = 10;\n}\n\nenum AttitudeEstimationState {\n\tFILTER_RESET = 0;\n\tFILTER_UNCONVERGED = 1;\n\tFILTER_CONVERGED = 2;\n\tFILTER_FAULTED = 3;\n\tFILTER_INVALID = 4;\n}\n\nenum RebootReason {\n\tREBOOT_REASON_NONE = 0;\n\tREBOOT_REASON_MANUAL = 1;\n\tREBOOT_REASON_LOSS_OF_COMM = 2;\n\tREBOOT_REASON_SWUPDATE_NOW = 3;\n\tREBOOT_REASON_SWUPDATE_SCHEDULED = 4;\n\tREBOOT_REASON_APP = 5;\n\tREBOOT_REASON_EMC = 6;\n\tREBOOT_REASON_FACTORY_RESET = 7;\n\tREBOOT_REASON_TEST_CASE = 8;\n\tREBOOT_REASON_THERMAL_POWER_CUT = 9;\n\tREBOOT_REASON_CRITICAL_PROCESS_DIED = 10;\n\tREBOOT_REASON_NO_RF_READY = 11;\n\tREBOOT_REASON_POSTPONED_LOSS_OF_COMM = 12;\n\tREBOOT_REASON_SWUPDATE_STATIONARY = 13;\n\tREBOOT_REASON_AAP_CRASH = 14;\n\tREBOOT_REASON_XP70_SACS = 15;\n\tREBOOT_REASON_INE_FAILED = 16;\n}\n\nenum DishState {\n\tUNKNOWN = 0;\n\tCONNECTED = 1;\n\tSEARCHING = 2;\n\tBOOTING = 3;\n}\n\n\n\nmessage RssiEntry {\n\toptional double theta_degree = 1 [json_name=\"thetaDegree\"];\n\toptional double phi_degree = 2 [json_name=\"phiDegree\"];\n\toptional double rssi_dbf = 3 [json_name=\"rssiDbf\"];\n\toptional uint64 scan_timestamp_ms = 4 [json_name=\"scanTimestampMs\"];\n}\n\nmessage DishActivateRssiScan {\n\toptional uint32 channel = 1 [json_name=\"channel\"];\n}\n\nmessage DishGetRssiScanResult {\n\toptional bool success = 1 [json_name=\"success\"];\n\toptional uint32 channel = 2 [json_name=\"channel\"];\n\toptional uint64 request_timestamp = 3 [json_name=\"requestTimestamp\"];\n\toptional uint32 number_samples = 4 [json_name=\"numberSamples\"];\n\trepeated .SpaceX.API.Device.RssiEntry rssi_scan_points = 5 [json_name=\"rssiScanPoints\"];\n}\n\nservice Device {\n    rpc Handle (.SpaceX.API.Device.Request) returns (.SpaceX.API.Device.Response) {}\n    rpc Stream (stream .SpaceX.API.Device.ToDevice) returns (stream .SpaceX.API.Device.FromDevice) {}\n}\n\nmessage TransceiverIFLoopbackTestRequest {\n\toptional bool enable_if_loopback = 1 [json_name=\"enableIfLoopback\"];\n}\n\nmessage TransceiverIFLoopbackTestResponse {\n\toptional float ber_loopback_test = 1 [json_name=\"berLoopbackTest\"];\n\toptional float snr_loopback_test = 2 [json_name=\"snrLoopbackTest\"];\n\toptional float rssi_loopback_test = 3 [json_name=\"rssiLoopbackTest\"];\n\toptional bool pll_lock = 4 [json_name=\"pllLock\"];\n}\n\nmessage TransceiverGetStatusRequest {\n}\n\nmessage TransceiverGetStatusResponse {\n\toptional .SpaceX.API.Device.TransceiverModulatorState mod_state = 1 [json_name=\"modState\"];\n\toptional .SpaceX.API.Device.TransceiverModulatorState demod_state = 2 [json_name=\"demodState\"];\n\toptional .SpaceX.API.Device.TransceiverTxRxState tx_state = 3 [json_name=\"txState\"];\n\toptional .SpaceX.API.Device.TransceiverTxRxState rx_state = 4 [json_name=\"rxState\"];\n\toptional .SpaceX.API.Device.DishState state = 1006 [json_name=\"state\"];\n\toptional .SpaceX.API.Device.TransceiverFaults faults = 1007 [json_name=\"faults\"];\n\toptional .SpaceX.API.Device.TransceiverTransmitBlankingState transmit_blanking_state = 1008 [json_name=\"transmitBlankingState\"];\n\toptional float modem_asic_temp = 1009 [json_name=\"modemAsicTemp\"];\n\toptional float tx_if_temp = 1010 [json_name=\"txIfTemp\"];\n}\n\nmessage TransceiverFaults {\n\toptional bool over_temp_modem_asic_fault = 1 [json_name=\"overTempModemAsicFault\"];\n\toptional bool over_temp_pcba_fault = 2 [json_name=\"overTempPcbaFault\"];\n\toptional bool dc_voltage_fault = 3 [json_name=\"dcVoltageFault\"];\n}\n\nmessage TransceiverGetTelemetryRequest {\n}\n\nmessage TransceiverGetTelemetryResponse {\n\toptional uint32 antenna_pointing_mode = 1001 [json_name=\"antennaPointingMode\"];\n\toptional float antenna_pitch = 1002 [json_name=\"antennaPitch\"];\n\toptional float antenna_roll = 1003 [json_name=\"antennaRoll\"];\n\toptional float antenna_rx_theta = 1004 [json_name=\"antennaRxTheta\"];\n\toptional float antenna_true_heading = 1005 [json_name=\"antennaTrueHeading\"];\n\toptional uint32 rx_channel = 1006 [json_name=\"rxChannel\"];\n\toptional uint32 current_cell_id = 1007 [json_name=\"currentCellId\"];\n\toptional float seconds_until_slot_end = 1008 [json_name=\"secondsUntilSlotEnd\"];\n\toptional float wb_rssi_peak_mag_db = 1009 [json_name=\"wbRssiPeakMagDb\"];\n\toptional float pop_ping_drop_rate = 1010 [json_name=\"popPingDropRate\"];\n\toptional float snr_db = 1011 [json_name=\"snrDb\"];\n\toptional float l1_snr_avg_db = 1012 [json_name=\"l1SnrAvgDb\"];\n\toptional float l1_snr_min_db = 1013 [json_name=\"l1SnrMinDb\"];\n\toptional float l1_snr_max_db = 1014 [json_name=\"l1SnrMaxDb\"];\n\toptional uint32 lmac_satellite_id = 1015 [json_name=\"lmacSatelliteId\"];\n\toptional uint32 target_satellite_id = 1016 [json_name=\"targetSatelliteId\"];\n\toptional uint32 grant_mcs = 1017 [json_name=\"grantMcs\"];\n\toptional float grant_symbols_avg = 1018 [json_name=\"grantSymbolsAvg\"];\n\toptional uint32 ded_grant = 1019 [json_name=\"dedGrant\"];\n\toptional uint32 mobility_proactive_slot_change = 1020 [json_name=\"mobilityProactiveSlotChange\"];\n\toptional uint32 mobility_reactive_slot_change = 1021 [json_name=\"mobilityReactiveSlotChange\"];\n\toptional uint32 rfp_total_syn_failed = 1022 [json_name=\"rfpTotalSynFailed\"];\n\toptional uint32 num_out_of_seq = 1023 [json_name=\"numOutOfSeq\"];\n\toptional uint32 num_ulmap_drop = 1024 [json_name=\"numUlmapDrop\"];\n\toptional float current_seconds_of_schedule = 1025 [json_name=\"currentSecondsOfSchedule\"];\n\toptional uint32 send_label_switch_to_ground_failed_calls = 1026 [json_name=\"sendLabelSwitchToGroundFailedCalls\"];\n\toptional double ema_velocity_x = 1027 [json_name=\"emaVelocityX\"];\n\toptional double ema_velocity_y = 1028 [json_name=\"emaVelocityY\"];\n\toptional double ema_velocity_z = 1029 [json_name=\"emaVelocityZ\"];\n\toptional float ce_rssi_db = 1030 [json_name=\"ceRssiDb\"];\n}\n\nenum TransceiverModulatorState {\n\tMODSTATE_UNKNOWN = 0;\n\tMODSTATE_ENABLED = 1;\n\tMODSTATE_DISABLED = 2;\n}\n\nenum TransceiverTxRxState {\n\tTXRX_UNKNOWN = 0;\n\tTXRX_ENABLED = 1;\n\tTXRX_DISABLED = 2;\n}\n\nenum TransceiverTransmitBlankingState {\n\tTB_UNKNOWN = 0;\n\tTB_ENABLED = 1;\n\tTB_DISABLED = 2;\n}\n\n\n\nmessage MeshConfig {\n\toptional string display_name = 1 [json_name=\"displayName\"];\n\toptional bool apply_display_name = 2 [json_name=\"applyDisplayName\"];\n\toptional .SpaceX.API.Device.MeshAuth auth = 3 [json_name=\"auth\"];\n\toptional bool apply_auth = 4 [json_name=\"applyAuth\"];\n\toptional int64 last_connected = 5 [json_name=\"lastConnected\"];\n\toptional uint64 incarnation = 7 [json_name=\"incarnation\"];\n\toptional string hardware_version = 9 [json_name=\"hardwareVersion\"];\n\toptional bool supports_5ghz_high = 10 [json_name=\"supports5ghzHigh\"];\n}\n\nmessage WifiConfig {\n\toptional string country_code = 3 [json_name=\"countryCode\"];\n\toptional bool apply_country_code = 1085 [json_name=\"applyCountryCode\"];\n\toptional bool pin_country_code = 53 [json_name=\"pinCountryCode\"];\n\toptional bool apply_pin_country_code = 1086 [json_name=\"applyPinCountryCode\"];\n\toptional bool custom_power_table = 54 [json_name=\"customPowerTable\"];\n\toptional bool apply_custom_power_table = 1087 [json_name=\"applyCustomPowerTable\"];\n\toptional bool setup_complete = 7 [json_name=\"setupComplete\"];\n\toptional bool apply_setup_complete = 1010 [json_name=\"applySetupComplete\"];\n\toptional uint32 version = 9 [json_name=\"version\"];\n\toptional string mac_wan = 12 [json_name=\"macWan\"];\n\toptional string mac_lan = 13 [json_name=\"macLan\"];\n\toptional uint32 channel_2ghz = 19 [json_name=\"channel2ghz\"];\n\toptional bool apply_channel_2ghz = 1013 [json_name=\"applyChannel2ghz\"];\n\toptional uint32 channel_5ghz = 20 [json_name=\"channel5ghz\"];\n\toptional bool apply_channel_5ghz = 1014 [json_name=\"applyChannel5ghz\"];\n\toptional uint32 channel_5ghz_high = 57 [json_name=\"channel5ghzHigh\"];\n\toptional bool apply_channel_5ghz_high = 1016 [json_name=\"applyChannel5ghzHigh\"];\n\trepeated .SpaceX.API.Device.WifiConfig.MeshConfigsEntry mesh_configs = 33 [json_name=\"meshConfigs\"];\n\trepeated .SpaceX.API.Device.WifiConfig.MeshConfigsUpdatesEntry mesh_configs_updates = 3033 [json_name=\"meshConfigsUpdates\"];\n\toptional bool apply_mesh_configs = 1033 [json_name=\"applyMeshConfigs\"];\n\trepeated .SpaceX.API.Device.PublicKey dynamic_keys = 22 [json_name=\"dynamicKeys\"];\n\toptional bool apply_dynamic_keys = 39 [json_name=\"applyDynamicKeys\"];\n\toptional bool is_repeater = 23 [json_name=\"isRepeater\"];\n\toptional bool apply_is_repeater = 1031 [json_name=\"applyIsRepeater\"];\n\toptional bool ap_mode = 51 [json_name=\"apMode\"];\n\toptional bool apply_ap_mode = 1066 [json_name=\"applyApMode\"];\n\toptional bool is_aviation = 49 [json_name=\"isAviation\"];\n\toptional bool apply_is_aviation = 1064 [json_name=\"applyIsAviation\"];\n\toptional int32 boot_count = 26 [json_name=\"bootCount\"];\n\toptional .SpaceX.API.Device.BootInfo boot = 3001 [json_name=\"boot\"];\n\trepeated string nameservers = 30 [json_name=\"nameservers\"];\n\toptional bool apply_nameservers = 1054 [json_name=\"applyNameservers\"];\n\toptional bool secure_dns = 50 [json_name=\"secureDns\"];\n\toptional bool apply_secure_dns = 1065 [json_name=\"applySecureDns\"];\n\toptional bool bypass_mode = 31 [json_name=\"bypassMode\"];\n\toptional bool apply_bypass_mode = 1055 [json_name=\"applyBypassMode\"];\n\toptional bool dfs_enabled = 42 [json_name=\"dfsEnabled\"];\n\toptional bool apply_dfs_enabled = 1058 [json_name=\"applyDfsEnabled\"];\n\toptional bool disable_mesh_onboarding = 52 [json_name=\"disableMeshOnboarding\"];\n\toptional bool apply_disable_mesh_onboarding = 1067 [json_name=\"applyDisableMeshOnboarding\"];\n\toptional bool disable_wireless_mesh_onboarding = 1097 [json_name=\"disableWirelessMeshOnboarding\"];\n\toptional bool apply_disable_wireless_mesh_onboarding = 1098 [json_name=\"applyDisableWirelessMeshOnboarding\"];\n\trepeated .SpaceX.API.Device.WifiConfig.Network networks = 1100 [json_name=\"networks\"];\n\toptional bool apply_networks = 1101 [json_name=\"applyNetworks\"];\n\toptional uint64 incarnation = 43 [json_name=\"incarnation\"];\n\toptional .SpaceX.API.Device.WifiConfig.WirelessMode wireless_mode_2ghz = 44 [json_name=\"wirelessMode2ghz\"];\n\toptional bool apply_wireless_mode_2ghz = 1059 [json_name=\"applyWirelessMode2ghz\"];\n\toptional .SpaceX.API.Device.WifiConfig.WirelessMode wireless_mode_5ghz = 45 [json_name=\"wirelessMode5ghz\"];\n\toptional bool apply_wireless_mode_5ghz = 1060 [json_name=\"applyWirelessMode5ghz\"];\n\toptional .SpaceX.API.Device.WifiConfig.WirelessMode wireless_mode_5ghz_high = 58 [json_name=\"wirelessMode5ghzHigh\"];\n\toptional bool apply_wireless_mode_5ghz_high = 1070 [json_name=\"applyWirelessMode5ghzHigh\"];\n\toptional .SpaceX.API.Device.WifiConfig.HTBandwidth ht_bandwidth_2ghz = 46 [json_name=\"htBandwidth2ghz\"];\n\toptional bool apply_ht_bandwidth_2ghz = 1061 [json_name=\"applyHtBandwidth2ghz\"];\n\toptional .SpaceX.API.Device.WifiConfig.HTBandwidth ht_bandwidth_5ghz = 47 [json_name=\"htBandwidth5ghz\"];\n\toptional bool apply_ht_bandwidth_5ghz = 1062 [json_name=\"applyHtBandwidth5ghz\"];\n\toptional .SpaceX.API.Device.WifiConfig.HTBandwidth ht_bandwidth_5ghz_high = 59 [json_name=\"htBandwidth5ghzHigh\"];\n\toptional bool apply_ht_bandwidth_5ghz_high = 1071 [json_name=\"applyHtBandwidth5ghzHigh\"];\n\toptional .SpaceX.API.Device.WifiConfig.VHTBandwidth vht_bandwidth = 48 [json_name=\"vhtBandwidth\"];\n\toptional bool apply_vht_bandwidth = 1063 [json_name=\"applyVhtBandwidth\"];\n\toptional .SpaceX.API.Device.WifiConfig.VHTBandwidth vht_bandwidth_5ghz_high = 60 [json_name=\"vhtBandwidth5ghzHigh\"];\n\toptional bool apply_vht_bandwidth_5ghz_high = 1072 [json_name=\"applyVhtBandwidth5ghzHigh\"];\n\toptional bool use_public_services = 55 [json_name=\"usePublicServices\"];\n\toptional bool apply_use_public_services = 1068 [json_name=\"applyUsePublicServices\"];\n\toptional bool disable_automated_speedtests = 56 [json_name=\"disableAutomatedSpeedtests\"];\n\toptional bool apply_disable_automated_speedtests = 1069 [json_name=\"applyDisableAutomatedSpeedtests\"];\n\toptional bool enable_umbilical_vlan = 61 [json_name=\"enableUmbilicalVlan\"];\n\toptional bool apply_enable_umbilical_vlan = 1073 [json_name=\"applyEnableUmbilicalVlan\"];\n\trepeated .SpaceX.API.Device.ClientName client_names = 62 [json_name=\"clientNames\"];\n\toptional bool apply_client_names = 1074 [json_name=\"applyClientNames\"];\n\toptional bool outdoor_mode = 63 [json_name=\"outdoorMode\"];\n\toptional bool apply_outdoor_mode = 1075 [json_name=\"applyOutdoorMode\"];\n\toptional bool disable_2ghz = 64 [json_name=\"disable2ghz\"];\n\toptional bool apply_disable_2ghz = 1076 [json_name=\"applyDisable2ghz\"];\n\toptional bool disable_5ghz = 65 [json_name=\"disable5ghz\"];\n\toptional bool apply_disable_5ghz = 1077 [json_name=\"applyDisable5ghz\"];\n\toptional bool disable_5ghz_high = 66 [json_name=\"disable5ghzHigh\"];\n\toptional bool apply_disable_5ghz_high = 1078 [json_name=\"applyDisable5ghzHigh\"];\n\toptional bool disable_x_mesh_backhaul = 67 [json_name=\"disableXMeshBackhaul\"];\n\toptional bool apply_disable_x_mesh_backhaul = 1079 [json_name=\"applyDisableXMeshBackhaul\"];\n\toptional string golden_bssid = 68 [json_name=\"goldenBssid\"];\n\toptional bool apply_golden_bssid = 1080 [json_name=\"applyGoldenBssid\"];\n\toptional .SpaceX.API.Device.IfaceType golden_iface_type = 69 [json_name=\"goldenIfaceType\"];\n\toptional bool apply_golden_iface_type = 1081 [json_name=\"applyGoldenIfaceType\"];\n\toptional .SpaceX.API.Device.TxPowerLevel tx_power_level_2ghz = 70 [json_name=\"txPowerLevel2ghz\"];\n\toptional bool apply_tx_power_level_2ghz = 1082 [json_name=\"applyTxPowerLevel2ghz\"];\n\toptional .SpaceX.API.Device.TxPowerLevel tx_power_level_5ghz = 71 [json_name=\"txPowerLevel5ghz\"];\n\toptional bool apply_tx_power_level_5ghz = 1083 [json_name=\"applyTxPowerLevel5ghz\"];\n\toptional .SpaceX.API.Device.TxPowerLevel tx_power_level_5ghz_high = 72 [json_name=\"txPowerLevel5ghzHigh\"];\n\toptional bool apply_tx_power_level_5ghz_high = 1084 [json_name=\"applyTxPowerLevel5ghzHigh\"];\n\toptional bool disable_pending_update_reboot = 73 [json_name=\"disablePendingUpdateReboot\"];\n\toptional bool apply_disable_pending_update_reboot = 1088 [json_name=\"applyDisablePendingUpdateReboot\"];\n\trepeated .SpaceX.API.Device.ClientConfig client_configs = 74 [json_name=\"clientConfigs\"];\n\toptional bool apply_client_configs = 1089 [json_name=\"applyClientConfigs\"];\n\toptional bool disable_set_wifi_config_from_controller = 75 [json_name=\"disableSetWifiConfigFromController\"];\n\toptional bool apply_disable_set_wifi_config_from_controller = 1090 [json_name=\"applyDisableSetWifiConfigFromController\"];\n\toptional bytes client_key = 76 [json_name=\"clientKey\"];\n\toptional bool apply_client_key = 1091 [json_name=\"applyClientKey\"];\n\toptional bool apply_wan_traffic_control = 1092 [json_name=\"applyWanTrafficControl\"];\n\toptional int32 wan_host_dscp_mark = 77 [json_name=\"wanHostDscpMark\"];\n\toptional bool apply_wan_host_dscp_mark = 1093 [json_name=\"applyWanHostDscpMark\"];\n\toptional bool debug_pop_pings = 79 [json_name=\"debugPopPings\"];\n\toptional bool apply_debug_pop_pings = 1095 [json_name=\"applyDebugPopPings\"];\n\toptional bool client_tester = 80 [json_name=\"clientTester\"];\n\toptional bool apply_client_tester = 1096 [json_name=\"applyClientTester\"];\n\toptional uint32 asset_class = 81 [json_name=\"assetClass\"];\n\toptional bool apply_asset_class = 1099 [json_name=\"applyAssetClass\"];\n\toptional uint32 tag = 78 [json_name=\"tag\"];\n\toneof wan_traffic_control {\n\t\t.SpaceX.API.Device.NoTrafficControl wan_no_traffic_control = 4001 [json_name=\"wanNoTrafficControl\"];\n\t\t.SpaceX.API.Device.AckSuppression wan_ack_suppression = 4002 [json_name=\"wanAckSuppression\"];\n\t\t.SpaceX.API.Device.CakeRateLimit wan_cake_rate_limit = 4003 [json_name=\"wanCakeRateLimit\"];\n\t}\nmessage MeshConfigsEntry {\n\toptional string key = 1 [json_name=\"key\"];\n\toptional .SpaceX.API.Device.MeshConfig value = 2 [json_name=\"value\"];\n}\n\nmessage MeshConfigsUpdatesEntry {\n\toptional string key = 1 [json_name=\"key\"];\n\toptional .SpaceX.API.Device.MeshConfig value = 2 [json_name=\"value\"];\n}\n\nmessage BasicServiceSet {\n\toptional string bssid = 1003 [json_name=\"bssid\"];\n\toptional string ssid = 1005 [json_name=\"ssid\"];\n\toptional .SpaceX.API.Device.WifiConfig.Band band = 1011 [json_name=\"band\"];\n\toptional string iface_name = 1017 [json_name=\"ifaceName\"];\n\toptional bool disable = 1013 [json_name=\"disable\"];\n\toptional bool hidden = 1015 [json_name=\"hidden\"];\n\toneof auth {\n\t\t.SpaceX.API.Device.AuthOpen auth_open = 2001 [json_name=\"authOpen\"];\n\t\t.SpaceX.API.Device.AuthWpa2 auth_wpa2 = 2002 [json_name=\"authWpa2\"];\n\t\t.SpaceX.API.Device.AuthWpa3 auth_wpa3 = 2003 [json_name=\"authWpa3\"];\n\t\t.SpaceX.API.Device.AuthWpa2Wpa3 auth_wpa2_wpa3 = 2004 [json_name=\"authWpa2Wpa3\"];\n\t\t.SpaceX.API.Device.AuthRadius auth_radius = 2005 [json_name=\"authRadius\"];\n\t}\n}\n\nmessage Network {\n\toptional string ipv4 = 1003 [json_name=\"ipv4\"];\n\toptional uint32 dhcpv4_start = 1012 [json_name=\"dhcpv4Start\"];\n\toptional bool dhcp_disabled = 1015 [json_name=\"dhcpDisabled\"];\n\toptional uint32 dhcpv4_lease_duration_s = 1016 [json_name=\"dhcpv4LeaseDurationS\"];\n\toptional string domain = 1011 [json_name=\"domain\"];\n\trepeated .SpaceX.API.Device.WifiConfig.BasicServiceSet basic_service_sets = 1007 [json_name=\"basicServiceSets\"];\n\toptional bool client_isolation = 1008 [json_name=\"clientIsolation\"];\n\toptional bool guest = 1009 [json_name=\"guest\"];\n\toptional string landing = 1010 [json_name=\"landing\"];\n\toptional bool landing_page_v2 = 1017 [json_name=\"landingPageV2\"];\n\toptional bool client_authorization_required = 1018 [json_name=\"clientAuthorizationRequired\"];\n\trepeated string unauthorized_client_domain_allow_list = 1019 [json_name=\"unauthorizedClientDomainAllowList\"];\n\toptional bool internal = 1013 [json_name=\"internal\"];\n\toptional uint32 vlan = 1014 [json_name=\"vlan\"];\n}\n\n\tenum Security {\n\t\tUNKNOWN = 0;\n\t\tWPA2 = 1;\n\t\tWPA3 = 2;\n\t\tWPA2WPA3 = 3;\n\t}\n\tenum Band {\n\t\tRF_UNKNOWN = 0;\n\t\tRF_2GHZ = 2;\n\t\tRF_5GHZ = 5;\n\t\tRF_5GHZ_HIGH = 6;\n\t}\n\tenum WirelessMode {\n\t\tWIRELESS_MODE_DEFAULT = 0;\n\t\tA_ONLY = 1;\n\t\tB_ONLY = 2;\n\t\tG_ONLY = 3;\n\t\tN_ONLY = 4;\n\t\tB_G_MIXED = 5;\n\t\tA_N_MIXED = 6;\n\t\tG_N_MIXED = 7;\n\t\tB_G_N_MIXED = 8;\n\t\tA_AN_AC_MIXED = 9;\n\t\tAN_AC_MIXED = 10;\n\t\tB_G_N_AX_MIXED = 11;\n\t\tA_AN_AC_AX_MIXED = 12;\n\t}\n\tenum HTBandwidth {\n\t\tHT_BANDWIDTH_DEFAULT = 0;\n\t\tHT_BANDWIDTH_20_MHZ = 1;\n\t\tHT_BANDWIDTH_20_OR_40_MHZ = 2;\n\t}\n\tenum VHTBandwidth {\n\t\tVHT_BANDWIDTH_DEFAULT = 0;\n\t\tVHT_BANDWIDTH_DISABLED = 1;\n\t\tVHT_BANDWIDTH_80_MHZ = 2;\n\t\tVHT_BANDWIDTH_160_MHZ = 3;\n\t\tVHT_BANDWIDTH_80_PLUS_80_MHZ = 4;\n\t}\n}\n\nmessage WeeklyBlockSchedule {\n\trepeated .SpaceX.API.Device.WeeklyBlockSchedule.BlockRange block_ranges = 1 [json_name=\"blockRanges\"];\n\toptional string group_id = 2 [json_name=\"groupId\"];\nmessage BlockRange {\n\toptional uint32 start_minutes = 1 [json_name=\"startMinutes\"];\n\toptional uint32 end_minutes = 2 [json_name=\"endMinutes\"];\n}\n\n}\n\nmessage ClientConfig {\n\toptional uint32 client_id = 1 [json_name=\"clientId\"];\n\toptional string mac_address = 2 [json_name=\"macAddress\"];\n\toptional string given_name = 3 [json_name=\"givenName\"];\n\trepeated .SpaceX.API.Device.WeeklyBlockSchedule weekly_block_schedules = 5 [json_name=\"weeklyBlockSchedules\"];\n\toptional string group_id = 6 [json_name=\"groupId\"];\n}\n\nmessage ClientName {\n\toptional string mac_address = 1 [json_name=\"macAddress\"];\n\toptional string given_name = 2 [json_name=\"givenName\"];\n}\n\nmessage AuthOpen {\n}\n\nmessage AuthWpa2 {\n\toptional string password = 1 [json_name=\"password\"];\n}\n\nmessage AuthWpa3 {\n\toptional string password = 1 [json_name=\"password\"];\n}\n\nmessage AuthWpa2Wpa3 {\n\toptional string password = 1 [json_name=\"password\"];\n}\n\nmessage AuthRadius {\n\toptional string server = 1 [json_name=\"server\"];\n\toptional string server_ca = 3 [json_name=\"serverCa\"];\n\toptional string server_ca_base_64 = 4 [json_name=\"serverCaBase64\"];\n\toptional string password = 2 [json_name=\"password\"];\n\toptional .SpaceX.API.Device.Protocol transport = 5 [json_name=\"transport\"];\n}\n\nmessage NoTrafficControl {\n}\n\nmessage AckSuppression {\n\toptional uint32 ack_mark = 1 [json_name=\"ackMark\"];\n\toptional float htb_ack_queue_rate = 2 [json_name=\"htbAckQueueRate\"];\n\toptional float htb_ack_queue_ceil = 3 [json_name=\"htbAckQueueCeil\"];\n\toptional float cake_queue_bandwidth = 4 [json_name=\"cakeQueueBandwidth\"];\n\toptional bool cake_ack_filter_aggressive = 5 [json_name=\"cakeAckFilterAggressive\"];\n\toptional float cake_manual_rtt = 6 [json_name=\"cakeManualRtt\"];\n}\n\nmessage CakeRateLimit {\n\toptional uint32 host_mark = 1 [json_name=\"hostMark\"];\n\toptional float bandwidth = 2 [json_name=\"bandwidth\"];\n\toptional .SpaceX.API.Device.CakePriorityQueueParameter priority_queue_parameter = 3 [json_name=\"priorityQueueParameter\"];\n\toptional .SpaceX.API.Device.CakeAckFilter ack_filter = 4 [json_name=\"ackFilter\"];\n\toptional float manual_rtt = 6 [json_name=\"manualRtt\"];\n}\n\nenum MeshAuth {\n\tMESH_AUTH_UNKNOWN = 0;\n\tMESH_AUTH_NEW = 1;\n\tMESH_AUTH_TRUSTED = 2;\n\tMESH_AUTH_UNTRUSTED = 3;\n}\n\nenum CakeAckFilter {\n\tNO_ACK_FILTER = 0;\n\tACK_FILTER = 1;\n\tACK_FILTER_AGGRESSIVE = 2;\n}\n\nenum CakePriorityQueueParameter {\n\tDIFFSERV3 = 0;\n\tDIFFSERV4 = 1;\n\tPRECEDENCE = 2;\n\tBEST_EFFORT = 3;\n}\n\n\n\nmessage WifiClients {\n\trepeated .SpaceX.API.Device.WifiClient clients = 1 [json_name=\"clients\"];\n}\n\nmessage ToController {\n\toptional int32 api_version = 4 [json_name=\"apiVersion\"];\n\toneof message {\n\t\t.SpaceX.API.Device.WifiClients clients = 1 [json_name=\"clients\"];\n\t\t.SpaceX.API.Device.WifiMeshJoin mesh_join = 2 [json_name=\"meshJoin\"];\n\t\t.SpaceX.API.Device.WifiMeshStatus status = 3 [json_name=\"status\"];\n\t\t.SpaceX.API.Device.MeshSpeedtest speedtest = 5 [json_name=\"speedtest\"];\n\t}\n}\n\nmessage WifiMeshJoin {\n\toptional uint64 incarnation = 1 [json_name=\"incarnation\"];\n\toptional string hardware_version = 2 [json_name=\"hardwareVersion\"];\n\toptional bool supports_5ghz_high = 3 [json_name=\"supports5ghzHigh\"];\n\trepeated .SpaceX.API.Device.WifiSiteSurveyResult siteSurveyScan = 4 [json_name=\"siteSurveyScan\"];\n}\n\nmessage WifiMeshStatus {\n\toptional string software_version = 5 [json_name=\"softwareVersion\"];\n\toptional string mac_lan = 6 [json_name=\"macLan\"];\n\trepeated string source_mac_addresses = 7 [json_name=\"sourceMacAddresses\"];\n\trepeated .SpaceX.API.Device.WifiClient clients = 2 [json_name=\"clients\"];\n\trepeated .SpaceX.API.Device.InflatedBasicServiceSet bss_list = 3 [json_name=\"bssList\"];\n\toptional string hardware_version = 4 [json_name=\"hardwareVersion\"];\n\toptional string backhaul_bssid = 8 [json_name=\"backhaulBssid\"];\n\toptional uint32 backhaul_est_preference = 9 [json_name=\"backhaulEstPreference\"];\n}\n\nmessage MeshSpeedtestRequest {\n}\n\nmessage MeshSpeedtest {\n\toptional int64 upload_start_time = 1 [json_name=\"uploadStartTime\"];\n\toptional int64 download_start_time = 2 [json_name=\"downloadStartTime\"];\n\toptional float upload_mbps = 3 [json_name=\"uploadMbps\"];\n\toptional float download_mbps = 4 [json_name=\"downloadMbps\"];\n}\n\nmessage WifiSiteSurveyResult {\n\toptional float rssi = 1 [json_name=\"rssi\"];\n\toptional uint32 channel = 2 [json_name=\"channel\"];\n\toptional string ssid = 3 [json_name=\"ssid\"];\n\toptional .SpaceX.API.Device.WifiSecurity security = 4 [json_name=\"security\"];\n\toptional .SpaceX.API.Device.WifiMode wireless_mode = 5 [json_name=\"wirelessMode\"];\n\toptional .SpaceX.API.Device.IfaceType iface = 6 [json_name=\"iface\"];\n\toptional string mac_address = 7 [json_name=\"macAddress\"];\n\toptional float est_rx_rate = 8 [json_name=\"estRxRate\"];\n}\n\nmessage WifiGlobalMeshStatus {\n\toptional string hardware_version = 1 [json_name=\"hardwareVersion\"];\n\toptional string software_version = 2 [json_name=\"softwareVersion\"];\n\trepeated .SpaceX.API.Device.InflatedBasicServiceSet bss_list = 3 [json_name=\"bssList\"];\n}\n\nmessage BackhaulRequest {\n\toptional bool retry_backhaul = 1 [json_name=\"retryBackhaul\"];\n\toptional .SpaceX.API.Device.WifiConfig golden_bss = 2 [json_name=\"goldenBss\"];\n}\n\nmessage FromController {\n\toptional int32 api_version = 3 [json_name=\"apiVersion\"];\n\toneof message {\n\t\t.SpaceX.API.Device.WifiConfig wifi_config = 1 [json_name=\"wifiConfig\"];\n\t\t.SpaceX.API.Device.SteerClientRequest steer_client_request = 2 [json_name=\"steerClientRequest\"];\n\t\t.SpaceX.API.Device.WifiGlobalMeshStatus status = 4 [json_name=\"status\"];\n\t\t.SpaceX.API.Device.BackhaulRequest backhaul_request = 5 [json_name=\"backhaulRequest\"];\n\t\t.SpaceX.API.Device.MeshSpeedtestRequest start_speedtest = 6 [json_name=\"startSpeedtest\"];\n\t\t.SpaceX.API.Device.WifiBtmRequest wifi_btm_request = 7 [json_name=\"wifiBtmRequest\"];\n\t}\n}\n\nmessage SteerClientRequest {\n\toptional string client_mac_addr = 1 [json_name=\"clientMacAddr\"];\n\trepeated .SpaceX.API.Device.SteerClientRequest.SteerTarget targets = 2 [json_name=\"targets\"];\nmessage SteerTarget {\n\toptional string bssid = 1 [json_name=\"bssid\"];\n\toptional int32 channel = 2 [json_name=\"channel\"];\n}\n\n}\n\nmessage WifiBtmRequest {\n\toptional uint32 bss_termination_duration_m = 5 [json_name=\"bssTerminationDurationM\"];\n\toptional string peer_bssid = 1 [json_name=\"peerBssid\"];\n\trepeated .SpaceX.API.Device.WifiBtmRequest.NeighborReport neighbor_report = 4 [json_name=\"neighborReport\"];\nmessage NeighborReport {\n\toptional string bssid = 1 [json_name=\"bssid\"];\n\toptional uint32 channel = 2 [json_name=\"channel\"];\n}\n\n}\n\nmessage WifiSelfTest {\n\toptional bool total_success = 1 [json_name=\"totalSuccess\"];\n\toptional .SpaceX.API.Device.WifiSelfTest.TestResult fused = 2 [json_name=\"fused\"];\n\trepeated .SpaceX.API.Device.WifiSelfTest.TestResult eth_phys = 3 [json_name=\"ethPhys\"];\n\trepeated .SpaceX.API.Device.WifiSelfTest.TestResult pcis = 4 [json_name=\"pcis\"];\n\toptional .SpaceX.API.Device.WifiSelfTest.TestResult bl2_prod = 5 [json_name=\"bl2Prod\"];\nmessage TestResult {\n\toptional string name = 1 [json_name=\"name\"];\n\toptional bool success = 2 [json_name=\"success\"];\n\toptional string failure_reason = 3 [json_name=\"failureReason\"];\n}\n\n}\n\nmessage WifiSetConfigRequest {\n\toptional .SpaceX.API.Device.WifiConfig wifi_config = 1 [json_name=\"wifiConfig\"];\n}\n\nmessage WifiSetConfigResponse {\n\toptional .SpaceX.API.Device.WifiConfig updated_wifi_config = 1 [json_name=\"updatedWifiConfig\"];\n}\n\nmessage WifiGetConfigRequest {\n}\n\nmessage WifiGetConfigResponse {\n\toptional .SpaceX.API.Device.WifiConfig wifi_config = 1 [json_name=\"wifiConfig\"];\n}\n\nmessage WifiSetMeshDeviceTrustRequest {\n\toptional string device_id = 1 [json_name=\"deviceId\"];\n\toptional .SpaceX.API.Device.MeshAuth auth = 2 [json_name=\"auth\"];\n}\n\nmessage WifiSetMeshDeviceTrustResponse {\n}\n\nmessage WifiSetMeshConfigRequest {\n\toptional .SpaceX.API.Device.MeshConfig mesh_config = 1 [json_name=\"meshConfig\"];\n\toptional string device_id = 2 [json_name=\"deviceId\"];\n}\n\nmessage WifiSetMeshConfigResponse {\n}\n\nmessage WifiGetClientsRequest {\n}\n\nmessage WifiGetClientsResponse {\n\trepeated .SpaceX.API.Device.WifiClient clients = 1 [json_name=\"clients\"];\n\toptional bool has_client_index = 2 [json_name=\"hasClientIndex\"];\n\toptional int32 client_index = 3 [json_name=\"clientIndex\"];\n}\n\nmessage WifiGetClientHistoryRequest {\n\toptional string mac_address = 1 [json_name=\"macAddress\"];\n\toptional uint32 client_id = 2 [json_name=\"clientId\"];\n}\n\nmessage WifiGetClientHistoryResponse {\n\toptional uint64 current = 1 [json_name=\"current\"];\n\trepeated float tx_throughput_mbps = 2 [json_name=\"txThroughputMbps\"];\n\trepeated float rx_throughput_mbps = 3 [json_name=\"rxThroughputMbps\"];\n\trepeated .SpaceX.API.Device.WifiGetClientHistoryResponse.WifiLimitedReason throughput_limited = 4 [json_name=\"throughputLimited\"];\n\trepeated float rx_rate_mbps = 5 [json_name=\"rxRateMbps\"];\n\toptional bytes rssi = 6 [json_name=\"rssi\"];\n\tenum WifiLimitedReason {\n\t\tLIMIT_UNKNOWN = 0;\n\t\tLIMIT_NONE = 1;\n\t\tLIMIT_UNCLASSIFIED = 2;\n\t\tLIMIT_DROPPED_PACKETS = 3;\n\t}\n}\n\nmessage WifiSetAviationConformedRequest {\n}\n\nmessage WifiGetHistoryResponse {\n\toptional uint64 current = 1 [json_name=\"current\"];\n\trepeated float ping_drop_rate = 1001 [json_name=\"pingDropRate\"];\n\trepeated float ping_latency_ms = 1002 [json_name=\"pingLatencyMs\"];\n}\n\nmessage WifiNewClientConnectedEvent {\n\toptional .SpaceX.API.Device.WifiClient client = 1 [json_name=\"client\"];\n}\n\nmessage WifiClient {\n\toptional string name = 1 [json_name=\"name\"];\n\toptional string given_name = 31 [json_name=\"givenName\"];\n\toptional string domain = 22 [json_name=\"domain\"];\n\toptional string mac_address = 2 [json_name=\"macAddress\"];\n\toptional string ip_address = 3 [json_name=\"ipAddress\"];\n\toptional bool dhcp_lease_found = 49 [json_name=\"dhcpLeaseFound\"];\n\toptional bool dhcp_lease_active = 46 [json_name=\"dhcpLeaseActive\"];\n\toptional bool dhcp_lease_renewed = 47 [json_name=\"dhcpLeaseRenewed\"];\n\toptional float seconds_until_dhcp_lease_expires = 48 [json_name=\"secondsUntilDhcpLeaseExpires\"];\n\trepeated string ipv6_addresses = 41 [json_name=\"ipv6Addresses\"];\n\toptional float signal_strength = 4 [json_name=\"signalStrength\"];\n\toptional uint32 channel_width = 12 [json_name=\"channelWidth\"];\n\toptional .SpaceX.API.Device.WifiClient.RxStats rx_stats = 5 [json_name=\"rxStats\"];\n\toptional .SpaceX.API.Device.WifiClient.TxStats tx_stats = 6 [json_name=\"txStats\"];\n\toptional uint32 associated_time_s = 7 [json_name=\"associatedTimeS\"];\n\toptional uint32 no_data_idle_s = 45 [json_name=\"noDataIdleS\"];\n\toptional string mode_str = 8 [json_name=\"modeStr\"];\n\toptional .SpaceX.API.Device.WifiClient.Interface iface = 9 [json_name=\"iface\"];\n\toptional string iface_name = 26 [json_name=\"ifaceName\"];\n\toptional float snr = 10 [json_name=\"snr\"];\n\toptional int32 psmode = 11 [json_name=\"psmode\"];\n\toptional string upstream_mac_address = 13 [json_name=\"upstreamMacAddress\"];\n\toptional .SpaceX.API.Device.WifiClient.Role role = 14 [json_name=\"role\"];\n\toptional string device_id = 15 [json_name=\"deviceId\"];\n\toptional uint32 swq_checks = 16 [json_name=\"swqChecks\"];\n\toptional uint32 swq_checks_non_empty = 17 [json_name=\"swqChecksNonEmpty\"];\n\toptional uint32 mib_steer_state = 18 [json_name=\"mibSteerState\"];\n\toptional uint32 mib_steer_method = 19 [json_name=\"mibSteerMethod\"];\n\toptional uint32 btm_requests = 20 [json_name=\"btmRequests\"];\n\toptional uint32 btm_requests_success = 21 [json_name=\"btmRequestsSuccess\"];\n\toptional uint32 steer_state = 30 [json_name=\"steerState\"];\n\toptional uint32 steer_req_success_last_1h = 27 [json_name=\"steerReqSuccessLast1h\"];\n\toptional uint32 steer_req_fail_last_1h = 28 [json_name=\"steerReqFailLast1h\"];\n\toptional uint32 steer_req_fail_and_dissoc_last_1h = 29 [json_name=\"steerReqFailAndDissocLast1h\"];\n\toptional bool dot11v_support = 23 [json_name=\"dot11vSupport\"];\n\toptional uint32 hops_from_controller = 32 [json_name=\"hopsFromController\"];\n\toptional float est_tx_rate_mbps_from_controller = 33 [json_name=\"estTxRateMbpsFromController\"];\n\toptional float est_rx_rate_mbps_from_controller = 34 [json_name=\"estRxRateMbpsFromController\"];\n\toptional string hardware_version = 37 [json_name=\"hardwareVersion\"];\n\toptional string software_version = 38 [json_name=\"softwareVersion\"];\n\toptional uint32 api_version = 39 [json_name=\"apiVersion\"];\n\toptional .SpaceX.API.Device.WifiClient.PingMetrics ping_metrics = 40 [json_name=\"pingMetrics\"];\n\toptional bool blocked = 42 [json_name=\"blocked\"];\n\toptional bool authorized = 50 [json_name=\"authorized\"];\n\toptional uint32 client_id = 43 [json_name=\"clientId\"];\n\toptional .SpaceX.API.Device.WifiClient.FqcodelInfo fqcodel_info = 44 [json_name=\"fqcodelInfo\"];\nmessage RxStats {\n\toptional uint64 bytes = 1 [json_name=\"bytes\"];\n\toptional uint64 count_errors = 2 [json_name=\"countErrors\"];\n\toptional uint32 phy_mode = 13 [json_name=\"phyMode\"];\n\toptional int32 nss = 3 [json_name=\"nss\"];\n\toptional uint32 rate_mbps = 8 [json_name=\"rateMbps\"];\n\toptional float rate_mbps_last_30s = 14 [json_name=\"rateMbpsLast30s\"];\n\toptional float rate_mbps_last_15s = 15 [json_name=\"rateMbpsLast15s\"];\n\toptional uint32 mcs = 5 [json_name=\"mcs\"];\n\toptional uint32 bandwidth = 6 [json_name=\"bandwidth\"];\n\toptional uint32 guard_ns = 7 [json_name=\"guardNs\"];\n\toptional float airtime_fraction_last_1s = 9 [json_name=\"airtimeFractionLast1s\"];\n\toptional uint32 sampled_packets = 10 [json_name=\"sampledPackets\"];\n\toptional uint32 sampled_packets_retried = 11 [json_name=\"sampledPacketsRetried\"];\n\toptional uint32 sampled_packets_dropped = 12 [json_name=\"sampledPacketsDropped\"];\n}\n\nmessage TxStats {\n\toptional uint64 bytes = 1 [json_name=\"bytes\"];\n\toptional uint64 success_bytes = 2 [json_name=\"successBytes\"];\n\toptional uint32 phy_mode = 10 [json_name=\"phyMode\"];\n\toptional int32 nss = 3 [json_name=\"nss\"];\n\toptional uint32 rate_mbps = 8 [json_name=\"rateMbps\"];\n\toptional float rate_mbps_last_30s = 11 [json_name=\"rateMbpsLast30s\"];\n\toptional float rate_mbps_last_15s = 12 [json_name=\"rateMbpsLast15s\"];\n\toptional uint32 mcs = 5 [json_name=\"mcs\"];\n\toptional uint32 bandwidth = 6 [json_name=\"bandwidth\"];\n\toptional uint32 guard_ns = 7 [json_name=\"guardNs\"];\n\toptional float airtime_fraction_last_1s = 9 [json_name=\"airtimeFractionLast1s\"];\n}\n\nmessage PingMetrics {\n\toptional bool in_unhappy_hour_2s = 1 [json_name=\"inUnhappyHour2s\"];\n\toptional bool in_unhappy_hour_5s = 2 [json_name=\"inUnhappyHour5s\"];\n\toptional float drop_rate_5m = 3 [json_name=\"dropRate5m\"];\n\toptional float latency_5m = 4 [json_name=\"latency5m\"];\n}\n\nmessage FqcodelInfo {\n\toptional uint64 enqs_hi_prio = 1 [json_name=\"enqsHiPrio\"];\n\toptional uint64 enqs_fqcodel = 2 [json_name=\"enqsFqcodel\"];\n\toptional uint64 enqs_new = 3 [json_name=\"enqsNew\"];\n\toptional uint64 enqs_old = 4 [json_name=\"enqsOld\"];\n\toptional uint64 enqs_dropped = 5 [json_name=\"enqsDropped\"];\n\toptional uint64 deqs_new = 6 [json_name=\"deqsNew\"];\n\toptional uint64 deqs_old = 7 [json_name=\"deqsOld\"];\n\toptional uint64 deqs_flow_new = 8 [json_name=\"deqsFlowNew\"];\n\toptional uint64 deqs_flow_old_deficit = 9 [json_name=\"deqsFlowOldDeficit\"];\n\toptional uint64 deqs_flow_old_starvation = 10 [json_name=\"deqsFlowOldStarvation\"];\n\toptional uint64 deqs_dropped = 11 [json_name=\"deqsDropped\"];\n}\n\n\tenum Interface {\n\t\tUNKNOWN = 0;\n\t\tETH = 1;\n\t\tRF_2GHZ = 2;\n\t\tRF_5GHZ = 3;\n\t\tRF_5GHZ_HIGH = 4;\n\t}\n\tenum Role {\n\t\tROLE_UNKNOWN = 0;\n\t\tCLIENT = 1;\n\t\tREPEATER = 2;\n\t\tCONTROLLER = 3;\n\t}\n}\n\nmessage WifiSetupRequest {\n\toptional bool skip = 1 [json_name=\"skip\"];\n\toptional string network_name = 2 [json_name=\"networkName\"];\n\toptional string network_password = 3 [json_name=\"networkPassword\"];\n\toptional bool bypass = 4 [json_name=\"bypass\"];\n}\n\nmessage WifiSetupResponse {\n}\n\nmessage WifiBandStatus {\n\toptional float chan_busy_time_fraction = 1 [json_name=\"chanBusyTimeFraction\"];\n\toptional float tx_air_time_fraction = 2 [json_name=\"txAirTimeFraction\"];\n\toptional float rx_air_time_fraction = 3 [json_name=\"rxAirTimeFraction\"];\n\toptional float obss_air_time_fraction = 4 [json_name=\"obssAirTimeFraction\"];\n\toptional float edcca_air_time_fraction = 5 [json_name=\"edccaAirTimeFraction\"];\n}\n\nmessage WifiAlerts {\n\toptional bool thermal_throttle = 1 [json_name=\"thermalThrottle\"];\n\toptional bool install_pending = 2 [json_name=\"installPending\"];\n\toptional bool freshly_fused = 3 [json_name=\"freshlyFused\"];\n\toptional bool lan_eth_slow_link_10 = 4 [json_name=\"lanEthSlowLink10\"];\n\toptional bool lan_eth_slow_link_100 = 5 [json_name=\"lanEthSlowLink100\"];\n\toptional bool wan_eth_poor_connection = 10 [json_name=\"wanEthPoorConnection\"];\n\toptional bool mesh_topology_changing_often = 11 [json_name=\"meshTopologyChangingOften\"];\n\toptional bool mesh_unreliable_backhaul = 12 [json_name=\"meshUnreliableBackhaul\"];\n\toptional bool radius_missing_process = 13 [json_name=\"radiusMissingProcess\"];\n\toptional bool eth_switch_error = 14 [json_name=\"ethSwitchError\"];\n\toptional bool poe_on_dish_unreachable = 15 [json_name=\"poeOnDishUnreachable\"];\n\toptional bool poe_fuse_blown = 16 [json_name=\"poeFuseBlown\"];\n\toptional bool poe_router_overcurrent = 17 [json_name=\"poeRouterOvercurrent\"];\n\toptional bool poe_off_current_nominal = 18 [json_name=\"poeOffCurrentNominal\"];\n\toptional bool poe_vin_overvoltage = 19 [json_name=\"poeVinOvervoltage\"];\n\toptional bool poe_vin_undervoltage = 20 [json_name=\"poeVinUndervoltage\"];\n}\n\nmessage WifiGetStatusResponse {\n\toptional .SpaceX.API.Device.DeviceInfo device_info = 3 [json_name=\"deviceInfo\"];\n\toptional .SpaceX.API.Device.DeviceState device_state = 4 [json_name=\"deviceState\"];\n\toptional bool captive_portal_enabled = 1 [json_name=\"captivePortalEnabled\"];\n\toptional string ipv4_wan_address = 1003 [json_name=\"ipv4WanAddress\"];\n\trepeated string ipv6_wan_addresses = 1017 [json_name=\"ipv6WanAddresses\"];\n\toptional float ping_drop_rate = 1004 [json_name=\"pingDropRate\"];\n\toptional float ping_drop_rate_5m = 1021 [json_name=\"pingDropRate5m\"];\n\toptional float ping_latency_ms = 1005 [json_name=\"pingLatencyMs\"];\n\toptional float dish_ping_drop_rate = 1012 [json_name=\"dishPingDropRate\"];\n\toptional float dish_ping_drop_rate_5m = 1018 [json_name=\"dishPingDropRate5m\"];\n\toptional float dish_ping_latency_ms = 1013 [json_name=\"dishPingLatencyMs\"];\n\toptional float pop_ping_drop_rate = 1014 [json_name=\"popPingDropRate\"];\n\toptional float pop_ping_drop_rate_5m = 1020 [json_name=\"popPingDropRate5m\"];\n\toptional float pop_ping_latency_ms = 1015 [json_name=\"popPingLatencyMs\"];\n\toptional .SpaceX.API.Device.WifiBandStatus rf_2ghz_status = 1008 [json_name=\"rf2ghzStatus\"];\n\toptional .SpaceX.API.Device.WifiBandStatus rf_5ghz_status = 1009 [json_name=\"rf5ghzStatus\"];\n\toptional .SpaceX.API.Device.WifiAlerts alerts = 1010 [json_name=\"alerts\"];\n\toptional bool is_aviation = 1011 [json_name=\"isAviation\"];\n\toptional .SpaceX.API.Device.WifiConfig config = 2000 [json_name=\"config\"];\n\trepeated .SpaceX.API.Device.WifiClient clients = 3000 [json_name=\"clients\"];\n\toptional bool has_client_index = 3001 [json_name=\"hasClientIndex\"];\n\toptional int32 client_index = 3002 [json_name=\"clientIndex\"];\n\toptional bool is_aviation_conformed = 1016 [json_name=\"isAviationConformed\"];\n\toptional .SpaceX.API.Device.RadiusStatsMap radius_stats = 3003 [json_name=\"radiusStats\"];\n\trepeated .SpaceX.API.Device.DhcpServer dhcp_servers = 1019 [json_name=\"dhcpServers\"];\n\toptional .SpaceX.API.Device.PoeStats poe_stats = 1022 [json_name=\"poeStats\"];\n\toptional string dish_id = 1023 [json_name=\"dishId\"];\n\toptional int64 utc_ns = 1024 [json_name=\"utcNs\"];\n\toptional .SpaceX.API.Device.WifiSoftwareUpdateStats software_update_stats = 1025 [json_name=\"softwareUpdateStats\"];\n\toptional .SpaceX.API.Device.WifiSetupRequirement setup_requirement = 1026 [json_name=\"setupRequirement\"];\n}\n\nmessage WifiAuthenticateRequest {\n\toptional .SpaceX.API.Device.SignedData challenge = 1 [json_name=\"challenge\"];\n}\n\nmessage WifiAuthenticateResponse {\n\toptional .SpaceX.API.Device.ChallengeResponse wifi = 1 [json_name=\"wifi\"];\n\toptional .SpaceX.API.Device.ChallengeResponse dish = 2 [json_name=\"dish\"];\n}\n\nmessage WifiAccountBondingEvent {\n\toptional string dish_id = 1 [json_name=\"dishId\"];\n\toptional bool is_repeater = 2 [json_name=\"isRepeater\"];\n\toptional string hardware_version = 3 [json_name=\"hardwareVersion\"];\n}\n\nmessage WifiNewPeerEvent {\n\toptional string peer_id = 1 [json_name=\"peerId\"];\n}\n\nmessage PingMetrics {\n\toptional float latency_mean_ms = 1 [json_name=\"latencyMeanMs\"];\n\toptional float latency_stddev_ms = 2 [json_name=\"latencyStddevMs\"];\n\toptional float latency_mean_ms_5m = 3 [json_name=\"latencyMeanMs5m\"];\n\toptional float latency_mean_ms_1h = 4 [json_name=\"latencyMeanMs1h\"];\n\toptional float latency_mean_ms_1d = 5 [json_name=\"latencyMeanMs1d\"];\n\toptional float drop_rate = 6 [json_name=\"dropRate\"];\n\toptional float drop_rate_5m = 7 [json_name=\"dropRate5m\"];\n\toptional float drop_rate_1h = 8 [json_name=\"dropRate1h\"];\n\toptional float drop_rate_1d = 9 [json_name=\"dropRate1d\"];\n\toptional float seconds_since_last_success = 10 [json_name=\"secondsSinceLastSuccess\"];\n\toptional float seconds_since_last_1s_outage = 11 [json_name=\"secondsSinceLast1sOutage\"];\n\toptional float seconds_since_last_2s_outage = 15 [json_name=\"secondsSinceLast2sOutage\"];\n\toptional float seconds_since_last_5s_outage = 12 [json_name=\"secondsSinceLast5sOutage\"];\n\toptional float seconds_since_last_15s_outage = 18 [json_name=\"secondsSinceLast15sOutage\"];\n\toptional float seconds_since_last_60s_outage = 19 [json_name=\"secondsSinceLast60sOutage\"];\n\toptional float seconds_since_last_300s_outage = 20 [json_name=\"secondsSinceLast300sOutage\"];\n\toptional float happy_hours_1s_1d = 13 [json_name=\"happyHours1s1d\"];\n\toptional float happy_hours_2s_1d = 16 [json_name=\"happyHours2s1d\"];\n\toptional float happy_hours_5s_1d = 14 [json_name=\"happyHours5s1d\"];\n}\n\nmessage WifiGetPingMetricsRequest {\n}\n\nmessage WifiGetPingMetricsResponse {\n\toptional .SpaceX.API.Device.PingMetrics internet = 1 [json_name=\"internet\"];\n}\n\nmessage WifiNetwork {\n\toptional .SpaceX.API.Device.WifiNetwork.Band band = 1 [json_name=\"band\"];\n\toptional string ssid = 2 [json_name=\"ssid\"];\n\toptional uint32 channel = 3 [json_name=\"channel\"];\n\toptional string encryption_type_str = 4 [json_name=\"encryptionTypeStr\"];\n\tenum Band {\n\t\tWIFI_UNKNOWN = 0;\n\t\tWIFI_2_4GHZ = 1;\n\t\tWIFI_5GHZ = 2;\n\t}\n}\n\nmessage WifiPersistentStats {\n\toptional .SpaceX.API.Device.WifiPersistentStats.Event factory_reset_button = 1 [json_name=\"factoryResetButton\"];\n\toptional .SpaceX.API.Device.WifiPersistentStats.Event factory_reset_plug_unplug = 2 [json_name=\"factoryResetPlugUnplug\"];\n\toptional .SpaceX.API.Device.WifiPersistentStats.Event factory_reset_command = 3 [json_name=\"factoryResetCommand\"];\n\toptional .SpaceX.API.Device.WifiPersistentStats.Event factory_reset_failed_load_wifi_config = 4 [json_name=\"factoryResetFailedLoadWifiConfig\"];\n\toptional .SpaceX.API.Device.WifiPersistentStats.Event reboot_from_software_update = 5 [json_name=\"rebootFromSoftwareUpdate\"];\nmessage Event {\n\toptional uint32 count = 1 [json_name=\"count\"];\n\toptional int64 last_occurred_timestamp = 2 [json_name=\"lastOccurredTimestamp\"];\n}\n\n}\n\nmessage WifiGetPersistentStatsResponse {\n\toptional .SpaceX.API.Device.WifiPersistentStats stats = 1 [json_name=\"stats\"];\n}\n\nmessage RadioStats {\n\toptional .SpaceX.API.Device.WifiConfig.Band band = 1 [json_name=\"band\"];\n\toptional .SpaceX.API.Device.NetworkInterface.RxStats rx_stats = 2 [json_name=\"rxStats\"];\n\toptional .SpaceX.API.Device.NetworkInterface.TxStats tx_stats = 3 [json_name=\"txStats\"];\n\toptional .SpaceX.API.Device.RadioStats.ThermalStatus thermal_status = 4 [json_name=\"thermalStatus\"];\n\toptional .SpaceX.API.Device.RadioStats.AntennaStatus antenna_status = 5 [json_name=\"antennaStatus\"];\nmessage ThermalStatus {\n\toptional uint32 level = 1 [json_name=\"level\"];\n\toptional uint32 temp = 2 [json_name=\"temp\"];\n\toptional double temp2 = 3 [json_name=\"temp2\"];\n\toptional uint32 power_reduction = 4 [json_name=\"powerReduction\"];\n\toptional uint32 duty_cycle = 5 [json_name=\"dutyCycle\"];\n}\n\nmessage AntennaStatus {\n\toptional float rssi1 = 1 [json_name=\"rssi1\"];\n\toptional float rssi2 = 2 [json_name=\"rssi2\"];\n\toptional float rssi3 = 3 [json_name=\"rssi3\"];\n\toptional float rssi4 = 4 [json_name=\"rssi4\"];\n}\n\n}\n\nmessage starlink_routers_hourly_metrics_v2 {\n\toptional .SpaceX.API.Device.StringValue id = 1 [json_name=\"id\"];\n\toptional .SpaceX.API.Device.StringValue timestamp_date = 2 [json_name=\"timestampDate\"];\n\toptional .SpaceX.API.Device.UInt32Value timestamp_hour = 3 [json_name=\"timestampHour\"];\n\toptional .SpaceX.API.Device.TimestampInfo timestamp = 10000 [json_name=\"timestamp\"];\n\toptional .SpaceX.API.Device.UInt32Value sys_hw_gen = 4 [json_name=\"sysHwGen\"];\n\toptional .SpaceX.API.Device.StringValue sys_sw = 5 [json_name=\"sysSw\"];\n\toptional .SpaceX.API.Device.StringValue sys_country = 6 [json_name=\"sysCountry\"];\n\toptional .SpaceX.API.Device.BoolValue sys_is_dev = 7 [json_name=\"sysIsDev\"];\n\toptional .SpaceX.API.Device.UInt32Value sys_alloc_fds = 8 [json_name=\"sysAllocFds\"];\n\toptional .SpaceX.API.Device.FloatValue sys_cpu_usage = 9 [json_name=\"sysCpuUsage\"];\n\toptional .SpaceX.API.Device.FloatValue sys_mem_free_kb = 10 [json_name=\"sysMemFreeKb\"];\n\toptional .SpaceX.API.Device.Int32Value sys_bootcount = 11 [json_name=\"sysBootcount\"];\n\toptional .SpaceX.API.Device.BoolValue sys_partitions_equal = 12 [json_name=\"sysPartitionsEqual\"];\n\toptional .SpaceX.API.Device.UInt32Value sys_uptime_seconds = 13 [json_name=\"sysUptimeSeconds\"];\n\toptional .SpaceX.API.Device.Int32Value sys_anti_rollback_version = 14 [json_name=\"sysAntiRollbackVersion\"];\n\toptional .SpaceX.API.Device.BoolValue sys_is_witl = 15 [json_name=\"sysIsWitl\"];\n\toptional .SpaceX.API.Device.BoolValue sys_is_aviation_conformed = 16 [json_name=\"sysIsAviationConformed\"];\n\toptional .SpaceX.API.Device.UInt32Value sys_ubi_max_ec = 17 [json_name=\"sysUbiMaxEc\"];\n\toptional .SpaceX.API.Device.UInt32Value sys_ubi_bad_peb = 18 [json_name=\"sysUbiBadPeb\"];\n\toptional .SpaceX.API.Device.UInt32Value sys_board_rev = 19 [json_name=\"sysBoardRev\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_2ghz_channel = 100 [json_name=\"radios2ghzChannel\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_antenna1_rssi = 101 [json_name=\"radios2ghzAntenna1Rssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_antenna2_rssi = 102 [json_name=\"radios2ghzAntenna2Rssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_antenna3_rssi = 103 [json_name=\"radios2ghzAntenna3Rssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_antenna4_rssi = 197 [json_name=\"radios2ghzAntenna4Rssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_antenna1_tssi = 157 [json_name=\"radios2ghzAntenna1Tssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_antenna2_tssi = 158 [json_name=\"radios2ghzAntenna2Tssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_antenna3_tssi = 159 [json_name=\"radios2ghzAntenna3Tssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_antenna4_tssi = 160 [json_name=\"radios2ghzAntenna4Tssi\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_2ghz_iface_count = 104 [json_name=\"radios2ghzIfaceCount\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_chan_busy_fraction = 105 [json_name=\"radios2ghzChanBusyFraction\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_edcca_fraction = 106 [json_name=\"radios2ghzEdccaFraction\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_overlapping_bss_fraction = 107 [json_name=\"radios2ghzOverlappingBssFraction\"];\n\toptional .SpaceX.API.Device.Int64Value radios_2ghz_rx_bytes = 108 [json_name=\"radios2ghzRxBytes\"];\n\toptional .SpaceX.API.Device.Int64Value radios_2ghz_rx_packets = 109 [json_name=\"radios2ghzRxPackets\"];\n\toptional .SpaceX.API.Device.Int64Value radios_2ghz_rx_errors = 110 [json_name=\"radios2ghzRxErrors\"];\n\toptional .SpaceX.API.Device.Int64Value radios_2ghz_rx_frame_errors = 111 [json_name=\"radios2ghzRxFrameErrors\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_rx_packet_error_rate = 112 [json_name=\"radios2ghzRxPacketErrorRate\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_rx_airtime_fraction = 113 [json_name=\"radios2ghzRxAirtimeFraction\"];\n\toptional .SpaceX.API.Device.Int64Value radios_2ghz_tx_bytes = 114 [json_name=\"radios2ghzTxBytes\"];\n\toptional .SpaceX.API.Device.Int64Value radios_2ghz_tx_packets = 115 [json_name=\"radios2ghzTxPackets\"];\n\toptional .SpaceX.API.Device.Int64Value radios_2ghz_tx_errors = 116 [json_name=\"radios2ghzTxErrors\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_tx_packet_error_rate = 117 [json_name=\"radios2ghzTxPacketErrorRate\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_tx_airtime_fraction = 118 [json_name=\"radios2ghzTxAirtimeFraction\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_5ghz_channel = 119 [json_name=\"radios5ghzChannel\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_antenna1_rssi = 120 [json_name=\"radios5ghzAntenna1Rssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_antenna2_rssi = 121 [json_name=\"radios5ghzAntenna2Rssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_antenna3_rssi = 122 [json_name=\"radios5ghzAntenna3Rssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_antenna4_rssi = 198 [json_name=\"radios5ghzAntenna4Rssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_antenna1_tssi = 161 [json_name=\"radios5ghzAntenna1Tssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_antenna2_tssi = 162 [json_name=\"radios5ghzAntenna2Tssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_antenna3_tssi = 163 [json_name=\"radios5ghzAntenna3Tssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_antenna4_tssi = 164 [json_name=\"radios5ghzAntenna4Tssi\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_5ghz_iface_count = 123 [json_name=\"radios5ghzIfaceCount\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_chan_busy_fraction = 124 [json_name=\"radios5ghzChanBusyFraction\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_edcca_fraction = 125 [json_name=\"radios5ghzEdccaFraction\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_overlapping_bss_fraction = 126 [json_name=\"radios5ghzOverlappingBssFraction\"];\n\toptional .SpaceX.API.Device.Int64Value radios_5ghz_rx_bytes = 127 [json_name=\"radios5ghzRxBytes\"];\n\toptional .SpaceX.API.Device.Int64Value radios_5ghz_rx_packets = 128 [json_name=\"radios5ghzRxPackets\"];\n\toptional .SpaceX.API.Device.Int64Value radios_5ghz_rx_errors = 129 [json_name=\"radios5ghzRxErrors\"];\n\toptional .SpaceX.API.Device.Int64Value radios_5ghz_rx_frame_errors = 130 [json_name=\"radios5ghzRxFrameErrors\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_rx_packet_error_rate = 131 [json_name=\"radios5ghzRxPacketErrorRate\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_rx_airtime_fraction = 132 [json_name=\"radios5ghzRxAirtimeFraction\"];\n\toptional .SpaceX.API.Device.Int64Value radios_5ghz_tx_bytes = 133 [json_name=\"radios5ghzTxBytes\"];\n\toptional .SpaceX.API.Device.Int64Value radios_5ghz_tx_packets = 134 [json_name=\"radios5ghzTxPackets\"];\n\toptional .SpaceX.API.Device.Int64Value radios_5ghz_tx_errors = 135 [json_name=\"radios5ghzTxErrors\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_tx_packet_error_rate = 136 [json_name=\"radios5ghzTxPacketErrorRate\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_tx_airtime_fraction = 137 [json_name=\"radios5ghzTxAirtimeFraction\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_5ghz_high_channel = 138 [json_name=\"radios5ghzHighChannel\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_high_antenna1_rssi = 139 [json_name=\"radios5ghzHighAntenna1Rssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_high_antenna2_rssi = 140 [json_name=\"radios5ghzHighAntenna2Rssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_high_antenna3_rssi = 141 [json_name=\"radios5ghzHighAntenna3Rssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_high_antenna4_rssi = 199 [json_name=\"radios5ghzHighAntenna4Rssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_high_antenna1_tssi = 165 [json_name=\"radios5ghzHighAntenna1Tssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_high_antenna2_tssi = 166 [json_name=\"radios5ghzHighAntenna2Tssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_high_antenna3_tssi = 167 [json_name=\"radios5ghzHighAntenna3Tssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_high_antenna4_tssi = 168 [json_name=\"radios5ghzHighAntenna4Tssi\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_5ghz_high_iface_count = 142 [json_name=\"radios5ghzHighIfaceCount\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_high_chan_busy_fraction = 143 [json_name=\"radios5ghzHighChanBusyFraction\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_high_edcca_fraction = 144 [json_name=\"radios5ghzHighEdccaFraction\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_high_overlapping_bss_fraction = 145 [json_name=\"radios5ghzHighOverlappingBssFraction\"];\n\toptional .SpaceX.API.Device.Int64Value radios_5ghz_high_rx_bytes = 146 [json_name=\"radios5ghzHighRxBytes\"];\n\toptional .SpaceX.API.Device.Int64Value radios_5ghz_high_rx_packets = 147 [json_name=\"radios5ghzHighRxPackets\"];\n\toptional .SpaceX.API.Device.Int64Value radios_5ghz_high_rx_errors = 148 [json_name=\"radios5ghzHighRxErrors\"];\n\toptional .SpaceX.API.Device.Int64Value radios_5ghz_high_rx_frame_errors = 149 [json_name=\"radios5ghzHighRxFrameErrors\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_high_rx_packet_error_rate = 150 [json_name=\"radios5ghzHighRxPacketErrorRate\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_high_rx_airtime_fraction = 151 [json_name=\"radios5ghzHighRxAirtimeFraction\"];\n\toptional .SpaceX.API.Device.Int64Value radios_5ghz_high_tx_bytes = 152 [json_name=\"radios5ghzHighTxBytes\"];\n\toptional .SpaceX.API.Device.Int64Value radios_5ghz_high_tx_packets = 153 [json_name=\"radios5ghzHighTxPackets\"];\n\toptional .SpaceX.API.Device.Int64Value radios_5ghz_high_tx_errors = 154 [json_name=\"radios5ghzHighTxErrors\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_high_tx_packet_error_rate = 155 [json_name=\"radios5ghzHighTxPacketErrorRate\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_high_tx_airtime_fraction = 156 [json_name=\"radios5ghzHighTxAirtimeFraction\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_thermal_temp = 200 [json_name=\"radios2ghzThermalTemp\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_thermal_temp = 201 [json_name=\"radios5ghzThermalTemp\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_high_thermal_temp = 206 [json_name=\"radios5ghzHighThermalTemp\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_thermal_duty_cycle = 202 [json_name=\"radios2ghzThermalDutyCycle\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_thermal_duty_cycle = 203 [json_name=\"radios5ghzThermalDutyCycle\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_high_thermal_duty_cycle = 207 [json_name=\"radios5ghzHighThermalDutyCycle\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_2ghz_thermal_throttled_seconds = 204 [json_name=\"radios2ghzThermalThrottledSeconds\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_5ghz_thermal_throttled_seconds = 205 [json_name=\"radios5ghzThermalThrottledSeconds\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_5ghz_high_thermal_throttled_seconds = 208 [json_name=\"radios5ghzHighThermalThrottledSeconds\"];\n\toptional .SpaceX.API.Device.FloatValue board_temp = 210 [json_name=\"boardTemp\"];\n\toptional .SpaceX.API.Device.FloatValue poe_mcu_die_temp = 211 [json_name=\"poeMcuDieTemp\"];\n\toptional .SpaceX.API.Device.Int64Value ifaces_lan_eth_rx_bytes = 300 [json_name=\"ifacesLanEthRxBytes\"];\n\toptional .SpaceX.API.Device.Int64Value ifaces_lan_eth_rx_packets = 301 [json_name=\"ifacesLanEthRxPackets\"];\n\toptional .SpaceX.API.Device.Int64Value ifaces_lan_eth_rx_errors = 302 [json_name=\"ifacesLanEthRxErrors\"];\n\toptional .SpaceX.API.Device.Int64Value ifaces_lan_eth_rx_frame_errors = 303 [json_name=\"ifacesLanEthRxFrameErrors\"];\n\toptional .SpaceX.API.Device.Int64Value ifaces_lan_eth_tx_bytes = 304 [json_name=\"ifacesLanEthTxBytes\"];\n\toptional .SpaceX.API.Device.Int64Value ifaces_lan_eth_tx_packets = 305 [json_name=\"ifacesLanEthTxPackets\"];\n\toptional .SpaceX.API.Device.Int64Value ifaces_lan_eth_tx_errors = 306 [json_name=\"ifacesLanEthTxErrors\"];\n\toptional .SpaceX.API.Device.Int64Value ifaces_lan1_eth_rx_bytes = 314 [json_name=\"ifacesLan1EthRxBytes\"];\n\toptional .SpaceX.API.Device.Int64Value ifaces_lan1_eth_rx_packets = 315 [json_name=\"ifacesLan1EthRxPackets\"];\n\toptional .SpaceX.API.Device.Int64Value ifaces_lan1_eth_rx_errors = 316 [json_name=\"ifacesLan1EthRxErrors\"];\n\toptional .SpaceX.API.Device.Int64Value ifaces_lan1_eth_rx_frame_errors = 317 [json_name=\"ifacesLan1EthRxFrameErrors\"];\n\toptional .SpaceX.API.Device.Int64Value ifaces_lan1_eth_tx_bytes = 318 [json_name=\"ifacesLan1EthTxBytes\"];\n\toptional .SpaceX.API.Device.Int64Value ifaces_lan1_eth_tx_packets = 319 [json_name=\"ifacesLan1EthTxPackets\"];\n\toptional .SpaceX.API.Device.Int64Value ifaces_lan1_eth_tx_errors = 320 [json_name=\"ifacesLan1EthTxErrors\"];\n\toptional .SpaceX.API.Device.Int64Value ifaces_wan_eth_rx_bytes = 307 [json_name=\"ifacesWanEthRxBytes\"];\n\toptional .SpaceX.API.Device.Int64Value ifaces_wan_eth_rx_packets = 308 [json_name=\"ifacesWanEthRxPackets\"];\n\toptional .SpaceX.API.Device.Int64Value ifaces_wan_eth_rx_errors = 309 [json_name=\"ifacesWanEthRxErrors\"];\n\toptional .SpaceX.API.Device.Int64Value ifaces_wan_eth_rx_frame_errors = 310 [json_name=\"ifacesWanEthRxFrameErrors\"];\n\toptional .SpaceX.API.Device.Int64Value ifaces_wan_eth_tx_bytes = 311 [json_name=\"ifacesWanEthTxBytes\"];\n\toptional .SpaceX.API.Device.Int64Value ifaces_wan_eth_tx_packets = 312 [json_name=\"ifacesWanEthTxPackets\"];\n\toptional .SpaceX.API.Device.Int64Value ifaces_wan_eth_tx_errors = 313 [json_name=\"ifacesWanEthTxErrors\"];\n\toptional .SpaceX.API.Device.UInt32Value clients = 400 [json_name=\"clients\"];\n\toptional .SpaceX.API.Device.UInt32Value clients_2ghz = 401 [json_name=\"clients2ghz\"];\n\toptional .SpaceX.API.Device.UInt32Value clients_5ghz = 402 [json_name=\"clients5ghz\"];\n\toptional .SpaceX.API.Device.UInt32Value clients_5ghz_high = 413 [json_name=\"clients5ghzHigh\"];\n\toptional .SpaceX.API.Device.UInt32Value clients_eth = 403 [json_name=\"clientsEth\"];\n\toptional .SpaceX.API.Device.UInt32Value clients_5ghz_rx_bandwidth_20mhz = 429 [json_name=\"clients5ghzRxBandwidth20mhz\"];\n\toptional .SpaceX.API.Device.UInt32Value clients_5ghz_rx_bandwidth_40mhz = 430 [json_name=\"clients5ghzRxBandwidth40mhz\"];\n\toptional .SpaceX.API.Device.UInt32Value clients_5ghz_rx_bandwidth_80mhz = 431 [json_name=\"clients5ghzRxBandwidth80mhz\"];\n\toptional .SpaceX.API.Device.UInt32Value clients_repeater = 404 [json_name=\"clientsRepeater\"];\n\toptional .SpaceX.API.Device.UInt32Value clients_repeater_2ghz = 405 [json_name=\"clientsRepeater2ghz\"];\n\toptional .SpaceX.API.Device.UInt32Value clients_repeater_5ghz = 406 [json_name=\"clientsRepeater5ghz\"];\n\toptional .SpaceX.API.Device.UInt32Value clients_repeater_5ghz_high = 416 [json_name=\"clientsRepeater5ghzHigh\"];\n\toptional .SpaceX.API.Device.UInt32Value clients_repeater_eth = 407 [json_name=\"clientsRepeaterEth\"];\n\toptional .SpaceX.API.Device.UInt32Value mesh_hops = 408 [json_name=\"meshHops\"];\n\toptional .SpaceX.API.Device.FloatValue mesh_one_hop_rssi_avg_2ghz = 409 [json_name=\"meshOneHopRssiAvg2ghz\"];\n\toptional .SpaceX.API.Device.FloatValue mesh_one_hop_rssi_avg_5ghz = 410 [json_name=\"meshOneHopRssiAvg5ghz\"];\n\toptional .SpaceX.API.Device.FloatValue mesh_one_hop_rssi_avg_5ghz_high = 414 [json_name=\"meshOneHopRssiAvg5ghzHigh\"];\n\toptional .SpaceX.API.Device.FloatValue mesh_two_hop_rssi_avg_2ghz = 411 [json_name=\"meshTwoHopRssiAvg2ghz\"];\n\toptional .SpaceX.API.Device.FloatValue mesh_two_hop_rssi_avg_5ghz = 412 [json_name=\"meshTwoHopRssiAvg5ghz\"];\n\toptional .SpaceX.API.Device.FloatValue mesh_two_hop_rssi_avg_5ghz_high = 415 [json_name=\"meshTwoHopRssiAvg5ghzHigh\"];\n\toptional .SpaceX.API.Device.FloatValue repeater_tx_rate_mbps_min = 418 [json_name=\"repeaterTxRateMbpsMin\"];\n\toptional .SpaceX.API.Device.FloatValue repeater_rx_rate_mbps_min = 419 [json_name=\"repeaterRxRateMbpsMin\"];\n\toptional .SpaceX.API.Device.FloatValue repeater_tx_rate_mbps_avg = 420 [json_name=\"repeaterTxRateMbpsAvg\"];\n\toptional .SpaceX.API.Device.FloatValue repeater_rx_rate_mbps_avg = 421 [json_name=\"repeaterRxRateMbpsAvg\"];\n\toptional .SpaceX.API.Device.FloatValue repeater_seconds_since_2s_outage_min = 422 [json_name=\"repeaterSecondsSince2sOutageMin\"];\n\toptional .SpaceX.API.Device.FloatValue repeater_seconds_since_5s_outage_min = 424 [json_name=\"repeaterSecondsSince5sOutageMin\"];\n\toptional .SpaceX.API.Device.FloatValue repeater_seconds_since_2s_outage_avg = 423 [json_name=\"repeaterSecondsSince2sOutageAvg\"];\n\toptional .SpaceX.API.Device.FloatValue repeater_seconds_since_5s_outage_avg = 425 [json_name=\"repeaterSecondsSince5sOutageAvg\"];\n\toptional .SpaceX.API.Device.FloatValue repeater_latency_ms_1h_max = 426 [json_name=\"repeaterLatencyMs1hMax\"];\n\toptional .SpaceX.API.Device.FloatValue repeater_latency_ms_1h_avg = 427 [json_name=\"repeaterLatencyMs1hAvg\"];\n\toptional .SpaceX.API.Device.UInt32Value mesh_topology_change_count_1d = 428 [json_name=\"meshTopologyChangeCount1d\"];\n\toptional .SpaceX.API.Device.FloatValue ping_seconds_since_last_1s_outage = 600 [json_name=\"pingSecondsSinceLast1sOutage\"];\n\toptional .SpaceX.API.Device.FloatValue ping_seconds_since_last_2s_outage = 601 [json_name=\"pingSecondsSinceLast2sOutage\"];\n\toptional .SpaceX.API.Device.FloatValue ping_seconds_since_last_5s_outage = 602 [json_name=\"pingSecondsSinceLast5sOutage\"];\n\toptional .SpaceX.API.Device.FloatValue ping_seconds_since_last_60s_outage = 603 [json_name=\"pingSecondsSinceLast60sOutage\"];\n\toptional .SpaceX.API.Device.FloatValue ping_seconds_since_last_300s_outage = 604 [json_name=\"pingSecondsSinceLast300sOutage\"];\n\toptional .SpaceX.API.Device.FloatValue ping_drop_rate = 605 [json_name=\"pingDropRate\"];\n\toptional .SpaceX.API.Device.FloatValue ping_drop_rate_last_1h = 606 [json_name=\"pingDropRateLast1h\"];\n\toptional .SpaceX.API.Device.FloatValue ping_latency = 607 [json_name=\"pingLatency\"];\n\toptional .SpaceX.API.Device.FloatValue ping_latency_last_1h = 618 [json_name=\"pingLatencyLast1h\"];\n\toptional .SpaceX.API.Device.FloatValue ping_dish_seconds_since_last_1s_outage = 610 [json_name=\"pingDishSecondsSinceLast1sOutage\"];\n\toptional .SpaceX.API.Device.FloatValue ping_dish_seconds_since_last_2s_outage = 611 [json_name=\"pingDishSecondsSinceLast2sOutage\"];\n\toptional .SpaceX.API.Device.FloatValue ping_dish_seconds_since_last_5s_outage = 612 [json_name=\"pingDishSecondsSinceLast5sOutage\"];\n\toptional .SpaceX.API.Device.FloatValue ping_dish_seconds_since_last_60s_outage = 613 [json_name=\"pingDishSecondsSinceLast60sOutage\"];\n\toptional .SpaceX.API.Device.FloatValue ping_dish_seconds_since_last_300s_outage = 614 [json_name=\"pingDishSecondsSinceLast300sOutage\"];\n\toptional .SpaceX.API.Device.FloatValue ping_dish_drop_rate = 615 [json_name=\"pingDishDropRate\"];\n\toptional .SpaceX.API.Device.FloatValue ping_dish_drop_rate_last_1h = 616 [json_name=\"pingDishDropRateLast1h\"];\n\toptional .SpaceX.API.Device.FloatValue ping_dish_latency = 617 [json_name=\"pingDishLatency\"];\n\toptional .SpaceX.API.Device.FloatValue ping_dish_latency_last_1h = 619 [json_name=\"pingDishLatencyLast1h\"];\n\toptional .SpaceX.API.Device.FloatValue client_speedtest_router_download_mbps = 700 [json_name=\"clientSpeedtestRouterDownloadMbps\"];\n\toptional .SpaceX.API.Device.FloatValue client_speedtest_router_upload_mbps = 701 [json_name=\"clientSpeedtestRouterUploadMbps\"];\n\toptional .SpaceX.API.Device.FloatValue client_speedtest_router_rssi = 702 [json_name=\"clientSpeedtestRouterRssi\"];\n\toptional .SpaceX.API.Device.FloatValue client_speedtest_wifi_download_mbps = 703 [json_name=\"clientSpeedtestWifiDownloadMbps\"];\n\toptional .SpaceX.API.Device.FloatValue client_speedtest_wifi_upload_mbps = 704 [json_name=\"clientSpeedtestWifiUploadMbps\"];\n\toptional .SpaceX.API.Device.FloatValue client_speedtest_client_download_mbps = 705 [json_name=\"clientSpeedtestClientDownloadMbps\"];\n\toptional .SpaceX.API.Device.FloatValue client_speedtest_client_upload_mbps = 706 [json_name=\"clientSpeedtestClientUploadMbps\"];\n\toptional .SpaceX.API.Device.FloatValue client_speedtest_client_rssi = 707 [json_name=\"clientSpeedtestClientRssi\"];\n\toptional .SpaceX.API.Device.UInt32Value client_speedtest_client_iface = 708 [json_name=\"clientSpeedtestClientIface\"];\n\toptional .SpaceX.API.Device.StringValue client_speedtest_client_oui = 709 [json_name=\"clientSpeedtestClientOui\"];\n\toptional .SpaceX.API.Device.UInt32Value client_speedtest_client_tx_rate = 710 [json_name=\"clientSpeedtestClientTxRate\"];\n\toptional .SpaceX.API.Device.UInt32Value client_speedtest_client_rx_rate = 711 [json_name=\"clientSpeedtestClientRxRate\"];\n\toptional .SpaceX.API.Device.UInt32Value client_speedtest_client_platform_type = 712 [json_name=\"clientSpeedtestClientPlatformType\"];\n\toptional .SpaceX.API.Device.FloatValue speedtest_tcp_8_download_mbps_avg = 800 [json_name=\"speedtestTcp8DownloadMbpsAvg\"];\n\toptional .SpaceX.API.Device.FloatValue speedtest_tcp_8_download_mbps_max = 801 [json_name=\"speedtestTcp8DownloadMbpsMax\"];\n\toptional .SpaceX.API.Device.FloatValue speedtest_tcp_8_upload_mbps_avg = 802 [json_name=\"speedtestTcp8UploadMbpsAvg\"];\n\toptional .SpaceX.API.Device.FloatValue speedtest_tcp_8_upload_mbps_max = 803 [json_name=\"speedtestTcp8UploadMbpsMax\"];\n\toptional .SpaceX.API.Device.FloatValue speedtest_tcp_64_download_mbps_avg = 804 [json_name=\"speedtestTcp64DownloadMbpsAvg\"];\n\toptional .SpaceX.API.Device.FloatValue speedtest_tcp_64_download_mbps_max = 805 [json_name=\"speedtestTcp64DownloadMbpsMax\"];\n\toptional .SpaceX.API.Device.FloatValue speedtest_tcp_64_upload_mbps_avg = 806 [json_name=\"speedtestTcp64UploadMbpsAvg\"];\n\toptional .SpaceX.API.Device.FloatValue speedtest_tcp_64_upload_mbps_max = 807 [json_name=\"speedtestTcp64UploadMbpsMax\"];\n\toptional .SpaceX.API.Device.UInt32Value dish_cell_id = 900 [json_name=\"dishCellId\"];\n\toptional .SpaceX.API.Device.BoolValue config_setup_complete = 1000 [json_name=\"configSetupComplete\"];\n\toptional .SpaceX.API.Device.BoolValue config_bands_split = 1001 [json_name=\"configBandsSplit\"];\n\toptional .SpaceX.API.Device.BoolValue config_is_repeater = 1002 [json_name=\"configIsRepeater\"];\n\toptional .SpaceX.API.Device.BoolValue config_open_network = 1003 [json_name=\"configOpenNetwork\"];\n\toptional .SpaceX.API.Device.BoolValue config_is_aviation = 1004 [json_name=\"configIsAviation\"];\n\toptional .SpaceX.API.Device.BoolValue config_secure_dns = 1005 [json_name=\"configSecureDns\"];\n\toptional .SpaceX.API.Device.BoolValue config_legacy = 1006 [json_name=\"configLegacy\"];\n\toptional .SpaceX.API.Device.BoolValue config_ap_mode = 1007 [json_name=\"configApMode\"];\n\toptional .SpaceX.API.Device.BoolValue config_dfs_enabled = 1008 [json_name=\"configDfsEnabled\"];\n\toptional .SpaceX.API.Device.BoolValue config_network_name_is_default = 1009 [json_name=\"configNetworkNameIsDefault\"];\n\toptional .SpaceX.API.Device.BoolValue config_remote_ssh_enabled = 1010 [json_name=\"configRemoteSshEnabled\"];\n\toptional .SpaceX.API.Device.BoolValue config_is_repeater_wired = 1011 [json_name=\"configIsRepeaterWired\"];\n\toptional .SpaceX.API.Device.BoolValue config_is_repeater_wireless = 1012 [json_name=\"configIsRepeaterWireless\"];\n\toptional .SpaceX.API.Device.UInt32Value config_block_schedules_set = 1013 [json_name=\"configBlockSchedulesSet\"];\n\toptional .SpaceX.API.Device.BoolValue config_custom_nameservers = 1014 [json_name=\"configCustomNameservers\"];\n\toptional .SpaceX.API.Device.BoolValue config_disable_mesh_onboarding = 1015 [json_name=\"configDisableMeshOnboarding\"];\n\toptional .SpaceX.API.Device.BoolValue config_pin_country_code = 1016 [json_name=\"configPinCountryCode\"];\n\toptional .SpaceX.API.Device.BoolValue config_disable_update_reboot = 1017 [json_name=\"configDisableUpdateReboot\"];\n\toptional .SpaceX.API.Device.BoolValue config_disable_2ghz = 1018 [json_name=\"configDisable2ghz\"];\n\toptional .SpaceX.API.Device.BoolValue config_disable_5ghz = 1019 [json_name=\"configDisable5ghz\"];\n\toptional .SpaceX.API.Device.BoolValue config_disable_5ghz_high = 1029 [json_name=\"configDisable5ghzHigh\"];\n\toptional .SpaceX.API.Device.UInt32Value config_channel_2ghz = 1020 [json_name=\"configChannel2ghz\"];\n\toptional .SpaceX.API.Device.UInt32Value config_channel_5ghz = 1021 [json_name=\"configChannel5ghz\"];\n\toptional .SpaceX.API.Device.UInt32Value config_channel_5ghz_high = 1022 [json_name=\"configChannel5ghzHigh\"];\n\toptional .SpaceX.API.Device.UInt32Value config_networks = 1023 [json_name=\"configNetworks\"];\n\toptional .SpaceX.API.Device.UInt32Value config_networks_guest = 1024 [json_name=\"configNetworksGuest\"];\n\toptional .SpaceX.API.Device.UInt32Value config_networks_hidden = 1025 [json_name=\"configNetworksHidden\"];\n\toptional .SpaceX.API.Device.UInt32Value config_networks_client_isolation = 1026 [json_name=\"configNetworksClientIsolation\"];\n\toptional .SpaceX.API.Device.UInt32Value config_networks_bands_split = 1027 [json_name=\"configNetworksBandsSplit\"];\n\toptional .SpaceX.API.Device.Int64Value wan_traffic_control_cake_bytes = 1101 [json_name=\"wanTrafficControlCakeBytes\"];\n\toptional .SpaceX.API.Device.Int64Value wan_traffic_control_cake_packets = 1102 [json_name=\"wanTrafficControlCakePackets\"];\n\toptional .SpaceX.API.Device.Int64Value wan_traffic_control_cake_drops = 1103 [json_name=\"wanTrafficControlCakeDrops\"];\n\toptional .SpaceX.API.Device.Int64Value wan_traffic_control_cake_ack_drops = 1104 [json_name=\"wanTrafficControlCakeAckDrops\"];\n\toptional .SpaceX.API.Device.UInt32Value conntrack_entries = 1100 [json_name=\"conntrackEntries\"];\n\toptional .SpaceX.API.Device.UInt32Value dhcp_secs_eq_0 = 1105 [json_name=\"dhcpSecsEq0\"];\n\toptional .SpaceX.API.Device.UInt32Value dhcp_secs_gt_0 = 1106 [json_name=\"dhcpSecsGt0\"];\n\toptional .SpaceX.API.Device.UInt32Value dhcp_secs_gt_10 = 1107 [json_name=\"dhcpSecsGt10\"];\n\toptional .SpaceX.API.Device.UInt32Value dhcp_secs_gt_30 = 1108 [json_name=\"dhcpSecsGt30\"];\n\toptional .SpaceX.API.Device.UInt32Value dhcp_secs_gt_60 = 1109 [json_name=\"dhcpSecsGt60\"];\n}\n\nmessage starlink_router_alerts {\n\toptional string name = 1 [json_name=\"name\"];\n\toptional string source = 2 [json_name=\"source\"];\n\toptional bool active = 3 [json_name=\"active\"];\n\toptional .SpaceX.API.Device.TimestampInfo start = 4 [json_name=\"start\"];\n\toptional .SpaceX.API.Device.TimestampInfo end = 5 [json_name=\"end\"];\n\toptional string hardware = 6 [json_name=\"hardware\"];\n\toptional string software = 7 [json_name=\"software\"];\n}\n\nmessage starlink_router_client_speedtests {\n\toptional string id = 1 [json_name=\"id\"];\n\toptional .SpaceX.API.Device.TimestampInfo data_record = 2 [json_name=\"dataRecord\"];\n\toptional string country = 3 [json_name=\"country\"];\n\toptional .SpaceX.API.Device.StringValue speedtest_id = 30 [json_name=\"speedtestId\"];\n\toptional .SpaceX.API.Device.FloatValue client_rssi = 8 [json_name=\"clientRssi\"];\n\toptional .SpaceX.API.Device.FloatValue router_rssi = 9 [json_name=\"routerRssi\"];\n\toptional .SpaceX.API.Device.UInt32Value client_iface = 10 [json_name=\"clientIface\"];\n\toptional .SpaceX.API.Device.StringValue client_oui = 11 [json_name=\"clientOui\"];\n\toptional .SpaceX.API.Device.UInt32Value client_tx_rate = 12 [json_name=\"clientTxRate\"];\n\toptional .SpaceX.API.Device.UInt32Value client_rx_rate = 13 [json_name=\"clientRxRate\"];\n\toptional .SpaceX.API.Device.StringValue client_platform_type = 27 [json_name=\"clientPlatformType\"];\n\toptional .SpaceX.API.Device.StringValue client_app_version = 34 [json_name=\"clientAppVersion\"];\n\toptional .SpaceX.API.Device.UInt32Value client_app_build = 35 [json_name=\"clientAppBuild\"];\n\toptional .SpaceX.API.Device.UInt32Value client_rx_phy_mode = 31 [json_name=\"clientRxPhyMode\"];\n\toptional .SpaceX.API.Device.UInt32Value client_rx_spatial_streams = 32 [json_name=\"clientRxSpatialStreams\"];\n\toptional .SpaceX.API.Device.UInt32Value client_rx_mcs = 33 [json_name=\"clientRxMcs\"];\n\toptional .SpaceX.API.Device.TimestampInfo client_download_start_time = 4 [json_name=\"clientDownloadStartTime\"];\n\toptional .SpaceX.API.Device.TimestampInfo client_upload_start_time = 5 [json_name=\"clientUploadStartTime\"];\n\toptional .SpaceX.API.Device.FloatValue client_download_mbps_avg = 6 [json_name=\"clientDownloadMbpsAvg\"];\n\toptional .SpaceX.API.Device.FloatValue client_upload_mbps_avg = 7 [json_name=\"clientUploadMbpsAvg\"];\n\toptional .SpaceX.API.Device.StringValue client_target = 28 [json_name=\"clientTarget\"];\n\toptional .SpaceX.API.Device.UInt32Value client_tcp_streams = 16 [json_name=\"clientTcpStreams\"];\n\toptional .SpaceX.API.Device.TimestampInfo router_download_start_time = 17 [json_name=\"routerDownloadStartTime\"];\n\toptional .SpaceX.API.Device.TimestampInfo router_upload_start_time = 18 [json_name=\"routerUploadStartTime\"];\n\toptional .SpaceX.API.Device.FloatValue router_download_mbps_avg = 19 [json_name=\"routerDownloadMbpsAvg\"];\n\toptional .SpaceX.API.Device.FloatValue router_upload_mbps_avg = 20 [json_name=\"routerUploadMbpsAvg\"];\n\toptional .SpaceX.API.Device.StringValue router_target = 29 [json_name=\"routerTarget\"];\n\toptional .SpaceX.API.Device.UInt32Value router_tcp_streams = 22 [json_name=\"routerTcpStreams\"];\n\toptional .SpaceX.API.Device.TimestampInfo wifi_download_start_time = 23 [json_name=\"wifiDownloadStartTime\"];\n\toptional .SpaceX.API.Device.TimestampInfo wifi_upload_start_time = 24 [json_name=\"wifiUploadStartTime\"];\n\toptional .SpaceX.API.Device.FloatValue wifi_download_mbps_avg = 25 [json_name=\"wifiDownloadMbpsAvg\"];\n\toptional .SpaceX.API.Device.FloatValue wifi_upload_mbps_avg = 26 [json_name=\"wifiUploadMbpsAvg\"];\n}\n\nmessage StarlinkRouterClients {\n\toptional string router_id = 1 [json_name=\"routerId\"];\n\toptional .SpaceX.API.Device.TimestampInfo timestamp = 2 [json_name=\"timestamp\"];\n\toptional uint32 client_id = 3 [json_name=\"clientId\"];\n\toptional string client_telem_index = 4 [json_name=\"clientTelemIndex\"];\n\toptional .SpaceX.API.Device.StringValue router_hw = 119 [json_name=\"routerHw\"];\n\toptional .SpaceX.API.Device.StringValue router_sw = 120 [json_name=\"routerSw\"];\n\toptional .SpaceX.API.Device.StringValue client_router_id = 121 [json_name=\"clientRouterId\"];\n\toptional .SpaceX.API.Device.StringValue client_hw = 122 [json_name=\"clientHw\"];\n\toptional .SpaceX.API.Device.StringValue client_sw = 123 [json_name=\"clientSw\"];\n\toptional .SpaceX.API.Device.StringValue oui = 101 [json_name=\"oui\"];\n\toptional .SpaceX.API.Device.StringValue upstream_id = 102 [json_name=\"upstreamId\"];\n\toptional .SpaceX.API.Device.BoolValue is_repeater = 103 [json_name=\"isRepeater\"];\n\toptional .SpaceX.API.Device.UInt32Value connected_s = 104 [json_name=\"connectedS\"];\n\toptional .SpaceX.API.Device.StringValue interface = 105 [json_name=\"interface\"];\n\toptional .SpaceX.API.Device.UInt32Value radio_channel = 106 [json_name=\"radioChannel\"];\n\toptional .SpaceX.API.Device.FloatValue rssi = 107 [json_name=\"rssi\"];\n\toptional .SpaceX.API.Device.UInt32Value rx_mcs = 108 [json_name=\"rxMcs\"];\n\toptional .SpaceX.API.Device.UInt32Value tx_mcs = 109 [json_name=\"txMcs\"];\n\toptional .SpaceX.API.Device.UInt32Value rx_rate = 110 [json_name=\"rxRate\"];\n\toptional .SpaceX.API.Device.UInt32Value tx_rate = 111 [json_name=\"txRate\"];\n\toptional .SpaceX.API.Device.UInt32Value rx_bandwidth = 112 [json_name=\"rxBandwidth\"];\n\toptional .SpaceX.API.Device.UInt32Value rx_spatial_streams = 113 [json_name=\"rxSpatialStreams\"];\n\toptional .SpaceX.API.Device.UInt32Value rx_phy_mode = 114 [json_name=\"rxPhyMode\"];\n\toptional .SpaceX.API.Device.UInt32Value mesh_hops = 118 [json_name=\"meshHops\"];\n\toptional .SpaceX.API.Device.FloatValue speedtest_upload_mbps = 124 [json_name=\"speedtestUploadMbps\"];\n\toptional .SpaceX.API.Device.FloatValue speedtest_download_mbps = 125 [json_name=\"speedtestDownloadMbps\"];\n\toptional .SpaceX.API.Device.FloatValue site_survey_rssi = 127 [json_name=\"siteSurveyRssi\"];\n\toptional .SpaceX.API.Device.FloatValue site_survey_est_rx_rate = 128 [json_name=\"siteSurveyEstRxRate\"];\n\toptional .SpaceX.API.Device.UInt32Value est_controller_throughput_mbps = 129 [json_name=\"estControllerThroughputMbps\"];\n\toptional .SpaceX.API.Device.FloatValue ping_drop_rate_last_1h = 115 [json_name=\"pingDropRateLast1h\"];\n\toptional .SpaceX.API.Device.FloatValue ping_latency_last_1h = 116 [json_name=\"pingLatencyLast1h\"];\n\toptional .SpaceX.API.Device.StringValue steer_state = 117 [json_name=\"steerState\"];\n\toptional .SpaceX.API.Device.BoolValue blocked = 126 [json_name=\"blocked\"];\n\toptional .SpaceX.API.Device.BoolValue authorized = 136 [json_name=\"authorized\"];\n\toptional .SpaceX.API.Device.BoolValue has_dhcp_v4_lease = 130 [json_name=\"hasDhcpV4Lease\"];\n\toptional .SpaceX.API.Device.StringValue ipv4_address = 131 [json_name=\"ipv4Address\"];\n\toptional .SpaceX.API.Device.BoolValue has_hostname = 132 [json_name=\"hasHostname\"];\n\toptional .SpaceX.API.Device.BoolValue dhcp_v4_lease_is_active = 133 [json_name=\"dhcpV4LeaseIsActive\"];\n\toptional .SpaceX.API.Device.BoolValue dhcp_v4_lease_was_renewed = 134 [json_name=\"dhcpV4LeaseWasRenewed\"];\n\toptional .SpaceX.API.Device.FloatValue seconds_until_dhcp_v4_lease_expires = 135 [json_name=\"secondsUntilDhcpV4LeaseExpires\"];\n}\n\nmessage StarlinkRouterClientTesterRun {\n\toptional string client_tester_router_id = 1 [json_name=\"clientTesterRouterId\"];\n\toptional .SpaceX.API.Device.TimestampInfo timestamp = 2 [json_name=\"timestamp\"];\n\toptional .SpaceX.API.Device.StringValue client_iface_name = 3 [json_name=\"clientIfaceName\"];\n\toptional .SpaceX.API.Device.StringValue target_ssid = 4 [json_name=\"targetSsid\"];\n\toptional .SpaceX.API.Device.BoolValue target_has_password = 5 [json_name=\"targetHasPassword\"];\n\toptional .SpaceX.API.Device.StringValue target_auth = 6 [json_name=\"targetAuth\"];\n\toptional .SpaceX.API.Device.StringValue target_encryption = 7 [json_name=\"targetEncryption\"];\n\toptional .SpaceX.API.Device.StringValue target_bssid = 8 [json_name=\"targetBssid\"];\n\toptional .SpaceX.API.Device.StringValue target_irtt_server = 25 [json_name=\"targetIrttServer\"];\n\toptional .SpaceX.API.Device.UInt32Value iteration = 9 [json_name=\"iteration\"];\n\toptional .SpaceX.API.Device.StringValue error_code = 10 [json_name=\"errorCode\"];\n\toptional .SpaceX.API.Device.FloatValue seconds_to_associate = 11 [json_name=\"secondsToAssociate\"];\n\toptional .SpaceX.API.Device.FloatValue seconds_to_lease = 12 [json_name=\"secondsToLease\"];\n\toptional .SpaceX.API.Device.FloatValue seconds_to_resolve_router = 13 [json_name=\"secondsToResolveRouter\"];\n\toptional .SpaceX.API.Device.FloatValue seconds_to_resolve_internet = 14 [json_name=\"secondsToResolveInternet\"];\n\toptional .SpaceX.API.Device.FloatValue seconds_to_ping_dish = 15 [json_name=\"secondsToPingDish\"];\n\toptional .SpaceX.API.Device.FloatValue v4_irtt_test_duration_s = 16 [json_name=\"v4IrttTestDurationS\"];\n\toptional .SpaceX.API.Device.FloatValue v4_irtt_rtt_latency_min_ms = 17 [json_name=\"v4IrttRttLatencyMinMs\"];\n\toptional .SpaceX.API.Device.FloatValue v4_irtt_rtt_latency_mean_ms = 18 [json_name=\"v4IrttRttLatencyMeanMs\"];\n\toptional .SpaceX.API.Device.FloatValue v4_irtt_rtt_latency_median_ms = 19 [json_name=\"v4IrttRttLatencyMedianMs\"];\n\toptional .SpaceX.API.Device.FloatValue v4_irtt_rtt_latency_max_ms = 20 [json_name=\"v4IrttRttLatencyMaxMs\"];\n\toptional .SpaceX.API.Device.FloatValue v4_irtt_rtt_latency_std_dev_ms = 21 [json_name=\"v4IrttRttLatencyStdDevMs\"];\n\toptional .SpaceX.API.Device.UInt32Value v4_irtt_pkts_sent = 22 [json_name=\"v4IrttPktsSent\"];\n\toptional .SpaceX.API.Device.UInt32Value v4_irtt_pkts_recv = 23 [json_name=\"v4IrttPktsRecv\"];\n\toptional .SpaceX.API.Device.FloatValue v4_irtt_loss_percent = 24 [json_name=\"v4IrttLossPercent\"];\n}\n\nmessage WifiSetClientGivenNameRequest {\n\toptional .SpaceX.API.Device.ClientName client_name = 1 [json_name=\"clientName\"];\n\toptional .SpaceX.API.Device.ClientConfig client_config = 2 [json_name=\"clientConfig\"];\n}\n\nmessage WifiSelfTestRequest {\n}\n\nmessage WifiSelfTestResponse {\n\toptional .SpaceX.API.Device.WifiSelfTest self_test = 1 [json_name=\"selfTest\"];\n\toptional string json = 2 [json_name=\"json\"];\n}\n\nmessage WifiRunSelfTestRequest {\n}\n\nmessage WifiRfTestRequest {\n\toptional uint32 num_measurements = 1 [json_name=\"numMeasurements\"];\n\toptional uint32 channel_2ghz = 2 [json_name=\"channel2ghz\"];\n\toptional uint32 channel_5ghz = 3 [json_name=\"channel5ghz\"];\n\toptional uint32 channel_5ghz_high = 4 [json_name=\"channel5ghzHigh\"];\n\toptional uint32 mcs_2ghz = 5 [json_name=\"mcs2ghz\"];\n\toptional uint32 mcs_5ghz = 6 [json_name=\"mcs5ghz\"];\n\toptional uint32 mcs_5ghz_high = 7 [json_name=\"mcs5ghzHigh\"];\n\toptional uint32 phy_mode_2ghz = 8 [json_name=\"phyMode2ghz\"];\n\toptional uint32 phy_mode_5ghz = 9 [json_name=\"phyMode5ghz\"];\n\toptional uint32 phy_mode_5ghz_high = 10 [json_name=\"phyMode5ghzHigh\"];\n}\n\nmessage WifiRfTestResponse {\n\toptional string report = 1 [json_name=\"report\"];\n}\n\nmessage WifiGetFirewallRequest {\n}\n\nmessage WifiGetFirewallResponse {\n\toptional string iptables = 1 [json_name=\"iptables\"];\n\toptional string iptables_6 = 2 [json_name=\"iptables6\"];\n}\n\nmessage WifiTogglePoeNegotiationRequest {\n\toptional bool enable = 1 [json_name=\"enable\"];\n}\n\nmessage WifiCalibrationModeRequest {\n}\n\nmessage starlink_router_hourly_metrics_v2 {\n\toptional .SpaceX.API.Device.StringValue id = 1 [json_name=\"id\"];\n\toptional .SpaceX.API.Device.StringValue timestamp_date = 2 [json_name=\"timestampDate\"];\n\toptional .SpaceX.API.Device.UInt32Value timestamp_hour = 3 [json_name=\"timestampHour\"];\n\toptional .SpaceX.API.Device.UInt32Value sys_hw_gen = 4 [json_name=\"sysHwGen\"];\n\toptional .SpaceX.API.Device.StringValue sys_sw = 5 [json_name=\"sysSw\"];\n\toptional .SpaceX.API.Device.StringValue sys_country = 6 [json_name=\"sysCountry\"];\n\toptional .SpaceX.API.Device.BoolValue sys_is_dev = 7 [json_name=\"sysIsDev\"];\n\toptional .SpaceX.API.Device.UInt32Value sys_alloc_fds = 8 [json_name=\"sysAllocFds\"];\n\toptional .SpaceX.API.Device.FloatValue sys_cpu_usage = 9 [json_name=\"sysCpuUsage\"];\n\toptional .SpaceX.API.Device.FloatValue sys_mem_free_kb = 10 [json_name=\"sysMemFreeKb\"];\n\toptional .SpaceX.API.Device.Int32Value sys_bootcount = 11 [json_name=\"sysBootcount\"];\n\toptional .SpaceX.API.Device.BoolValue sys_partitions_equal = 12 [json_name=\"sysPartitionsEqual\"];\n\toptional .SpaceX.API.Device.UInt32Value sys_uptime_seconds = 13 [json_name=\"sysUptimeSeconds\"];\n\toptional .SpaceX.API.Device.Int32Value sys_anti_rollback_version = 14 [json_name=\"sysAntiRollbackVersion\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_2ghz_channel = 100 [json_name=\"radios2ghzChannel\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_antenna1_rssi = 101 [json_name=\"radios2ghzAntenna1Rssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_antenna2_rssi = 102 [json_name=\"radios2ghzAntenna2Rssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_antenna3_rssi = 103 [json_name=\"radios2ghzAntenna3Rssi\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_2ghz_iface_count = 104 [json_name=\"radios2ghzIfaceCount\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_chan_busy_fraction = 105 [json_name=\"radios2ghzChanBusyFraction\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_edcca_fraction = 106 [json_name=\"radios2ghzEdccaFraction\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_overlapping_bss_fraction = 107 [json_name=\"radios2ghzOverlappingBssFraction\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_2ghz_rx_bytes = 108 [json_name=\"radios2ghzRxBytes\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_2ghz_rx_packets = 109 [json_name=\"radios2ghzRxPackets\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_2ghz_rx_errors = 110 [json_name=\"radios2ghzRxErrors\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_2ghz_rx_frame_errors = 111 [json_name=\"radios2ghzRxFrameErrors\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_rx_packet_error_rate = 112 [json_name=\"radios2ghzRxPacketErrorRate\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_rx_airtime_fraction = 113 [json_name=\"radios2ghzRxAirtimeFraction\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_2ghz_tx_bytes = 114 [json_name=\"radios2ghzTxBytes\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_2ghz_tx_packets = 115 [json_name=\"radios2ghzTxPackets\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_2ghz_tx_errors = 116 [json_name=\"radios2ghzTxErrors\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_tx_packet_error_rate = 117 [json_name=\"radios2ghzTxPacketErrorRate\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_tx_airtime_fraction = 118 [json_name=\"radios2ghzTxAirtimeFraction\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_5ghz_channel = 119 [json_name=\"radios5ghzChannel\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_antenna1_rssi = 120 [json_name=\"radios5ghzAntenna1Rssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_antenna2_rssi = 121 [json_name=\"radios5ghzAntenna2Rssi\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_antenna3_rssi = 122 [json_name=\"radios5ghzAntenna3Rssi\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_5ghz_iface_count = 123 [json_name=\"radios5ghzIfaceCount\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_chan_busy_fraction = 124 [json_name=\"radios5ghzChanBusyFraction\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_edcca_fraction = 125 [json_name=\"radios5ghzEdccaFraction\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_overlapping_bss_fraction = 126 [json_name=\"radios5ghzOverlappingBssFraction\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_5ghz_rx_bytes = 127 [json_name=\"radios5ghzRxBytes\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_5ghz_rx_packets = 128 [json_name=\"radios5ghzRxPackets\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_5ghz_rx_errors = 129 [json_name=\"radios5ghzRxErrors\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_5ghz_rx_frame_errors = 130 [json_name=\"radios5ghzRxFrameErrors\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_rx_packet_error_rate = 131 [json_name=\"radios5ghzRxPacketErrorRate\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_rx_airtime_fraction = 132 [json_name=\"radios5ghzRxAirtimeFraction\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_5ghz_tx_bytes = 133 [json_name=\"radios5ghzTxBytes\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_5ghz_tx_packets = 134 [json_name=\"radios5ghzTxPackets\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_5ghz_tx_errors = 135 [json_name=\"radios5ghzTxErrors\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_tx_packet_error_rate = 136 [json_name=\"radios5ghzTxPacketErrorRate\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_tx_airtime_fraction = 137 [json_name=\"radios5ghzTxAirtimeFraction\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_thermal_temp = 200 [json_name=\"radios2ghzThermalTemp\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_thermal_temp = 201 [json_name=\"radios5ghzThermalTemp\"];\n\toptional .SpaceX.API.Device.FloatValue radios_2ghz_thermal_duty_cycle = 202 [json_name=\"radios2ghzThermalDutyCycle\"];\n\toptional .SpaceX.API.Device.FloatValue radios_5ghz_thermal_duty_cycle = 203 [json_name=\"radios5ghzThermalDutyCycle\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_2ghz_thermal_throttled_seconds = 204 [json_name=\"radios2ghzThermalThrottledSeconds\"];\n\toptional .SpaceX.API.Device.UInt32Value radios_5ghz_thermal_throttled_seconds = 205 [json_name=\"radios5ghzThermalThrottledSeconds\"];\n\toptional .SpaceX.API.Device.UInt32Value ifaces_lan_eth_rx_bytes = 300 [json_name=\"ifacesLanEthRxBytes\"];\n\toptional .SpaceX.API.Device.UInt32Value ifaces_lan_eth_rx_packets = 301 [json_name=\"ifacesLanEthRxPackets\"];\n\toptional .SpaceX.API.Device.UInt32Value ifaces_lan_eth_rx_errors = 302 [json_name=\"ifacesLanEthRxErrors\"];\n\toptional .SpaceX.API.Device.UInt32Value ifaces_lan_eth_rx_frame_errors = 303 [json_name=\"ifacesLanEthRxFrameErrors\"];\n\toptional .SpaceX.API.Device.UInt32Value ifaces_lan_eth_tx_bytes = 304 [json_name=\"ifacesLanEthTxBytes\"];\n\toptional .SpaceX.API.Device.UInt32Value ifaces_lan_eth_tx_packets = 305 [json_name=\"ifacesLanEthTxPackets\"];\n\toptional .SpaceX.API.Device.UInt32Value ifaces_lan_eth_tx_errors = 306 [json_name=\"ifacesLanEthTxErrors\"];\n\toptional .SpaceX.API.Device.UInt32Value ifaces_wan_eth_rx_bytes = 307 [json_name=\"ifacesWanEthRxBytes\"];\n\toptional .SpaceX.API.Device.UInt32Value ifaces_wan_eth_rx_packets = 308 [json_name=\"ifacesWanEthRxPackets\"];\n\toptional .SpaceX.API.Device.UInt32Value ifaces_wan_eth_rx_errors = 309 [json_name=\"ifacesWanEthRxErrors\"];\n\toptional .SpaceX.API.Device.UInt32Value ifaces_wan_eth_rx_frame_errors = 310 [json_name=\"ifacesWanEthRxFrameErrors\"];\n\toptional .SpaceX.API.Device.UInt32Value ifaces_wan_eth_tx_bytes = 311 [json_name=\"ifacesWanEthTxBytes\"];\n\toptional .SpaceX.API.Device.UInt32Value ifaces_wan_eth_tx_packets = 312 [json_name=\"ifacesWanEthTxPackets\"];\n\toptional .SpaceX.API.Device.UInt32Value ifaces_wan_eth_tx_errors = 313 [json_name=\"ifacesWanEthTxErrors\"];\n\toptional .SpaceX.API.Device.UInt32Value clients = 400 [json_name=\"clients\"];\n\toptional .SpaceX.API.Device.UInt32Value clients_2ghz = 401 [json_name=\"clients2ghz\"];\n\toptional .SpaceX.API.Device.UInt32Value clients_5ghz = 402 [json_name=\"clients5ghz\"];\n\toptional .SpaceX.API.Device.UInt32Value clients_eth = 403 [json_name=\"clientsEth\"];\n\toptional .SpaceX.API.Device.UInt32Value clients_repeater = 404 [json_name=\"clientsRepeater\"];\n\toptional .SpaceX.API.Device.UInt32Value clients_repeater_2ghz = 405 [json_name=\"clientsRepeater2ghz\"];\n\toptional .SpaceX.API.Device.UInt32Value clients_repeater_5ghz = 406 [json_name=\"clientsRepeater5ghz\"];\n\toptional .SpaceX.API.Device.UInt32Value clients_repeater_eth = 407 [json_name=\"clientsRepeaterEth\"];\n\toptional .SpaceX.API.Device.UInt32Value mesh_hops = 408 [json_name=\"meshHops\"];\n\toptional .SpaceX.API.Device.FloatValue mesh_one_hop_rssi_avg_2ghz = 409 [json_name=\"meshOneHopRssiAvg2ghz\"];\n\toptional .SpaceX.API.Device.FloatValue mesh_one_hop_rssi_avg_5ghz = 410 [json_name=\"meshOneHopRssiAvg5ghz\"];\n\toptional .SpaceX.API.Device.FloatValue mesh_two_hop_rssi_avg_2ghz = 411 [json_name=\"meshTwoHopRssiAvg2ghz\"];\n\toptional .SpaceX.API.Device.FloatValue mesh_two_hop_rssi_avg_5ghz = 412 [json_name=\"meshTwoHopRssiAvg5ghz\"];\n\toptional .SpaceX.API.Device.FloatValue ping_seconds_since_last_1s_outage = 600 [json_name=\"pingSecondsSinceLast1sOutage\"];\n\toptional .SpaceX.API.Device.FloatValue ping_seconds_since_last_2s_outage = 601 [json_name=\"pingSecondsSinceLast2sOutage\"];\n\toptional .SpaceX.API.Device.FloatValue ping_seconds_since_last_5s_outage = 602 [json_name=\"pingSecondsSinceLast5sOutage\"];\n\toptional .SpaceX.API.Device.FloatValue ping_seconds_since_last_60s_outage = 603 [json_name=\"pingSecondsSinceLast60sOutage\"];\n\toptional .SpaceX.API.Device.FloatValue ping_seconds_since_last_300s_outage = 604 [json_name=\"pingSecondsSinceLast300sOutage\"];\n\toptional .SpaceX.API.Device.FloatValue ping_drop_rate = 605 [json_name=\"pingDropRate\"];\n\toptional .SpaceX.API.Device.FloatValue ping_drop_rate_last_1h = 606 [json_name=\"pingDropRateLast1h\"];\n\toptional .SpaceX.API.Device.FloatValue ping_latency = 607 [json_name=\"pingLatency\"];\n\toptional .SpaceX.API.Device.FloatValue ping_dish_seconds_since_last_1s_outage = 610 [json_name=\"pingDishSecondsSinceLast1sOutage\"];\n\toptional .SpaceX.API.Device.FloatValue ping_dish_seconds_since_last_2s_outage = 611 [json_name=\"pingDishSecondsSinceLast2sOutage\"];\n\toptional .SpaceX.API.Device.FloatValue ping_dish_seconds_since_last_5s_outage = 612 [json_name=\"pingDishSecondsSinceLast5sOutage\"];\n\toptional .SpaceX.API.Device.FloatValue ping_dish_seconds_since_last_60s_outage = 613 [json_name=\"pingDishSecondsSinceLast60sOutage\"];\n\toptional .SpaceX.API.Device.FloatValue ping_dish_seconds_since_last_300s_outage = 614 [json_name=\"pingDishSecondsSinceLast300sOutage\"];\n\toptional .SpaceX.API.Device.FloatValue ping_dish_drop_rate = 615 [json_name=\"pingDishDropRate\"];\n\toptional .SpaceX.API.Device.FloatValue ping_dish_drop_rate_last_1h = 616 [json_name=\"pingDishDropRateLast1h\"];\n\toptional .SpaceX.API.Device.FloatValue ping_dish_latency = 617 [json_name=\"pingDishLatency\"];\n\toptional .SpaceX.API.Device.FloatValue client_speedtest_router_download_mbps = 700 [json_name=\"clientSpeedtestRouterDownloadMbps\"];\n\toptional .SpaceX.API.Device.FloatValue client_speedtest_router_upload_mbps = 701 [json_name=\"clientSpeedtestRouterUploadMbps\"];\n\toptional .SpaceX.API.Device.FloatValue client_speedtest_router_rssi = 702 [json_name=\"clientSpeedtestRouterRssi\"];\n\toptional .SpaceX.API.Device.FloatValue client_speedtest_wifi_download_mbps = 703 [json_name=\"clientSpeedtestWifiDownloadMbps\"];\n\toptional .SpaceX.API.Device.FloatValue client_speedtest_wifi_upload_mbps = 704 [json_name=\"clientSpeedtestWifiUploadMbps\"];\n\toptional .SpaceX.API.Device.FloatValue client_speedtest_client_download_mbps = 705 [json_name=\"clientSpeedtestClientDownloadMbps\"];\n\toptional .SpaceX.API.Device.FloatValue client_speedtest_client_upload_mbps = 706 [json_name=\"clientSpeedtestClientUploadMbps\"];\n\toptional .SpaceX.API.Device.FloatValue client_speedtest_client_rssi = 707 [json_name=\"clientSpeedtestClientRssi\"];\n\toptional .SpaceX.API.Device.UInt32Value client_speedtest_client_iface = 708 [json_name=\"clientSpeedtestClientIface\"];\n\toptional .SpaceX.API.Device.StringValue client_speedtest_client_oui = 709 [json_name=\"clientSpeedtestClientOui\"];\n\toptional .SpaceX.API.Device.UInt32Value client_speedtest_client_tx_rate = 710 [json_name=\"clientSpeedtestClientTxRate\"];\n\toptional .SpaceX.API.Device.UInt32Value client_speedtest_client_rx_rate = 711 [json_name=\"clientSpeedtestClientRxRate\"];\n\toptional .SpaceX.API.Device.UInt32Value client_speedtest_client_platform_type = 712 [json_name=\"clientSpeedtestClientPlatformType\"];\n\toptional .SpaceX.API.Device.FloatValue speedtest_tcp_8_download_mbps_avg = 800 [json_name=\"speedtestTcp8DownloadMbpsAvg\"];\n\toptional .SpaceX.API.Device.FloatValue speedtest_tcp_8_download_mbps_max = 801 [json_name=\"speedtestTcp8DownloadMbpsMax\"];\n\toptional .SpaceX.API.Device.FloatValue speedtest_tcp_8_upload_mbps_avg = 802 [json_name=\"speedtestTcp8UploadMbpsAvg\"];\n\toptional .SpaceX.API.Device.FloatValue speedtest_tcp_8_upload_mbps_max = 803 [json_name=\"speedtestTcp8UploadMbpsMax\"];\n\toptional .SpaceX.API.Device.FloatValue speedtest_tcp_64_download_mbps_avg = 804 [json_name=\"speedtestTcp64DownloadMbpsAvg\"];\n\toptional .SpaceX.API.Device.FloatValue speedtest_tcp_64_download_mbps_max = 805 [json_name=\"speedtestTcp64DownloadMbpsMax\"];\n\toptional .SpaceX.API.Device.FloatValue speedtest_tcp_64_upload_mbps_avg = 806 [json_name=\"speedtestTcp64UploadMbpsAvg\"];\n\toptional .SpaceX.API.Device.FloatValue speedtest_tcp_64_upload_mbps_max = 807 [json_name=\"speedtestTcp64UploadMbpsMax\"];\n\toptional .SpaceX.API.Device.UInt32Value dish_cell_id = 900 [json_name=\"dishCellId\"];\n\toptional .SpaceX.API.Device.BoolValue config_setup_complete = 1000 [json_name=\"configSetupComplete\"];\n\toptional .SpaceX.API.Device.BoolValue config_bands_split = 1001 [json_name=\"configBandsSplit\"];\n\toptional .SpaceX.API.Device.BoolValue config_is_repeater = 1002 [json_name=\"configIsRepeater\"];\n\toptional .SpaceX.API.Device.BoolValue config_open_network = 1003 [json_name=\"configOpenNetwork\"];\n\toptional .SpaceX.API.Device.BoolValue config_is_aviation = 1004 [json_name=\"configIsAviation\"];\n\toptional .SpaceX.API.Device.BoolValue config_secure_dns = 1005 [json_name=\"configSecureDns\"];\n\toptional .SpaceX.API.Device.BoolValue config_legacy = 1006 [json_name=\"configLegacy\"];\n\toptional .SpaceX.API.Device.BoolValue config_ap_mode = 1007 [json_name=\"configApMode\"];\n\toptional .SpaceX.API.Device.BoolValue config_dfs_enabled = 1008 [json_name=\"configDfsEnabled\"];\n\toptional .SpaceX.API.Device.BoolValue config_network_name_is_default = 1009 [json_name=\"configNetworkNameIsDefault\"];\n\toptional .SpaceX.API.Device.BoolValue config_remote_ssh_enabled = 1010 [json_name=\"configRemoteSshEnabled\"];\n}\n\nmessage WifiGuestInfoRequest {\n}\n\nmessage WifiGuestInfoResponse {\n\toptional bool is_guest = 1 [json_name=\"isGuest\"];\n\toptional bool is_online = 2 [json_name=\"isOnline\"];\n\toptional string router_hardware_version = 3 [json_name=\"routerHardwareVersion\"];\n\toptional string dish_hardware_version = 4 [json_name=\"dishHardwareVersion\"];\n\toptional bool is_router_aviation_conformed = 5 [json_name=\"isRouterAviationConformed\"];\n}\n\nmessage WifiFactoryTestCommandRequest {\n\toneof command {\n\t\t.SpaceX.API.Device.IwprivCommand iwpriv_command = 1 [json_name=\"iwprivCommand\"];\n\t\t.SpaceX.API.Device.IpLinkSetCommand ip_link_set_command = 2 [json_name=\"ipLinkSetCommand\"];\n\t\t.SpaceX.API.Device.IpAddrSetCommand ip_addr_set_command = 3 [json_name=\"ipAddrSetCommand\"];\n\t}\n}\n\nmessage WifiFactoryTestCommandResponse {\n\toptional string response = 1 [json_name=\"response\"];\n}\n\nmessage IwprivCommand {\n\toptional string iface = 1 [json_name=\"iface\"];\n\toptional string arg = 2 [json_name=\"arg\"];\n\toptional .SpaceX.API.Device.IwprivCommand.Ioctl ioctl = 3 [json_name=\"ioctl\"];\n\tenum Ioctl {\n\t\tIOCTL_SET = 0;\n\t\tIOCTL_E2P = 1;\n\t\tIOCTL_MAC = 3;\n\t\tIOCTL_SX_ALLOW_5GHZ_HIGH = 4;\n\t}\n}\n\nmessage IpLinkSetCommand {\n\toptional string iface = 1 [json_name=\"iface\"];\n\toptional bool up = 2 [json_name=\"up\"];\n}\n\nmessage IpAddrSetCommand {\n\toptional string iface = 1 [json_name=\"iface\"];\n\toptional bool add = 2 [json_name=\"add\"];\n\toptional string cidr = 3 [json_name=\"cidr\"];\n}\n\nmessage WifiStartLocalTelemProxyRequest {\n\toptional int32 port = 1 [json_name=\"port\"];\n}\n\nmessage WifiBackhaulStatsRequest {\n}\n\nmessage WifiBackhaulStatsResponse {\n\toptional bool success = 1 [json_name=\"success\"];\n\toptional string bssid = 2 [json_name=\"bssid\"];\n\toptional .SpaceX.API.Device.IfaceType iface = 3 [json_name=\"iface\"];\n\toptional uint32 preference = 4 [json_name=\"preference\"];\n\trepeated .SpaceX.API.Device.WifiSiteSurveyResult siteSurveyScan = 5 [json_name=\"siteSurveyScan\"];\n}\n\nmessage WifiToggleUmbilicalModeRequest {\n\toptional bool enable = 1 [json_name=\"enable\"];\n}\n\n\n\nmessage InflatedBasicServiceSet {\n\toptional string bssid = 1 [json_name=\"bssid\"];\n\toptional string ssid = 2 [json_name=\"ssid\"];\n\toptional string mac_lan = 3 [json_name=\"macLan\"];\n\toptional string iface_name = 4 [json_name=\"ifaceName\"];\n\toptional .SpaceX.API.Device.IfaceType iface_type = 5 [json_name=\"ifaceType\"];\n\toptional uint32 channel = 6 [json_name=\"channel\"];\n\toptional uint32 preference = 7 [json_name=\"preference\"];\n}\n\nmessage DhcpLease {\n\toptional string ip_address = 1 [json_name=\"ipAddress\"];\n\toptional string mac_address = 2 [json_name=\"macAddress\"];\n\toptional string hostname = 3 [json_name=\"hostname\"];\n\toptional string expires_time = 4 [json_name=\"expiresTime\"];\n\toptional bool active = 5 [json_name=\"active\"];\n\toptional uint32 client_id = 6 [json_name=\"clientId\"];\n}\n\nmessage DhcpServer {\n\toptional string domain = 1 [json_name=\"domain\"];\n\toptional string subnet = 2 [json_name=\"subnet\"];\n\trepeated .SpaceX.API.Device.DhcpLease leases = 3 [json_name=\"leases\"];\n}\n\nmessage RadiusStatsMap {\n\trepeated .SpaceX.API.Device.RadiusStatsMap.RadiusStatsEntry radius_stats = 1 [json_name=\"radiusStats\"];\nmessage RadiusStats {\n\toptional string iface_name = 1 [json_name=\"ifaceName\"];\n\toptional uint32 timeout_count = 2 [json_name=\"timeoutCount\"];\n\toptional uint32 access_request_count = 3 [json_name=\"accessRequestCount\"];\n\toptional uint32 access_accept_count = 4 [json_name=\"accessAcceptCount\"];\n\toptional uint32 access_reject_count = 5 [json_name=\"accessRejectCount\"];\n\toptional uint32 access_challenge_count = 6 [json_name=\"accessChallengeCount\"];\n\toptional uint32 accounting_request_count = 7 [json_name=\"accountingRequestCount\"];\n\toptional uint32 accounting_response_count = 8 [json_name=\"accountingResponseCount\"];\n}\n\nmessage RadiusStatsEntry {\n\toptional string key = 1 [json_name=\"key\"];\n\toptional .SpaceX.API.Device.RadiusStatsMap.RadiusStats value = 2 [json_name=\"value\"];\n}\n\n}\n\nmessage PoeStats {\n\toptional .SpaceX.API.Device.PoeState poe_state = 1 [json_name=\"poeState\"];\n\toptional float poe_power = 2 [json_name=\"poePower\"];\n\toptional uint32 poe_faults_fast_overcurrent = 3 [json_name=\"poeFaultsFastOvercurrent\"];\n\toptional uint32 poe_faults_slow_overcurrent = 4 [json_name=\"poeFaultsSlowOvercurrent\"];\n\toptional uint32 poe_faults_overvoltage = 5 [json_name=\"poeFaultsOvervoltage\"];\n\toptional uint32 poe_faults_undervoltage = 6 [json_name=\"poeFaultsUndervoltage\"];\n}\n\nmessage WifiSoftwareUpdateStats {\n\toptional .SpaceX.API.Device.WifiSoftwareUpdateState state = 1 [json_name=\"state\"];\n\toptional float software_download_progress = 2 [json_name=\"softwareDownloadProgress\"];\n\toptional float seconds_since_get_target_versions = 3 [json_name=\"secondsSinceGetTargetVersions\"];\n}\n\nmessage WifiSetupRequirement {\n\toptional .SpaceX.API.Device.WifiSetupRequirementState state = 1 [json_name=\"state\"];\n\toptional uint64 pause_countdown_seconds = 2 [json_name=\"pauseCountdownSeconds\"];\n}\n\nenum IfaceType {\n\tIFACE_TYPE_UNKNOWN = 0;\n\tIFACE_TYPE_ETH = 1;\n\tIFACE_TYPE_RF_2GHZ = 2;\n\tIFACE_TYPE_RF_5GHZ = 5;\n\tIFACE_TYPE_RF_5GHZ_HIGH = 6;\n}\n\nenum TxPowerLevel {\n\tTX_POWER_LEVEL_100 = 0;\n\tTX_POWER_LEVEL_80 = 1;\n\tTX_POWER_LEVEL_50 = 2;\n\tTX_POWER_LEVEL_25 = 3;\n\tTX_POWER_LEVEL_12 = 4;\n\tTX_POWER_LEVEL_6 = 5;\n}\n\nenum PoeState {\n\tPOE_STATE_DISABLED = 0;\n\tPOE_STATE_NEGOTIATING = 1;\n\tPOE_STATE_ON_RAMPUP = 2;\n\tPOE_STATE_ON = 3;\n\tPOE_STATE_WATER_DETECT_RAMPUP = 4;\n\tPOE_STATE_WATER_DETECT = 5;\n}\n\nenum PoeFault {\n\tPOE_FAULT_FAST_OVERCURRENT = 0;\n\tPOE_FAULT_SLOW_OVERCURRENT = 1;\n\tPOE_FAULT_UNDERCURRENT = 2;\n\tPOE_FAULT_OVERVOLTAGE = 3;\n\tPOE_FAULT_UNDERVOLTAGE = 4;\n}\n\nenum WifiMode {\n\tWIFI_MODE_DEFAULT = 0;\n\tA_ONLY = 1;\n\tB_ONLY = 2;\n\tG_ONLY = 3;\n\tN_ONLY = 4;\n\tB_G_MIXED = 5;\n\tA_N_MIXED = 6;\n\tG_N_MIXED = 7;\n\tB_G_N_MIXED = 8;\n\tA_AN_AC_MIXED = 9;\n\tAN_AC_MIXED = 10;\n\tB_G_N_AX_MIXED = 11;\n\tA_AN_AC_AX_MIXED = 12;\n\tA_N_AC_MIXED = 13;\n\tA_N_AC_AX_MIXED = 14;\n}\n\nenum WifiSecurity {\n\tWIFI_SECURITY_UNKNOWN = 0;\n\tOPEN = 1;\n\tWPA2 = 2;\n\tWPA3 = 3;\n\tWPA2WPA3 = 4;\n}\n\nenum Protocol {\n\tTCP = 0;\n\tUDP = 1;\n\tTLS = 2;\n\tDTLS = 3;\n}\n\nenum WifiSoftwareUpdateState {\n\tNOT_RUN = 0;\n\tGETTING_TARGET_VERSION = 1;\n\tDOWNLOADING_UPDATE_IMAGE = 2;\n\tFLASHING = 3;\n\tNO_UPDATE_REQUIRED = 4;\n\tREBOOT_PENDING = 5;\n\tGETTING_TARGET_VERSION_FAILED = 6;\n\tGETTING_TARGET_VERSION_EXHAUSTED = 7;\n\tNO_VALID_ARTIFACT = 8;\n\tILLEGAL_ARTIFACT = 9;\n\tDOWNLOADING_UPDATE_IMAGE_FAILED = 10;\n\tDOWNLOADING_UPDATE_IMAGE_EXHAUSTED = 11;\n\tFLASHING_FAILED = 12;\n}\n\nenum WifiSetupRequirementState {\n\tNOT_REQUIRED = 0;\n\tREQUIRED_COUNTDOWN = 1;\n\tREQUIRED_PAUSED = 2;\n\tREQUIRED_COMPLETE = 3;\n}\n\nmessage Status {\n\toptional int32 code = 1 [json_name=\"code\"];\n\toptional string message = 2 [json_name=\"message\"];\n}\n\nmessage Timestamp {\n\toptional int64 seconds = 1 [json_name=\"seconds\"];\n\toptional int32 nanos = 2 [json_name=\"nanos\"];\n}\n\nmessage DoubleValue {\n\toptional double value = 1 [json_name=\"value\"];\n}\n\nmessage FloatValue {\n\toptional float value = 1 [json_name=\"value\"];\n}\n\nmessage Int64Value {\n\toptional int64 value = 1 [json_name=\"value\"];\n}\n\nmessage UInt64Value {\n\toptional uint64 value = 1 [json_name=\"value\"];\n}\n\nmessage Int32Value {\n\toptional int32 value = 1 [json_name=\"value\"];\n}\n\nmessage UInt32Value {\n\toptional uint32 value = 1 [json_name=\"value\"];\n}\n\nmessage BoolValue {\n\toptional bool value = 1 [json_name=\"value\"];\n}\n\nmessage StringValue {\n\toptional string value = 1 [json_name=\"value\"];\n}\n\nmessage BytesValue {\n\toptional bytes value = 1 [json_name=\"value\"];\n}\n\nmessage UnlockChallenge {\n\toptional string device_id = 1 [json_name=\"deviceId\"];\n\toptional bytes nonce = 2 [json_name=\"nonce\"];\n\toptional bytes sign_spki = 4 [json_name=\"signSpki\"];\n\toptional string grant_keydata = 5 [json_name=\"grantKeydata\"];\n\toptional string service_keydata = 6 [json_name=\"serviceKeydata\"];\n\trepeated string authority_grants = 7 [json_name=\"authorityGrants\"];\n}\n\nmessage StartUnlockRequest {\n}\n\nmessage StartUnlockResponse {\n\toptional string device_id = 1 [json_name=\"deviceId\"];\n\toptional bytes nonce = 2 [json_name=\"nonce\"];\n\toptional bytes sign_spki = 3 [json_name=\"signSpki\"];\n}\n\nmessage FinishUnlockRequest {\n\toptional bytes challenge = 1 [json_name=\"challenge\"];\n\toptional bytes signature = 2 [json_name=\"signature\"];\n}\n\nmessage FinishUnlockResponse {\n\toptional uint32 status = 1 [json_name=\"status\"];\n}\n\nenum UtDisablementCode {\n\tUNKNOWN_STATE = 0;\n\tOKAY = 1;\n\tNO_ACTIVE_ACCOUNT = 2;\n\tTOO_FAR_FROM_SERVICE_ADDRESS = 3;\n\tIN_OCEAN = 4;\n\tINVALID_COUNTRY = 5;\n\tBLOCKED_COUNTRY = 6;\n\tDATA_OVERAGE_SANDBOX_POLICY = 7;\n\tCELL_IS_DISABLED = 8;\n\tUNLICENSED_COUNTRY = 9;\n}\n\nmessage TimestampInfo {\n\toptional .SpaceX.API.Device.Epoch epoch = 1 [json_name=\"epoch\"];\n\toptional int64 nanoseconds = 2 [json_name=\"nanoseconds\"];\n}\n\nenum Epoch {\n\tUNIX = 0;\n\tGPS = 1;\n}\n",
        "ca": "",
        "chain": "",
        "key": "",
        "mutualTls": false,
        "ssl": false,
        "selfsigned": false,
        "localServer": false
    },
    {
        "id": "525a96f69794c841",
        "type": "tcp in",
        "z": "592c2bf61e20fa21",
        "name": "",
        "server": "server",
        "host": "",
        "port": "8500",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 240,
        "y": 380,
        "wires": [
            [
                "a905ed50178a1bc3"
            ]
        ]
    },
    {
        "id": "8e4ab14af5df869c",
        "type": "function",
        "z": "592c2bf61e20fa21",
        "name": "transform to owntrack format",
        "func": "const kmh = msg.payload.speedKnots * 1.852;\nmsg.payload.dateTime\nconst created_at = ~~(new Date().getTime()/1000);\nconst tst = ~~((new Date(msg.payload.dateTime)).getTime()/1000)\n\nif (msg.payload.status === 'warning') {\n    return\n}\n\nmsg.payload = {\n    _type: 'location',\n    bs: 0,\n    lat: msg.payload.lat,\n    lon: msg.payload.lon,\n    tst,\n    vel: ~~kmh, // convert to int\n    created_at,\n    acc: 1, // required from HA\n    tid: 'RUDY' // used to display initials\n};\n\nmsg.topic = 'owntracks/vanpi/rudy'\nmsg.rate = (msg.payload.vel)\n    ? 1000 * 30 // every 30 second while driving\n    : 1000 * 60 * 10; // every 10 minutes standing still\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 380,
        "wires": [
            [
                "3728f89c59064bdf"
            ]
        ]
    },
    {
        "id": "a905ed50178a1bc3",
        "type": "nmea",
        "z": "592c2bf61e20fa21",
        "name": "",
        "property": "payload",
        "outputProperty": "payload",
        "x": 370,
        "y": 380,
        "wires": [
            [
                "cec0f8bf0f70b971"
            ]
        ]
    },
    {
        "id": "be96f9257f9187d2",
        "type": "mqtt out",
        "z": "592c2bf61e20fa21",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0ddb07c65cbb68bc",
        "x": 1290,
        "y": 380,
        "wires": []
    },
    {
        "id": "cec0f8bf0f70b971",
        "type": "switch",
        "z": "592c2bf61e20fa21",
        "name": "",
        "property": "payload.sentence",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "GGA",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "VTG",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "RMC",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 530,
        "y": 380,
        "wires": [
            [],
            [],
            [
                "8e4ab14af5df869c"
            ]
        ]
    },
    {
        "id": "3728f89c59064bdf",
        "type": "delay",
        "z": "592c2bf61e20fa21",
        "name": "Rate limit depending on speed",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": true,
        "outputs": 1,
        "x": 1070,
        "y": 460,
        "wires": [
            [
                "be96f9257f9187d2"
            ]
        ]
    },
    {
        "id": "244ffe3daf7d7c31",
        "type": "http response",
        "z": "592c2bf61e20fa21",
        "name": "location",
        "statusCode": "",
        "headers": {},
        "x": 1060,
        "y": 600,
        "wires": []
    },
    {
        "id": "337b27fd0119b584",
        "type": "function",
        "z": "592c2bf61e20fa21",
        "name": "read location",
        "func": "msg.payload = {\n  \"location\": {\n    \"lat\": msg.payload.attributes.latitude,\n    \"lng\": msg.payload.attributes.longitude,\n  },\n  \"accuracy\": 0\n}\nmsg.statusCode = 200\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 600,
        "wires": [
            [
                "244ffe3daf7d7c31"
            ]
        ]
    },
    {
        "id": "46ec7122413a5622",
        "type": "http in",
        "z": "592c2bf61e20fa21",
        "name": "",
        "url": "/location",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 450,
        "y": 600,
        "wires": [
            [
                "78174f53095c0298"
            ]
        ]
    },
    {
        "id": "3c8909a75e75cb16",
        "type": "comment",
        "z": "592c2bf61e20fa21",
        "name": "geoclue location service",
        "info": "since geoclue's main location service (mozilla) has shut down, I use my own GPS data to detect location",
        "x": 720,
        "y": 540,
        "wires": []
    },
    {
        "id": "78174f53095c0298",
        "type": "http request",
        "z": "592c2bf61e20fa21",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://host.docker.internal:8123/api/states/device_tracker.tobias_asusai2202",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "bearer",
        "senderr": false,
        "headers": [],
        "x": 670,
        "y": 600,
        "wires": [
            [
                "337b27fd0119b584"
            ]
        ]
    },
    {
        "id": "f09dbbc79b435277",
        "type": "function",
        "z": "592c2bf61e20fa21",
        "name": "persist location",
        "func": "flow.set('lat', msg.payload.lat * (msg.payload.latPole === 'N' ? 1 : -1) );\nflow.set('lon', msg.payload.lon * (msg.payload.lonPole === 'E' ? 1 : -1) );\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "f4d9fd8.d9123",
        "type": "grpc-call",
        "z": "f2f940563f6cfb82",
        "name": "",
        "server": "1357fe2675118b42",
        "service": "Device",
        "method": "Handle",
        "chain": "",
        "key": "",
        "x": 1650,
        "y": 400,
        "wires": [
            [
                "d0bd49455efb80c8"
            ]
        ]
    },
    {
        "id": "aa08bd2b.97c5b",
        "type": "debug",
        "z": "f2f940563f6cfb82",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1830,
        "y": 360,
        "wires": []
    },
    {
        "id": "83f9083f.6e5248",
        "type": "function",
        "z": "f2f940563f6cfb82",
        "name": "get_status",
        "func": "msg.payload = {get_status: {}}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 120,
        "wires": [
            [
                "f4d9fd8.d9123"
            ]
        ]
    },
    {
        "id": "e3c95ccf3e8d9ecd",
        "type": "function",
        "z": "f2f940563f6cfb82",
        "name": "stow",
        "func": "msg.payload = {dish_stow: {}}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 340,
        "wires": [
            [
                "f4d9fd8.d9123"
            ]
        ]
    },
    {
        "id": "13eaf0931432a1f0",
        "type": "function",
        "z": "f2f940563f6cfb82",
        "name": "unstow",
        "func": "msg.payload = {dish_stow: { unstow: true }}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 400,
        "wires": [
            [
                "f4d9fd8.d9123"
            ]
        ]
    },
    {
        "id": "792b0a570c4607f8",
        "type": "debug",
        "z": "f2f940563f6cfb82",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 340,
        "wires": []
    },
    {
        "id": "9f2d39e9a4f13bec",
        "type": "http in",
        "z": "f2f940563f6cfb82",
        "name": "",
        "url": "/dish/:path",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 820,
        "y": 400,
        "wires": [
            [
                "8f5a5a4e8c72253a"
            ]
        ]
    },
    {
        "id": "d0bd49455efb80c8",
        "type": "http response",
        "z": "f2f940563f6cfb82",
        "name": "respond",
        "statusCode": "",
        "headers": {},
        "x": 1820,
        "y": 400,
        "wires": []
    },
    {
        "id": "8f5a5a4e8c72253a",
        "type": "switch",
        "z": "f2f940563f6cfb82",
        "name": "path",
        "property": "req.params.path",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "stow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "unstow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "clear-obstruction-map",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1050,
        "y": 400,
        "wires": [
            [
                "e3c95ccf3e8d9ecd"
            ],
            [
                "13eaf0931432a1f0"
            ],
            [
                "f28b92b2ad7242ca"
            ],
            [
                "fb2a733246bf6d9a"
            ]
        ]
    },
    {
        "id": "ddf72ed5d20398c7",
        "type": "http response",
        "z": "f2f940563f6cfb82",
        "name": "not found",
        "statusCode": "404",
        "headers": {},
        "x": 1820,
        "y": 520,
        "wires": []
    },
    {
        "id": "fb2a733246bf6d9a",
        "type": "function",
        "z": "f2f940563f6cfb82",
        "name": "set error",
        "func": "msg.payload = \"not found\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 520,
        "wires": [
            [
                "ddf72ed5d20398c7"
            ]
        ]
    },
    {
        "id": "f28b92b2ad7242ca",
        "type": "function",
        "z": "f2f940563f6cfb82",
        "name": "clear obstruction map",
        "func": "msg.payload = {dish_clear_obstruction_map: {}}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 460,
        "wires": [
            [
                "f4d9fd8.d9123"
            ]
        ]
    },
    {
        "id": "94aa88ba7b77f29a",
        "type": "comment",
        "z": "f2f940563f6cfb82",
        "name": "unused",
        "info": "",
        "x": 1350,
        "y": 80,
        "wires": []
    },
    {
        "id": "fdb9d9f10178ebc6",
        "type": "inject",
        "z": "f2f940563f6cfb82",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1060,
        "y": 140,
        "wires": [
            [
                "e3c95ccf3e8d9ecd"
            ]
        ]
    }
]